
<!--- Sidebar Vertical Navigation (Experimental) -->
<div th:fragment="vertical-nav (publisher)" class="ui vertical left menu sidebar">

    <div class="menu-header"></div>

    <div class="item general">
        <div class="menu">
            <a href="/" class="item" th:class="${#strings.contains(template, 'ka-index')} ? 'active item' : 'item'">Startseite</a>
            <!--a href="/angebote" th:class="${#strings.contains(template, 'search')} ? 'active item' : 'item'">Angebotssuche</a-->
            <a th:if="${!authenticated}" href="/angebote/my" class="item">Einstellen</a>
            <a th:if="${!authenticated}" href="/sign-up/login" class="item">Login / Registriren</a>
        </div>
    </div>

    <div class="item account" th:if="${authenticated}">
        <div class="header">Account</div>
        <div class="menu">
            <a href="/angebote/my" class="item">Meine Eintr&auml;ge</a>
            <!--a href="/sign-up/edit" class="item">Bearbeiten</a-->
            <a href="/sign-up/login" class="item">Logout</a>
        </div>
    </div>

    <div th:if="${is_publisher} or ${is_district_admin}" class="item administration">
        <div class="header">Administration</div>
        <div class="menu">
            <a th:if="${is_publisher}" href="/website/list/filter/0" class="item">Gro&szlig;e Listenansicht</a>
            <a th:if="${is_publisher}" href="/website/list/freischalten" class="item">Neue Orte freischalten</a>
            <!--a href="/website/bezirk/edit" class="item">Bezirksseite bearbeiten</a-->
            <a th:if="${is_district_admin}" href="/website/list/bezirksregionen" class="item">StadtteilkoordinatorInnen</a>
            <a th:if="${is_publisher}" href="/website/list/ansprechpartner" class="item">EinrichtungsinhaberInnen</a>
            <!--a href="/site/administration/" class="item">Listenansicht</a-->
            <!-- Kiezatlas Membership -->
            <a th:if="${is_site_manager}" href="/website/sites/" class="item">Stadtpl&auml;ne bearbeiten</a>
        </div>
    </div>

    <div class="item bezirke">
        <div class="header">Bezirksseiten</div>
        <!-- Find # NOJS Solution for navigating to district frontpages -->
        <!--div class="menu" id="bezirksauswahl">
            <a class="item" th:each="district : ${districts}" th:id="${district.id}"
                 th:text="${district.simpleValue}" th:href="'/#' + ${district.id}">Mitte</a>
        </div-->
        <div class="menu">
            <a href="/" th:class="'item gesamt'">Gesamtstadtplan</a>
            <a href="/#charlottenburg-wilmersdorf" th:class="'item cw'">Charlottenburg-Wilmersdorf</a>
            <a href="/#friedrichshain-kreuzberg" th:class="'item fk'">Friedrichshain-Kreuzberg</a>
            <a href="/#lichtenberg" th:class="'item lichtenberg'">Lichtenberg</a>
            <a href="/#mitte" th:class="'item mitte'">Mitte</a>
            <a href="/#neuk%C3%B6lln" th:class="'item nk'">Neuk&ouml;lln</a>
            <a href="/#spandau" th:class="'item spandau'">Spandau</a>
            <a href="/#steglitz-zehlendorf" th:class="'item spandau'">Steglitz-Zehlendorf</a>
            <a href="/#tempelhof-sch%C3%B6neberg" th:class="'item spandau'">Tempelhof-Sch&ouml;neberg</a>
            <a href="/#treptow-k%C3%B6penick" th:class="'item spandau'">Treptow-K&ouml;penick</a>
            <a th:class="'item inactive'">Pankow</a>
            <a th:class="'item inactive'">Marzahn-Hellersdorf</a>
            <a th:class="'item inactive'">Reinickendorf</a>
        </div>
    </div>
    <div class="ui item sozialraumdaten">
        <div class="header">Sozialraumdaten</div>
        <div class="menu" id="sozialraumdaten">
            <a href="/website/sozialraumdaten" class="item">via Karte</a>
            <a href="https://sozialraumdaten.kiezatlas.de/" class="item">via Straße / Hnr.</a>
        </div>
    </div>

    <div class="item infos" th:if="${!#lists.isEmpty(menuItems)}">
        <div class="header">Infos</div>
        <div class="menu">
            <span th:each="menuItem : ${menuItems}">
                <a th:href="${menuItem.href}" th:class="'item'" th:id="${menuItem.id}" th:text="${menuItem.label}">Menu Item</a>
                <span th:each="childItem : ${menuItem.childMenuItems}">
                    <a class="ui item" th:href="${childItem.fullHref}" th:text="${childItem.label}"></a>
                </span>
            </span>
        </div>
    </div>

    <p>&nbsp;</p>

</div>

<!-- 
    Kiezatlas 2.0 UI Navigation Menu (White)
    Note: A copy of this needs to be maintainede in in dm4-kiezatlas-angebote views/fragments/navigation.html
-->
<div th:fragment="top-menu (publisher)">

    <div class="ui container">

        <h3 class="citymap-title"></h3>
        <a href="/" class="home" title="zur Startseite">
            <img src="/de.kiezatlas.website/images/kiezatlas2-logo.png" class="mobile-logo" />
        </a>

        <a class="toc item ui basic button">
            <i class="sidebar">Men&uuml;</i>
        </a>

        <div class="ui borderless right top menu">

            <!--a th:if="!${#strings.contains(template, 'website-')}" href="/" class="item">Startseite</a-->
            <!--a th:if="!${#strings.contains(template, 'page')}"
               class="item open-sidebar" onclick="$sidebarUi.sidebar('toggle');">Men&uuml;</a-->
               <!--  or !#strings.contains(template, 'login') or !#strings.contains(template, 'sign-up')} -->
            <a th:if="${!authenticated}" href="/angebote/my" class="item">Einstellen</a>
            <a th:if="${authenticated}" href="/angebote/my" class="item">Meine Eintr&auml;ge</a>
            <!--a href="/angebote" class="item all-angebote">Angebote</a-->
            <div class="ui dropdown item">
                <!-- Find # NOJS Solution for navigating to district frontpages -->
                <span>Bezirksseiten</span> <i class="dropdown icon"></i>
                <div class="menu" id="bezirksauswahl">
                    <a class="item" th:each="district : ${districts}" th:id="${district.id}"
                         th:text="${district.simpleValue}" th:href="'/#' + ${district.simpleValue}">Mitte</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <span>Sozialraumdaten</span> <i class="dropdown icon"></i>
                <div class="menu" id="sozialraumdaten">
                    <a href="/website/sozialraumdaten" class="item">via Karte</a>
                    <a href="https://sozialraumdaten.kiezatlas.de/" class="item">via Straße / Hnr.</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <span>Infos</span> <i class="dropdown icon"></i>
                <div class="menu">
                    <a target="_blank" href="http://pax.spinnenwerk.de/~kiezatlas/" class="item">Alter Kiezatlas</a>
                    <a href="/ansprechpartner-innen-liste" class="item">AnsprechpartnerInnen Liste</a>
                    <a href="/infos-zum-projekt" class="item">Das Projekt</a>
                    <div class="ui dropdown button item">
                        <i class="icon dropdown left"></i>
                        <span class="text">Hilfe</span>
                        <div class="menu left">
                            <a href="/hilfe" class="item">&Uuml;bersicht</a>
                            <a href="/admin/workshops-angebotsinfos-in-den-bezirksregionen" class="item">F&uuml;r AnbieterInnen</a>
                            <!--a href="/hilfe-fuer-einrichtungen" class="item">F&uuml;r Einrichtungen</a-->
                            <a href="/admin/nutzerinfos-neue-version" class="item">Kiezatlas 2.0</a>
                            <!--a href="/admin/workflows-und-berechtigungen" class="item">Workflows &amp; Berechtigungen</a-->
                            <!--a href="/admin/nutzerrollen-uebersicht" class="item">&Uuml;bersicht NutzerInnen</a-->
                            <a href="/open-source" class="item">Open Source</a>
                            <!--a href="/tipps-und-tricks" class="item">Tipps &amp; Tricks</a-->
                        </div>
                    </div>
                    <a href="/impressum" class="item">Impressum</a>
                    <a href="/nutzungsbedingungen-kiezatlas-website" class="item">Nutzungsbedingungen</a>
                </div>
            </div>
            <a th:if="!${authenticated}" href="/sign-up/login"
               th:class="${#strings.contains(template, 'login')} ? 'active item login' : 'item login'">Login / Registrieren</a>
            <a th:if="${authenticated}" href="/sign-up/login"
               th:class="${#strings.contains(template, 'logout')} ? 'active item logout' : 'item logout'">Logout</a>
        </div>
    </div>

</div>

<!-- Low Scrolling Position Semantic Top Menu -->
<div th:fragment="lower-page-nav">
    <div class="ui top fixed menu">
        <div class="fixed-border">
            <div class="ui container">

                <a th:replace="fragments/widgets :: logo-site-link"></a>

                <a class="toc item ui basic button">
                    <i class="sidebar">Men&uuml;</i>
                </a>

                <div class="ui borderless right top menu">

                    <!--a th:if="!${#strings.contains(template, 'website-')}" href="/" class="item">Startseite</a-->
                    <!--a th:if="!${#strings.contains(template, 'page')}"
                       class="item open-sidebar" onclick="$sidebarUi.sidebar('toggle');">Men&uuml;</a-->
                       <!--  or !#strings.contains(template, 'login') or !#strings.contains(template, 'sign-up')} -->
                    <a th:if="${!authenticated}" href="/angebote/my" class="item">Einstellen</a>
                    <a th:if="${authenticated}" href="/angebote/my" class="item">Meine Eintr&auml;ge</a>
                    <!--a href="/angebote" class="item all-angebote">Angebote</a-->
                    <div class="ui dropdown item">
                        <!-- Find # NOJS Solution for navigating to district frontpages -->
                        <span>Bezirksseiten</span> <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/" th:class="'item gesamt'">Gesamtstadtplan</a>
                            <a href="/#charlottenburg-wilmersdorf" th:class="'item cw'">Charlottenburg-Wilmersdorf</a>
                            <a href="/#friedrichshain-kreuzberg" th:class="'item fk'">Friedrichshain-Kreuzberg</a>
                            <a href="/#lichtenberg" th:class="'item lichtenberg'">Lichtenberg</a>
                            <a href="/#mitte" th:class="'item mitte'">Mitte</a>
                            <a href="/#neuk%C3%B6lln" th:class="'item nk'">Neuk&ouml;lln</a>
                            <a href="/#spandau" th:class="'item spandau'">Spandau</a>
                            <a href="/#steglitz-zehlendorf" th:class="'item spandau'">Steglitz-Zehlendorf</a>
                            <a href="/#tempelhof-sch%C3%B6neberg" th:class="'item spandau'">Tempelhof-Sch&ouml;neberg</a>
                            <a href="/#treptow-k%C3%B6penick" th:class="'item spandau'">Treptow-K&ouml;penick</a>
                            <a th:class="'item inactive'">Pankow</a>
                            <a th:class="'item inactive'">Marzahn-Hellersdorf</a>
                            <a th:class="'item inactive'">Reinickendorf</a>
                        </div>
                    </div>
                    <div class="ui dropdown item">
                        <span>Sozialraumdaten</span> <i class="dropdown icon"></i>
                        <div class="menu" id="sozialraumdaten">
                            <a href="/website/sozialraumdaten" class="item">via Karte</a>
                            <a href="https://sozialraumdaten.kiezatlas.de/" class="item">via Straße / Hnr.</a>
                        </div>
                    </div>
                    <div class="ui dropdown item">
                        <span>Infos</span> <i class="dropdown icon"></i>
                        <div class="menu">
                            <a target="_blank" href="http://pax.spinnenwerk.de/~kiezatlas/" class="item">Alter Kiezatlas</a>
                            <a href="/ansprechpartner-innen-liste" class="item">AnsprechpartnerInnen Liste</a>
                            <a href="/infos-zum-projekt" class="item">Das Projekt</a>
                            <div class="ui dropdown button item">
                                <i class="icon dropdown left"></i>
                                <span class="text">Hilfe</span>
                                <div class="menu left">
                                    <a href="/hilfe" class="item">&Uuml;bersicht</a>
                                    <a href="/admin/workshops-angebotsinfos-in-den-bezirksregionen" class="item">F&uuml;r AnbieterInnen</a>
                                    <!--a href="/hilfe-fuer-einrichtungen" class="item">F&uuml;r Einrichtungen</a-->
                                    <a href="/admin/nutzerinfos-neue-version" class="item">Kiezatlas 2.0</a>
                                    <!--a href="/admin/workflows-und-berechtigungen" class="item">Workflows &amp; Berechtigungen</a-->
                                    <!--a href="/admin/nutzerrollen-uebersicht" class="item">&Uuml;bersicht NutzerInnen</a-->
                                    <a href="/open-source" class="item">Open Source</a>
                                    <!--a href="/tipps-und-tricks" class="item">Tipps &amp; Tricks</a-->
                                </div>
                            </div>
                            <a href="/impressum" class="item">Impressum</a>
                            <a href="/nutzungsbedingungen-kiezatlas-website" class="item">Nutzungsbedingungen</a>
                        </div>
                    </div>
                    <a th:if="!${authenticated}" href="/sign-up/login"
                       th:class="${#strings.contains(template, 'login')} ? 'active item login' : 'item login'">Login / Registrieren</a>
                    <a th:if="${authenticated}" href="/sign-up/login"
                       th:class="${#strings.contains(template, 'logout')} ? 'active item logout' : 'item logout'">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>