
<div class="search-dialog" th:fragment="dialog (expanded, districts, tags, search, type)">

    <!-- Search Area -->
    <div class="ui vertical segment search blue2bg">
        <div class="ui container">
            <div class="ui left icon action input">
                <i class="search icon"></i>
                <input id="query" name="search" onkeyup="handleSearchInput(this)"
                    class="prompt" type="text" placeholder="Geben Sie hier Ihre Suchanfrage ein..." />
                <div class="ui button dropdown blue1 blue4bg">
                    <input type="hidden" name="type" />
                    <i class="dropdown icon"></i>
                    <div class="default text">Lade...</div>
                </div>
                <div class="ui ka button" onclick="do_text_search()">Suchen</div>
            </div>
        </div>
    </div>

    <!-- Query Parameter Area -->
    <div class="ui vertical segment query-parameter container"></div>
    <!-- Location Parameter Area
    <div class="ui vertical segment location-parameter container"></div-->

    <!-- Search Results Area -->
    <div class="ui vertical segment search-results hidden">
        <div class="ui container">
            <h3 class="ui header thin hidden">Ihre Suchergebnisse (<span class="count"></span>)</h3>
        </div>
    </div>
    <div class="ui vertical segment blue4bg result-list hidden">
        <div class="ui container">
            <!-- Search Results Container -->
        </div>
    </div>

    <div class="ui vertical segment more-button hidden">
        <div class="more-results ui container" onclick="render_search_results()" data-result-from="0">
            <h3 class="header thin">
                <i class="icon caret down"></i>Weitere 7 von <span class="count"></span> Suchergebnissen anzeigen
            </h3>
        </div>
    </div>

    <!-- Search Criterias Area -->
    <div class="ui vertical segment">
        <div class="ui container search-criterias">
            <h3 class="header thin" onclick="toggleSearchCriteria()">Suchkriterien <i th:class="${expanded} ? 'icon caret up' : 'icon caret down'"></i></h3>
            <div th:class="${expanded} ? 'ui two column grid stackable filter' : 'ui two column stackable grid filter hidden'">
                <div class="column first">
                    <div class="ui two column grid">
                        <!--div class="column">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui radio checkbox place">
                                            <input type="radio" name="type" id="place" value="place" onchange="einrichtungenChecked()" checked="checked" />
                                            <label for="place">Einrichtungen</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox event">
                                            <input type="radio" name="type" id="event" value="event" onchange="angeboteChecked()"/>
                                            <label for="event">Angebote</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                        <div class="ui row">
                            <div class="column search-type">
                                <div class="ui form">
                                    <div class="grouped fields">
                                        <div class="field">
                                            <div class="ui radio checkbox quick">
                                                <input type="radio" name="method" id="quick" value="quick" checked="checked"
                                                       onchange="quickSearchChecked()"/>
                                                <label for="quick">Schnellsuche</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox fulltext">
                                                <input type="radio" name="method" value="fulltext" id="fulltext"
                                                       onchange="fulltextSearchChecked()"/>
                                                <label for="fulltext">Volltextsuche</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column area">
                                <div class="ui form">
                                    <div class="grouped fields">
                                        <div class="field">
                                            <div class="ui radio checkbox berlin 0">
                                                <input type="radio" name="area" id="0" value="0" checked="checked"
                                                       onchange="berlinSearchChecked(this)"/>
                                                <label for="0">Gesamtberlin</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox circle">
                                                <input type="radio" name="area" id="circle" value="nearby"
                                                       onchange="showNearbySearch()"/>
                                                <label for="circle">Umkreissuche</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="column sixteen wide nearby hidden">
                                <h4 class="header thin">Suche beschr&auml;nken auf Ergebnisse in der N&auml;he von</h4>
                                <div class="column attributes">
                                    <form action="javascript:_void()" id="location-search-form" accept-charset="UTF-8">
                                        <div class="nearby-dialog ui search fluid action input">
                                            <!-- label for="nearby" class="label">In der N&auml;he von</label -->
                                            <input id="nearby" title="Textbasierte Suche nach Anschrift und Geo-Koordinaten" name="nearby" class=""
                                                   type="text" placeholder="Straße Hnr., PLZ , Anschrift in der Nähe von..."/>
                                            <button id="do-nearby" title="Standort suchen" class="ui icon button"
                                                onclick="javascript:do_search_streetcoordinates()">Go</button>
                                            <div class="message"></div>
                                            <!--button id="do-locating" title="Meinen aktuellen Standort nutzen" class="circular ui icon button basic"
                                                onclick="javascript:do_browser_location()"><i class="location arrow icon"></i><span>Standort nutzen</span></button-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui eight column second grid">
                    <div class="seven wide column district attributes">
                        <div class="ui form">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui radio checkbox 7293">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7293" tabindex="0"/>
                                        <label for="7293">Charlottenburg-Wilmersdorf</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox 7278">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7278" tabindex="0"/>
                                        <label for="7278">Friedrichshain-Kreuzberg</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox 7302">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7302" tabindex="0"/>
                                        <label for="7302">Lichtenberg</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="seven wide column district attributes">
                        <div class="ui form">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui radio checkbox 7275">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7275" tabindex="0"/>
                                        <label for="7275">Mitte</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7287" tabindex="0"/>
                                        <label for="7287">Neukölln</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox 7296">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7296" tabindex="0"/>
                                        <label for="7296">Spandau</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="seven wide column district attributes">
                        <div class="ui form">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui radio checkbox 7299">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7299" tabindex="0"/>
                                        <label for="7299">Steglitz-Zehlendorf</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox 7281">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7281" tabindex="0"/>
                                        <label for="7281">Tempelhof-Schöneberg</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox 7284">
                                        <input type="radio" onchange="berlinSearchChecked(this)" name="area" id="7284" tabindex="0"/>
                                        <label for="7284">Treptow-Köpenick</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="seven wide column district attributes">
                        <div class="ui form">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui radio checkbox 1707925">
                                        <input type="radio" disabled="disabled" name="area" id="1707925" tabindex="0"/>
                                        <label for="1707925">Marzahn-Hellersdorf</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox 7290">
                                        <input disabled="disabled" type="radio" name="area" id="7290" tabindex="0"/>
                                        <label for="7290">Pankow</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox 1707928">
                                        <input disabled="disabled" type="radio" name="area" id="1707928" tabindex="0"/>
                                        <label for="1707928">Reinickendorf</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column sixteen wide angebote-tags hidden">
                    <h4 class="header thin">Schlagworte f&uuml;r Angebote</h4>
                    <div class="column attributes">
                        <div class="tag" th:each="tag : ${tags}"
                             th:text="${tag.simpleValue}" th:id="${tag.id}">Stichwort 1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>