
<div class="search-dialog" th:fragment="dialog (expanded)">

    <!-- Search Area -->
    <div class="ui vertical segment search blue2bg">
        <div class="ui container">
            <div class="ui left icon action input">
                <i class="search icon"></i>
                <input id="query" onkeyup="handle_search_input()"
                    class="prompt" type="text" placeholder="Geben Sie hier Ihre Suchanfrage ein..." />
                <div class="ui ka button" onclick="search()">Suchen</div>
            </div>
        </div>
    </div>

    <!-- Search Results Area -->
    <div class="ui vertical segment search-results hidden">
        <div class="ui container">
            <h3 class="ui header thin hidden">Ihre Suchergebnisse</h3>
        </div>
    </div>
    <div class="ui vertical segment blue4bg result-list hidden">
        <div class="ui container">
            <div class="item">
                <h3 class="thin">Search result one..</h3>
                <div class="subline"></div>
                <a href="/">mehr Infos</a>
            </div>
        </div>
    </div>

    <!-- Search Criterias Area -->
    <div class="ui vertical segment">
        <div class="ui container search-criterias">
            <h3 class="header thin" onclick="toggleSearchCriteria()">Suchkriterien <i th:class="${expanded} ? 'icon caret up' : 'icon caret down'"></i></h3>
            <div th:class="${expanded} ? 'ui two column grid filter' : 'ui two column grid filter hidden'">
                <div class="column">
                    <div class="ui three column grid">
                        <div class="column">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="type" id="places" checked="checked" />
                                            <label for="places">Einrichtungen</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="type" id="events" />
                                            <label for="events">Angebote</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column search-type">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="method" id="quick" checked="checked" />
                                            <label for="quick">Schnellsuche</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="method" id="fulltext" />
                                            <label for="fulltext">Volltextsuche</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column area">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="area" id="berlin" checked="checked" />
                                            <label for="berlin">Gesamtberlin</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="area" id="circle" />
                                            <label for="circle">Umkreissuche</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column attributes">
                        <div class="ui form">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="area" id="cw" />
                                        <label for="cw">Kriterium 1</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="area" id="fk" />
                                        <label for="fk">Kriterium 2</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="area" id="xyz" />
                                        <label for="xyz">...</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>