
/** --- Re-design custom styles --- **/

.ui .navigation {
    height: 138px;
    border-bottom: 1px solid #3787ab;
}

.ui.segment.teaser {
    height: 338px;
    border-bottom: 1px solid #3787ab;
    background-image: url('/de.kiezatlas.website/images/header_visual_dummy75.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.ui.teaser .header {
    width: 25%;
    margin-bottom: 0px;
}

.ui.teaser .subline {
    background-color: #fff;
    padding: .9em;
}

.ui.teaser .subline,
.ui.teaser .header,
.ui .search.segment,
.ui .search-results,
.ui .search-criteria,
.ui .content,
.ui .footer {
    padding: .5em;
}

.ui .navigation .top-menu {
    position: relative;
    top: 40px;
}

.ui .navigation .top-menu .menu {
    float: right;
}

.ui .bold,
.ui.secondary.menu .item:hover {
    font-weight: bold;
}

.ui .navigation .mobile-logo {
    height: 75px;
    position: relative;
    top: -15px;
}

/** Navigation on Sub-Pages **/

.page.detail .navigation {
    height: 80px;
}

.page.detail .navigation .top-menu {
    top: 0px;
}

.ui .navigation .mobile-logo {
    height: 50px;
    top: 5px;
}

.page.detail .container.entry {
    margin-top: 3em;
    margin-bottom: 2em;
}

.ui.page.detail #map {
    height: 300px;
}

/** Typography related Styles **/

.ui .header.thin {
    font-style: italic;
}

.ui .header.thin b {
    font-style: normal;
}

.white {
    color: #fff;
}

.page .ui.header,
.page,
.blue1 {
    color: #193441;
}

.blue1bg {
    background-color: #193441;
    font-smooth: antialised;
    -webkit-font-smoothing: antialiased;
}

.blue2 {
    color: #9ec8d6;
}

.blue2bg {
    background-color: #9ec8d6;
    font-smooth: antialised;
    -webkit-font-smoothing: antialiased;
}

.blue3 {
    color: #3787ab;
}

.blue3bg {
    background-color: #3787ab;
    font-smooth: antialised;
    -webkit-font-smoothing: antialiased;
}

.blue4 {
    color: #ecf4f7;
}

.blue4bg {
    background-color: #ecf4f7;
}

.blue5 {
    color: #3e606f;
}

.blue5bg {
    background-color: #3e606f;
    font-smooth: antialised;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.yellow {
    color: #f8f6e9;
}

.yellowbg {
    background-color: #f8f6e9;
}

/** Footer specific overrides **/
.ui .footer.segment {
    margin-top: 4em;
    padding-top: 2em;
    border-top: 1px solid #3787ab;
}

.ui .footer .your-data img {
    margin-bottom: 1em;
}

.ui .footer .your-data div {
    margin-left: .85em;
}

.ui .bottomline {
    font-size: .9em;
}

/** -- Utils -- **/

.ui.grid.filter.hidden,
.hidden {
    display: none
}

.page #map {
    height: 500px;
}

.ui.button {
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

.ui.search {
    margin-top: 1em;
}

.ui.search .input {
    width: 100%;
    height: 40px;
}

.ui.search input {
    padding-top: 1em;
    font-size: 18px;
}

.ui.checkbox label {
    font-size: 18px;
}

.ui.search .input:hover {
    background-color: transparent;
}

.ui.radio.checkbox {
    height: 21px;
}

.ui.menu .dropdown.item .menu,
.ui.menu {
    font-size: 1em;
    border: 0px !important;
    -webkit-box-shadow: 0px 0px transparent;
    box-shadow: 0px 0px transparent;
}

.ui.dropdown .menu > .item,
.ui.ka.button {
    font-size: 18px;
    padding: .5em !important;
    padding-top: .7em !important;
}

.ui.search .ka.button {
    padding-bottom: .5em !important;
    padding-top: .7em !important;
    padding-right: 19% !important;
    padding-left: 1em !important;
    border-top-right-radius: 500rem !important;
    border-bottom-right-radius: 500rem !important;
}

.ui.dropdown > .dropdown.icon {
    margin-right: .3em;
}

.ui.search .ui.dropdown:not(.button)>.default.text,
.ui.search .ui.dropdown:not(.button)>.text {
    font-weight: bold;
    color: #193441;
}

.ui.search .ui.dropdown {
    background: #e0e1e2 none;
    padding: .5em;
    padding-left: 0em;
    padding-right: .8em;
}

.ui.inverted.dimmer .ui.loader {
    padding-left: 1em;
    padding-top: 3em;
}

.page.detail .ui.segment.teaser {
    background-image: url('/de.kiezatlas.website/images/header_visual_dummy-detail-75.jpg');
    height: 146px;
}

.page.detail .ui.teaser .header.subline {
    display: none;
}

.page.detail .ui.search {
    margin-top: 0em;
}

.page.detail .info-area {
    padding-top: 2em;
    padding-bottom: 1.5em;
}

.page.detail .metadata {
    padding-bottom: 1em;
}

.page.detail .imprint {
    padding-top: 1em;
}

.page.detail .metadata a,
.page.detail .info-area a {
    color: #9ec8d6;
}

.page.detail .metadata a:hover,
.page.detail .info-area a:hover {
    color: #ecf4f7;
}

/** -- Content Grid Columns -- **/

.ui.segment.content .grid .first.row {
    margin-top: .75em;
}

.ui.segment.content .grid .second.row,
.ui.segment.content .grid .third.row {
    padding-top: 0em;
}

.ui.segment.content .grid .column {
    margin-right: .5em;
    margin-left: .5em;
}

.ui.grid .row .column.action h3 {
   margin-top: 0em;
}

.ui.grid .row .column.action .subline {
    padding-top: 0em;
    padding-bottom: 1em;
}

.content .ui.grid .column.action h3 {
    padding-bottom: .3em;
}

.ui.grid .row .column {
    padding: 0em !important;
}

.content .ui.grid .column h3 {
    padding-top: .5em;
    padding-left: .7em;
    margin-bottom: 0em;
}

.content .ui.grid .column h3 {
    padding-top: .5em;
}

.ui.grid .column .subline,
.ui.grid .column .news-item {
    padding-top: .5em;
    padding-left: .9em;
    padding-right: .9em;
}

.ui.grid .row .column.circle-search .subline {
    padding-bottom: .5em;
}

.page.detail .info-area label,
.result-list .item a,
.content .ui.grid .row .column a,
.ui.grid .column .news-item a {
    text-decoration: none;
    font-weight: bold;
}

.ui.page.detail #map,
.ui.grid .map.column {
    border: 1px solid #ecf4f7;
}

.result-list .item i.icon,
.ui.grid .row .column a i.icon {
    margin-right: 0em;
    margin-left: -5px;
}

/** -- Search Results -- **/

.ui .search-results {
    margin-top: .5em;
    padding: 1em;
}

.ui .result-list {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.ui .result-list .item {
    margin-bottom: 1em;
}

.ui .result-list h3 {
    margin-bottom: 0em;
}

.ui.checkbox label,
.result-list .item .subline {
    font-size: 18px;
    line-height: 1.2em;
}

/** -- Search Criterias -- **/

.ui.page .segment .search-criterias {
    padding-top: 1em;
    border-bottom: 1px solid #ecf4f7;
}

.search-criterias .ui.grid.filter {
    padding-bottom: 1em;
}

.ui.search-criterias .header {
    cursor: pointer;
}

/** -- Map Fullscreen Related Styles -- **/

.map .container {
    display: flex;
}

.map .footer,
.map .header {
    position: fixed;
    left: 0px;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.map.header {
    top: 0px; 
}

.map .footer {
    bottom: 0px; 
}

.map .spacing {
    padding: .5em;
}

.map .map-panel {
    position: fixed;
    top: 45px; left: 0px;
    height: 100%;
    width: 70%;
}

.map .side-panel {
    position: fixed;
    top: 45px; right: 0px;
    height: 100%;
    width: 30%;
    border-left: 2px solid grey;
    padding: .5em;
    padding-top: 0px;
}

.map .side-panel .section {
    border-bottom: 1px solid grey;
}

.map .item .icon {
    width: 15px; height: 15px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
}

.map .side-panel .item {
    display: block;
    cursor: pointer;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

.map .side-panel .item:hover {
    background-color: rgba(0,0,0,0.2);
}

.map .icon.red {
    background-color: #ff0000;
}

.map .icon.blue {
    background-color: #00f;
}
