
/** -- New Semantic UI Custom Styled 2.3 Release -- **/
@import url('/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.css');

/** --- Re-design custom styles --- **/
body.pushable {
    background-color: #fff !important;
}

.ui .leaflet-container,
button, input, optgroup, select, textarea {
    font-family: Titillium,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

select.ui.dropdown {
    margin-bottom: 1em;
    padding: 0.5em !important;
}

select.ui.multiple {
    border-radius: .28571429rem;
    margin-bottom: 1em;
    max-width: 550px;
}

.edit .warning {
    margin-top: 1em;
    padding: .5em;
    padding-left: .75em;
    background-color: #ce0000;
    color: #fff;
    border-radius: .28571429rem;
    display: none;
    width: auto;
}

.edit #duplicates {
    margin-top: 1em;
    padding: .5em;
    z-index: 2000;
    border-radius: 0.285em;
    display: none;
}

.edit #duplicates a:hover {
    color: #f8f6e9;
}

form .invalid {
    border-color: #ce0000 !important;
    border-width: 2px;
}

#zielgruppen, #angebote-crit, #thema {
    padding: 0em;
    height: 280px;
}

#detail-area {
    margin-top: 2em;
}

#zielgruppen option,
#angebote-crit option,
#thema option {
    padding: .5em 1em;
}

.form .coord-buttons {
    margin-top: 1em;
}

.form .coord-buttons,
.form .cke_editable,
.ui.fluid.input {
    margin-bottom: 1em;
    width: 100%;
    border-radius: .28571429rem
}

.form .cke_editable {
    border: 1px solid rgba(34,36,38,.15);
    padding: .5em;
}

.ui .top.menu.fixed .fixed-border {
    border-bottom: 1px solid #3787ab;
    width: 100%;
    height: 52px;
}

.ui.webpages .top.fixed.menu.transition.visible,
.ui.webpages .top.menu.fixed .fixed-border {
    height: 58px;
}

.ui .top.menu.fixed .fixed-border .toc.button {
    display: none;
}

.ui .top.menu.fixed .fixed-border .mobile-logo {
    height: 42px;
    width: auto;
    margin-top: 9px;
}

.ui.webpages .top.menu.fixed .fixed-border .mobile-logo {
    height: 50px;
    margin-top: 8px;
}

.ui .top.menu.fixed .fixed-border .home,
.ui .top.menu.fixed .fixed-border .container .sitename {
    float: left;
}

.ui .top.menu.fixed .fixed-border .top.right {
    float: right;
}

.ui .navigation {
    height: 138px;
    border-bottom: 1px solid #3787ab;
}

.top-menu .toc.item {
    display: none;
}

.ui .top-menu .container {
    position: relative;
}

.ui .top-menu .container a {
    text-decoration: none;
}

.fixed.menu {
    display: none;
}

.ui.sidebar.menu .item.inactive {
    opacity: .5;
    cursor: text;
}

.ui.menu .item {
    color: #193441;
}

.webpages .ui.menu .item {
    font-style: italic;
}

.ui.segment.teaser {
    height: 338px;
    border-bottom: 1px solid #3787ab;
    background-image: url('/de.kiezatlas.website/images/header_visual_dummy75.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.ui.teaser .header.white.thin {
    width: 25%;
    margin-bottom: 0px;
}

.ui.teaser .header.subline {
    width: 25%;
    margin-bottom: 0px;
    padding: .8em;
}

.ui.teaser .subline {
    background-color: #fff;
    padding: .9em;
}

.ui.teaser .subline,
.ui.teaser .header,
.ui .search.segment,
.ui .search-results,
.ui .search-criteria,
.ui .content {
    padding: .5em;
}

.ui.footer .site-link .caption {
    margin-bottom: 2em;
}

.ui.footer .site-link .logo {
    max-width: 160px;
    height: auto;
    margin-bottom: 1em;
}

.ui.footer .your-data .list.webpages {
    padding-left: 1em;
}

.ui.footer .menu a.item {
    display: block;
}

.ui .navigation .top-menu {
    position: relative;
    top: 40px;
}

.ui .navigation .mobile-logo {
    height: auto;
    width: 155px;
    top: -20px;
}

.ui .navigation .top-menu .top.menu {
    float: right;
}

.ui .bold,
.ui.secondary.menu .item:hover {
    font-weight: bold;
}

/** Navigation on Sub-Pages **/

.page.detail .navigation {
    height: 80px;
}

.page.detail .navigation .top-menu {
    top: 0px;
}

.page.detail img.marker {
    display: inline-block;
    vertical-align: sub;
    height: 25px;
    width: auto;
    margin-right: .3em;
}

.fahrinfo-link img {
    width: 98px;
    height: auto;
}

.page.detail .navigation .mobile-logo {
    height: 60px;
    width: auto;
    position: relative;
    top: 10px;
}

.page.detail .container.entry {
    margin-top: 3em;
    margin-bottom: 2em;
}

.page.detail .bild img {
    max-width: 100%;
}

/** Typography related Styles **/

.ui .header.thin {
    font-style: italic;
}

.ui .header.thin b {
    font-style: normal;
}

.white {
    color: #fff;
}

.whitebg {
    background-color: #fff;
}

.page,
.blue1 {
    color: #193441;
}

.blue1bg {
    background-color: #193441;
    font-smooth: antialised;
    -webkit-font-smoothing: antialiased;
}

.blue2 {
    color: #9ec8d6;
}

.blue2bg {
    background-color: #9ec8d6;
    font-smooth: antialised;
    -webkit-font-smoothing: antialiased;
}

.blue3 {
    color: #3787ab;
}

.blue3bg {
    background-color: #3787ab;
    font-smooth: antialised;
    -webkit-font-smoothing: antialiased;
}

a.blue4,
.blue4 {
    color: #ecf4f7;
}

.ui.search .ui.dropdown.blue4bg {
    color: #193441;
    padding-left: .7em;
}

.ui.search .ui.dropdown.blue4bg,
.page .ui.segment.footer.blue4bg,
.blue4bg {
    background-color: #ecf4f7;
}

.blue5 {
    color: #3e606f;
}

.blue5bg {
    background-color: #3e606f;
    font-smooth: antialised;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.yellow {
    color: #f8f6e9;
}

.yellowbg {
    background-color: #f8f6e9;
}

.page.detail .segment.map {
    border-top: 1px solid #3787ab;
}

.page.detail .grid.infos {
    padding-bottom: 1em;
}

/** Footer specific overrides **/
.ui .footer.segment {
    margin-top: 4em;
    padding-top: 2em;
    border-top: 1px solid #3787ab;
    padding-bottom: 2em;
}

.ui .footer .your-data img {
    margin-bottom: 1em;
}

.ui .bottomline {
    font-size: .9em;
}

/** -- Utils -- **/

.ui.grid.filter .angebote-tags.hidden,
.ui.grid.filter.hidden,
.hidden {
    display: none
}

.assignment .geo-objects-area .label,
.assignment label,
span.label,
h3.label {
    color: #a9a9a9;
}

.big-char {
    font-size: 22px;
    margin-right: .4em;
}

.page #map {
    height: 500px;
}

.ui.button {
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    padding-bottom: .5em;
}

.ui.button.basic {
    color: #193441 !important;
}

.ui.button.small:hover {
    color: #3f606f
}

.ui.search {
    margin-top: 1em;
}

.ui.search .input {
    width: 100%;
    height: 40px;
}

.ui.search input {
    font-size: 18px;
}

.ui.checkbox label {
    font-size: 18px;
}

.ui.search .input:hover {
    background-color: transparent;
}

nav .large.top.fixed.menu {
    height: 55px;
}

header .large.menu h3.caption,
.ui.top.menu.fixed h3.caption {
    display: none;
}

.ui.top.fixed .right.search.item {
    margin-top: 0em;
}

.ui.menu .dropdown.item .menu,
.ui.menu {
    font-size: 1em;
    border: 0px !important;
    -webkit-box-shadow: 0px 0px transparent;
    box-shadow: 0px 0px transparent;
}

.ui.dropdown .menu > .item,
.ui.ka.button {
    font-size: 18px;
    padding: .5em !important;
    padding-top: .7em !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #909;
}

.ui.search .ka.button {
    padding-bottom: .5em !important;
    padding-top: .7em !important;
    padding-right: 19% !important;
    padding-left: 1em !important;
    border-top-right-radius: 500rem !important;
    border-bottom-right-radius: 500rem !important;
}

.ui .button:active,
.ui.search .ka.button:active {
    background-color: #3787ab;
}

.ui .button:hover,
.ui.search .ka.button:hover {
    background-color: #ecf4f7;
}

.ui .location-label .button {
    padding: .4em;
}

.ui .location-label .button .icon {
    margin: 0em !important;
    padding: 0em;
    height: 17px;
}

.search .ui.dropdown .text {
    margin-top: .3em;
}

.ui.dropdown > .dropdown.icon {
    margin-right: .3em;
}

.ui.search .ui.dropdown:not(.button)>.default.text,
.ui.search .ui.dropdown:not(.button)>.text {
    font-weight: bold;
    color: #193441;
}

.ui.search .ui.dropdown {
    background: #e0e1e2 none;
    padding: .5em;
    padding-left: 0em;
    padding-right: .8em;
}

.segment.query-parameter {
    margin-top: 1em;
}

.ui.inverted.dimmer .ui.loader {
    padding-left: 1em;
    padding-top: 3em;
}

.content .column.aktuelles .ui.inverted.dimmer .ui.loader {
    width: 230px;
    padding-left: .5em;
}

.page.detail .ui.segment.teaser {
    background-image: url('/de.kiezatlas.website/images/header_visual_dummy-detail-75.jpg');
    height: 146px;
}

.page.detail .ui.teaser .header.subline {
    display: none;
}

.page.detail .ui.search {
    margin-top: 0em;
}

.page.detail .info-area {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page.detail .metadata {
    padding-bottom: 1em;
}

.page.detail .imprint {
    margin-top: 2em;
}

.page.detail .metadata a,
.page.detail .info-area a {
    color: #9ec8d6;
}

.page.place.detail .metadata a,
.page.place.detail .info-area a {
    color: #ecf4f7;
}

.page.message .body,
.page.denied .body,
.page.not-found .body,
.page.internal-error .body {
    position: relative;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.page.detail .metadata a:hover,
.page.detail .info-area a:hover {
    color: #ecf4f7;
}

.page.place.detail .metadata a:hover,
.page.place.detail .info-area a:hover {
    color: #9ec8d6;
}

.page.detail .metadata a.ui.button,
.page.detail .info-area a.ui.button {
    color: #fff;
}

select option[checked],
select option[selected] {
    background: #3787ab;
}

/** -- Sozialraumdaten Monitoring Crew Styles -- **/

#mapDiv {
    position: relative;
}

.ui.page .segment.headline {
    margin-top: 2em;
}

.page.monitoring .blue4bg {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#legende {
    width: 140px;
    position: absolute;
    right: 0em;
    z-index: 5;
    background-color: #fff;
    opacity: 0.9;
}

#collapse1 {
    background-color: white;
    opacity: 0.9;
    color: #3787ab;
}

.panel h3,
.panel .body {
    padding: .5em;
}

.ol-attribution.ol-uncollapsible {
    height: auto;
}

.ol-geocoder ul.gcd-txt-result > li,
.ol-attribution li {
    font-size: 16px;
}

.ol-geocoder.gcd-txt-container,
.ol-geocoder .gcd-txt-control {
    height: 50px;
}

.ol-geocoder .gcd-txt-input {
    font-size: 16px;
    color: #3787ab;
}

.ol-geocoder ul.gcd-txt-result > li .gcd-road,
.ol-geocoder ul.gcd-txt-result > li .gcd-country {
    font-size: 16px;
    color: #193441;
}

.ol-geocoder ul.gcd-txt-result > li:nth-child(odd) {
    background-color: #ecf4f7;
}

.ol-geocoder ul.gcd-txt-result {
    top: 50px;
}

.ol-viewport .ol-scale-line {
    bottom: 2em;
}

/* Popup */

#popupDiv {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 350px;
    z-index: 301;
}

#popup-content {
    margin-right: 10px;
}

#popupDiv:after,
#popupDiv:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#popupDiv:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

#popupDiv:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

#popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

#popup-closer:after {
    content: "✖";
}

/** -- Content Grid Columns -- **/

.ui.segment.content .grid .first.row {
    margin-top: .75em;
}

.ui.segment.content .grid .second.row,
.ui.segment.content .grid .third.row {
    padding-top: 0em;
}

.ui.segment.content .grid .column {
    margin-right: .5em;
    margin-left: .5em;
}

.ui.segment.angebote {
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.ui.segment.angebote .grid .column .whitebg {
    padding: 1em;
}

.ui.segment.angebote .grid a {
    text-decoration: none;
    font-weight: bold;
}

.ui.grid .row .column.action h3 {
   margin-top: 0em;
}

.ui.grid .row .column.action .subline {
    padding-top: 0em;
    padding-bottom: 1em;
}

.content .ui.grid .column.action h3 {
    padding-bottom: .3em;
}

.ui.grid .row .column {
    padding: 0em;
}

.segment.query-parameter .parameter,
.page.detail .stichworte,
.page.detail .related-topics {
    margin-top: .5em;
}

.page.detail .stichworte label,
.page.detail .related-topics label {
    font-weight: bold;
}

.query-parameter .parameter.location .name {
    display: inline-block;
}

.segment.query-parameter .parameter {
    border-radius: 8.5px;
    padding: .2em;
    padding-right: .5em;
    padding-left: .5em;
    background-color: #ecf4f7;
    display: inline-block;
    color: #193441;
}

.query-parameter .parameter.location .coord-values {
    font-size: 16px;
}

.parameter a.close {
    padding-right: 0.3em;
    padding-left: 0.5em;
    /** background-color: #FC3; **/
    color: #193441;
    /** margin: 0em 0.5em 0em 0.5em; */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.parameter a.close.prev,
.parameter a.close.next {
    color: #193441;
    position: relative;
    top: 1px;
}

.parameter a.close:hover {
    color: #3787ab;
}

.page .angebote-tags .tag,
.page.detail .stichworte span,
.page.detail .related-topics span {
    border-radius: 8.5px;
    height: 30px;
    padding: .2em;
    padding-right: .5em;
    padding-left: .5em;
    background-color: #ecf4f7;
    display: inline-block;
    color: #193441;
}

.page .column.district.attributes {
    padding-bottom: 0em;
}

.location-parameter .parameter,
.segment.query-parameter .parameter,
.page .stichworte .tag,
.page .angebote-tags .tag {
    margin-right: .25em;
    margin-bottom: .5em;
}

.page .stichworte .tag:hover,
.page .angebote-tags .tag:hover {
    background-color: #3787ab;
    color: #fff;
    cursor: pointer;
}

.content .ui.grid .column h3 {
    padding-top: .5em;
    padding-left: .7em;
    margin-bottom: 0em;
}

.content .ui.grid .column h3 {
    padding-top: .5em;
}

.content .ui.grid .column.aktuelles {
    padding-bottom: .9em;
}

.content .ui.grid .column.aktuelles h3 {
    padding-bottom: .3em;
}

.ui.grid .column .subline,
.ui.grid .column .news-item {
    padding-top: .5em;
    padding-left: .9em;
    padding-right: .9em;
}

.ui.grid .row .column.circle-search .subline {
    padding-bottom: .5em;
}

.ui .column.circle-search {
    cursor: pointer;
}

.angebotsinfos .geo-objects-area a.read-more {
    text-decoration: none;
}

.angebotsinfos .geo-objects-area a.read-more:hover {
    color: #3e606f !important;
    box-shadow: 2px 2px 2px 0px #a9a9a9;
}

.angebotsinfos .einrichtungen a,
.angebotsinfos .angebote a,
.angebotsinfos .einrichtungen a:hover,
.angebotsinfos .angebote a:hover,
.result-list .item a,
.content .ui.grid .row .column a,
.ui.grid .column .news-item a {
    text-decoration: none;
    font-weight: bold;
}

.content .ui.grid .row .column .leaflet-control-attribution a {
    font-weight: normal;
}

/** --- Angebote UI Overrides -- */

.kiezatlas #dialog-confirm,
.angebotsinfos #dialog-confirm {
    display: none;
}

.angebotsinfos .shortcuts .ui.button {
    background-color: #fff;
    font-style: italic;
    color: #3f606f;
    margin-right: 1em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.angebotsinfos .shortcuts .ui.button:hover {
    background-color: #3f606f;
    color: #fff;
}

.kiezatlas .segment.list,
.kiezatlas .segment.commands {
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.angebotsinfos .segment.einrichtungs-area,
.angebotsinfos .segment.commands {
    padding-top: 2em;
    padding-bottom: 2em;
}

.angebotsinfos .ui.button:hover,
.angebotsinfos button:hover,
.einrichtungs-area button:hover,
.angebot-area button:hover {
    color: #3f606f;
}

.einrichtungs-area li,
.angebot-area li {
    padding: 1em;
    margin-top: 1em;
}

.einrichtungs-area li a.command,
.angebot-area li a.command {
    font-size: 16px;
    margin-right: 2em;
    color: #3787ab;
}

.einrichtungs-area li a.command:hover,
.angebot-area li a.command:hover {
    color: #9ec8d6;
}

.einrichtungs-area li,
.angebot-area li {
    padding: 1em 1em .5em 1em;
    margin: .5em 0em .5em 0em;
    font-size: 1.2em;
}

.angebot-area {
    margin-top: 2em;
}

/** --- Sign-up Dialog Overrides --- **/

.sign-up.logout-page .ui.segment.padded {
    padding-bottom: 1em;
}

.sign-up .ui.segment.padded {
    padding-top: 1em;
}

.sign-up .ui.segment.padded.first {
    padding-top: 0em;
    padding-bottom: 1em;
}

.sign-up .dialog-body .ui.form {
    padding-bottom: .5em;
}

.sign-up #api-info,
.sign-up #private-details,
.sign-up #tos-details {
    display: none;
    padding: .5em;
}

.ui.input > input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(100,100,100,.95);
}
.ui.input > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(100,100,100);
    opacity: .95;
}
.ui.input > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(100,100,100);
    opacity: .95;
}
.ui.input > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(100,100,100,.95);
}
.ui.input > input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(100,100,100,.95);
}
.ui.input > input::placeholder { /* Most modern browsers support this now. */
    color: rgba(100,100,100,.95);
}

.sign-up .ui.input input[type="password"],
.sign-up .ui.input input[type="text"] {
    margin-bottom: .5em;
    min-width: 50%;
    border-radius: 8.5px;
}

.sign-up .ui.input input[type="submit"] {
    margin-bottom: 2em;
    min-width: 25%;
    border-radius: 8.5px;
    background-color: #3787ab;
    color: #fff;
}

.sign-up .ui.input .button:active {
    background-color: #3787ab;
}

.sign-up .ui.input .button:hover {
    background-color: #ecf4f7;
    color: #193441;
}

.sign-up .ui.input .ok.button {
    padding-bottom: .5em;
}

.sign-up .ui.input {
    display: block;
}

.sign-up .ui.input.radio,
.sign-up .ui.input.checkbox {
    display: inline-block;
}

.sign-up .dialog-body a {
    color: #9ec8d6;
}

.sign-up .dialog-body a:hover {
    color: #3787ab;
}

.sign-up .ui.segment.first {
    margin-top: 3em;
}

#preamble {
    margin-bottom: 1em;
    padding-top: 0em;
}

#api-workspace label p {
    display: inline-block;
}

/** Simple Page rules **/

.page.message .blue4bg .info-area a:hover {
    color: #193441;
}

/** Edit Place Form **/

.info-area label {
    display: block;
}

.info-area label.criteria {
    margin-top: 1em;
}

/** CityMap Styles **/


.citymap #listing {
    padding-bottom: 0px;
}

.citymap .citymap-title {
    padding-left: 1em;
}

.citymap .welcome .title {
    display: block;
}

.citymap .flex-container {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%; height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}


.citymap #karte {
    flex: 0 0 65%;
    margin-top: 0em;
    padding-top: 0em;
    vertical-align: top;
    position: relative;
}

.citymap #sidebar {
    flex: 0 0 35%;
    height: 100%;
    background-color: #fff;
    padding: 0em;
    padding-bottom: 0em;
    padding-top: 1em;
    overflow-y: scroll;
}

.citymap #sidebar .welcome {
    padding-left: 2em;
    padding-right: 1em;
}

.citymap #sidebar .logo {
    max-width: 90%;
    max-height: 250px;
    padding-bottom: .5em;
    padding-top: .5em;
}

.leaflet-marker-pane .leaflet-div-icon {
    background: transparent;
    border-color: transparent;
}
.leaflet-marker-pane .clustermarker {
    border-radius: 5em;
    padding: .5em;
    padding-top: .4em;
    padding-left: .75em;
    background-color: #f8f6e9aa;
    border: 2px solid #3787ab;
    margin-left: -10px;
    margin-top: -10px;
    font-weight: bold;
    height: 30px;
    width: 30px;
}

.leaflet-marker-pane .clustermarker.hundreds {
    padding-left: .25em;
}

.leaflet-marker-pane .clustermarker.tens {
    padding-left: .5em;
}

.citymap #sidebar h3 {
    display: inline-block;
    margin-bottom: 0em;
}

.citymap #sidebar .news-item h3 {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.citymap #sidebar .criterias {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    top: -1.5em;
    left: 1.5em;
}

.citymap #sidebar .criterias ul {
    list-style-type: none;
    line-height: 1.5em;
    padding: 0em;
    margin: 0em;
}

.citymap #sidebar .criterias li {
    padding: 0.5em;
    background-color: #fff;
}

.citymap #sidebar .criterias ul li a {
    text-decoration: none;
}

.citymap #sidebar .criterias ul li a:hover,
#category-area li .label:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #27638C;
}

#category-area {
    margin: 2em;
    width: 85%;
}

#category-area .results.cats,
#search-area .results {
    list-style-type: none;
    padding-left: 0em;
}

#category-area .results {
    margin-top: .5em;
}

#category-area .results .status {
    padding-left: .5em;
    font-size: .9em;
    color: #666;
}

#category-area .results .item {
    cursor: pointer;
}

#category-area .title.criteria {
    font-weight: bold;
}

#category-area .title.criteria:hover {
    text-decoration: underline;
    color: #0078A8;
    cursor: pointer;
}

#category-area li .label {
    color: #002856;
    line-height: 1.5em;
}

.citymap #detail-area {
    background-color: #fff;
    padding: 0em;
    top: 1em;
    margin-top: 2em;
    text-align: left;
    font-size: 1em;
    padding-left: 1em;
    width: 90%;
}

.citymap #detail-area .entry-card .mobile-more,
.citymap #detail-area .entry-card .imprint {
    display: none;
}

.citymap #sidebar .imprint {
    padding-left: 1em;
    padding-bottom: 1em;
}

/** .citymap #sidebar .news-area h2 {
    display: none;
} **/

.citymap .leaflet-top {
    top: 50px;
}

.citymap .ui.tabular.menu {
    margin-top: 1em;
    padding-left: 1em;
    width: 95%;
}

.citymap .ui.tab.segment.attached {
    border-top: 1px solid #FC3 !important;
}

.ui.tabular.menu .item {
    cursor: pointer;
}
.citymap-title {
        display: none;
    }
    .citymap .welcome .title {
        display: block;
    }
    .citymap .mobile-logo {
        display: inline-block;
        padding: 0.5em 1em 0.5em 1em;
        border-left: 0px solid transparent;
    }

.kiezatlas.topic .right.menu .ui.category.search .results a.action {
    display: none;
}

.kiezatlas .right.menu .ui.category.search .my.search.icon {
    display: none;
    position: absolute;
    top: 11px; left: 210px;
}

.citymap #search-area {
    width: 85%;
    margin-left: 1.5em;
}

.citymap #search-area .results {
    padding-left: 0em;
}

.citymap #search-area .results .item {
    margin-bottom: .5em;
}

.citymap #category-area .results .anschrift,
.sites .editor .results .anschrift,
.citymap #search-area .results .anschrift {
    color: #666;
}

.citymap #category-area .results .anschrift,
.sites .editor .results .anschrift,
.citymap #search-area .results a,
.citymap #search-area .results .anschrift {
    font-weight: normal;
}

.citymap #detail-area {
    width: 85%;
}

.citymap .mobile-load {
    display: none;
}

#listing .sites li,
.citymap #detail-area .entry-card {
    width: 100%; max-width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    margin: 0em 0em 1em 0em;
    padding-bottom: 1em;
}

.citymap #detail-area .entry-card h3,
.citymap #detail-area .entry-card .details {
    box-shadow: none;
    padding: 0em;
}

.citymap #detail-area .facet {
    font-weight: bold;
    margin-bottom: 10px;
}

.citymap #detail-area .facet .facet-values {
    font-weight: normal;
}

.citymap #detail-area .facet .facet-values ul {
    margin-top: .3em;
    padding-left: 1.3em;
}

.citymap #detail-area .entry-card .lor-link {
    bottom: 1em; right: 1em; left: auto;
}

.citymap #detail-area .search-option.d {
    background-color: #eaeaea;
    padding: 1em;
}

.citymap #site-area {
    display: block;
    flex-direction: row;
    padding: 0em;
    border-bottom: 0px solid transparent;
    margin-top: 0px;
    border-top: 0px solid transparent;
}

.citymap #site-area .content-area,
.citymap #site-area .news-area {
    width: 90%;
    border: 0px solid transparent;
    padding: 0em;
    flex: 0 0 100%;
    margin: 0em;
    margin-top: 1em;
    padding-left: 1em;
}

.citymap #spinning-wheel {
    position: absolute;
    top: 15px; left: 13px;
    width: 80px;
    height: 50px;
    z-index: 2002;
    border-radius: 5px;
}

.citymap .ui.search {
    display: inline-block;
}

/** Sites Listing **/

.sites li.concrete-assignment h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.sites li.concrete-assignment {
    margin-left: 0em;
}

.sites ul {
    list-style-type: none;
    padding-left: 0em;
}


.sites .title {
    color: #002856;
    padding-top: 1em;
}

.sites .results,
.sites .geoobjects {
    padding-left: 0px;
    list-style-type: none;
}

.sites .webalias {
    background-color: #fff;
    padding: 5px;
    padding-left: .5em;
    padding-right: .5em;
}

.sites .editor {
    margin-top: 2em;
}

.sites .editor .geoobjects li {
    margin-bottom: .5em;
}

.right.menu .category.search .results a {
    text-decoration: none;
}

.right.menu .category.search .results a.action {
    font-weight: 400;
}

.right.menu .ui.category.search .results .category .result {
    margin-left: 130px;
}

.kiezatlas.confirm .right.menu .ui.search,
.facet-editor .right.menu .ui.search,
.sites .right.menu .ui.search {
    display: none;
}

.sites .flex-container .selector {
    margin-top: 1em;
}

.sites .flex-container,
.citymap .flex-container {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%; height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.sites .assigned,
.sites .selector {
    flex: 0 0 calc(50% - 2em);
}

.facet-editor form label {
    display: block;
    color: #666;
    margin-bottom: 1.5em;
}

.facet-editor form label .ui.input {
    display: block;
    margin-bottom: .5em;
}

.facet-editor form label select[multiple="true"] {
    min-height: 225px;
}

.facet-editor form label select {
    padding: .5em;
    cursor: pointer;
}

/** Kiezatlas Listenansicht Orte **/

#listing {
    position: relative;
    top: 30px;
    padding-bottom: 250px;
}

.filter.list .status,
.filter.list .dataTables_wrapper {
    padding-left: 5em;
    padding-right: 5em;
}

.filter.list .display.dataTable {
    border-left: 1px solid #434343;
    border-right: 1px solid #434343;
    /** font-size: 0.9em; **/
}

table.dataTable.display tbody tr.no-coordinates td:first-child,
table.dataTable.display tbody tr.no-email td:first-child {
    border-left: 4px solid #8F1414;
}

table.dataTable.display tbody tr.invaid-coordinates td:first-child {
    border-left: 4px solid #0078A8;
}

table.dataTable.display tbody tr.in-trash {
    text-decoration: line-through;
    opacity: .6;
}

table.dataTable.display tbody tr.unconfirmed {
    opacity: .3;
}

.filter.list select,
.filter.list input {
    padding: .5em;
}

.filter.list .dataTables_info {
    padding-left: 1.2em;
}

.list .status {
    padding-left: 1em;
}

ul.soziale-einrichtungen li {
    list-style-type: none;
}

.soziale-einrichtungen a .list-item {
    text-decoration: none;
}

.soziale-einrichtungen .list-item {
    background: #fff;
    padding: 1em;
    border: 1px solid #002856;
    margin: 5px;
}

.soziale-einrichtung a .list-item {
    cursor: pointer;
}

.soziale-einrichtungen .list-item h3,
.soziale-einrichtungen .list-item p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.soziale-einrichtungen .einrichtungen {
    margin-top: 1em;
    padding: 0em;
}

.soziale-einrichtungen .einrichtungen .label:hover {
    color: #343434;
}

ul.soziale-einrichtungen .einrichtungen ul {
    padding: 1.5em;
    padding-top: .5em;
}

ul.soziale-einrichtungen .einrichtungen li {
    list-style-type: circle;
    color: #a9a9a9;
    line-height: 1.5em;
}

.soziale-einrichtungen p.meta {
    color: #a9a9a9;
    font-style: italic;
}

.soziale-einrichtungen .value {
    color: #000;
    /** font-style: normal; **/
}

.soziale-einrichtungen .label {
    color: #a9a9a9;
}

.label.clickable {
    cursor: pointer;
}

.kiezatlas.topic .data-features .comment-input-fields.hidden,
.soziale-einrichtungen .einrichtungen .items.hidden {
    display: none;
}

.soziale-einrichtungen .list-item:hover {
    box-shadow: 2px 2px 2px 0px #a9a9a9;
}
.soziale-einrichtungen .list-item.selected {
    box-shadow: 3px 3px 2px 0px #a9a9a9;
}

.soziale-einrichtungen .list-item.no-email {
    background-color: #ef9713;
}

.soziale-einrichtungen .list-item.no-coordinates,
.soziale-einrichtungen .list-item.no-email.no-coordinates,
.soziale-einrichtungen .list-item.no-bezirksregion.no-coordinates,
.soziale-einrichtungen .list-item.no-email.no-bezirksregion.no-coordinates {
    background-color: #f00 !important;
}

.soziale-einrichtungen .list-item.unconfirmed {
    opacity: .4;
}

.soziale-einrichtungen .list-item.no-bezirksregion,
.soziale-einrichtungen .list-item.no-email.no-bezirksregion {
    background-color: #eaef13;
}

.soziale-einrichtungen .list-item.no-email .label {
    color: #fff;
}

.list-item .ansprechpartner {
    margin-top: .5em;
    color: #a9a9a9;
    font-style: italic;
}

.list-item .ansprechpartner .remove {
    display: inline-block;
    margin-left: .5em;
}

.soziale-einrichtungen .list-item .ansprechpartner {
    margin-top: 0em;
}

.list-item .managers {
    margin-bottom: 1em;
}

/** Legacy Frontpage Elements **/

.ui.page .map #marker-name {
    display: none;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 3em;
    background: #fff;
    z-index: 2000;
    max-width: 300px;
    padding: 10px;
    text-align: left;
    font-style: normal;
    font-size: 18px;
}

#places {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1001;
    border: 1px solid transparent;
    padding-left: 0px;
    background: transparent;
    z-index: 112;
}

#places li {
    position: absolute;
    right: 0px;
    cursor: pointer;
    list-style-type: none;
    text-align: right;
    padding: 2px .4em;
}

#places li.ui-menu-item a {
    text-decoration: none;
    line-height: 1.5em;
}

#places li.submenu-item {
    position: relative;
    width: 210px;
    font-size: 16px;
}

#places li.ui-menu-item:hover,
#places li.ui-menu-item:hover a[aria-haspopup="true"],
#places li.submenu-item:hover a,
#places li.submenu-item:hover {
    background-color: #27638C;
    color: #fff;
}

#notification {
    padding: 20px; padding-bottom: 50px;
    position: fixed; bottom: 100px; left: 0px;
    padding: 10px;
    font-size: 1em;
    line-height: 1.4; font-weight: italic;
    z-index: 1002; display: none;
    /** background: linear-gradient(rgb(252, 237, 167), rgb(251, 239, 126)) repeat scroll 0% 0% rgb(250, 219, 78); **/
    max-width: 370px;
}

div.location-label {
    display: inline-block;
}

.content .ui.grid .column .location-label .text {
    padding-bottom: 0em;
    display: inline-block;
    font-style: italic;
}

.page.detail .angebote a i.icon,
.result-list .item i.icon,
.ui.grid .row .column a i.icon {
    margin-right: 0em;
    margin-left: -5px;
}

/** -- Search Results -- **/

.ui .search-results {
    margin-top: .5em;
    padding: 1em;
}

.ui .result-list {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.ui .result-list .container {
    position: relative;    
}

.result-list .container .ui.inverted.dimmer .ui.loader {
    left: 2.6em;
    padding-bottom: 1em;
    width: 250px;
}

.result-list .container .ui.inverted.dimmer {
    height: 50px;
}

.ui .result-list .item {
    margin-bottom: 1em;
}

.ui .result-list h3 {
    margin-bottom: 0em;
}

.ui.checkbox label,
.result-list .item .subline {
    font-size: 18px;
    line-height: 1.2em;
}

/** -- Search Criterias -- **/

.ui.page .segment.more-button,
.ui.page .segment .search-criterias {
    padding-top: 1em;
    border-bottom: 1px solid #ecf4f7;
}

.ui.page .segment .search-criterias .two.column.grid .eight.column {
    margin-bottom: 1em;
}
.ui.page .segment.more-button,
.search-criterias .ui.grid.filter {
    padding-bottom: 1em;
}

.ui.page .more-results {
    position: relative;
    left: -8px;
    cursor: pointer;
}

.ui.search-criterias .header {
    cursor: pointer;
}

.ui.search-criterias .first.column {
    margin-left: 1em;
}

.search-criterias .nearby {
    /** TOOD:  ###
 **/
}

.search-criterias .nearby.column.hidden {
    display: none;
}

/** -- Map Fullscreen Related Styles -- **/

.map .container {
    display: flex;
}

.map .footer,
.map .header {
    position: fixed;
    left: 0px;
    width: 100%;
}

.map.header {
    top: 0px; 
    height: 50px;
}

.map .footer {
    bottom: 0px; 
}

.map .spacing {
    padding: .5em;
}

.map .map-panel {
    position: fixed;
    top: 65px; left: 0px;
    height: 100%;
    width: 70%;
}

.map .header .form {
    position: absolute;
    right: 2em;
}

.map .side-panel {
    position: fixed;
    top: 65px; right: 0px;
    height: 100%;
    width: 30%;
    border-left: 2px solid grey;
    padding: .5em;
    padding-top: 0px;
}

.map .side-panel .section {
    border-bottom: 1px solid grey;
}

.map .item .icon {
    width: 15px; height: 15px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
}

.map .side-panel .item {
    display: block;
    cursor: pointer;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

.map .side-panel .item:hover {
    background-color: rgba(0,0,0,0.2);
}

.map .icon.red {
    background-color: #ff0000;
}

.map .icon.blue {
    background-color: #00f;
}

#mapDiv,
#map {
    width: 100%;
    height: 100%;
}

#map .ui.loader {
    font-size: 1.6em;
    color: #3787ab;
}

#map .circle-control {
    position: absolute;
    /** left: 0.3em; **/
    bottom: 2.5em;
    right: .5em;
    z-index: 4001;
}

#map .circle-control .button {
    font-style: italic;
    color: #3787ab;
}

#map .circle-control .button:hover {
    background-color: #3787ab;
    color: #fff;
}

.ui.page.detail #map {
    border: 1px solid #ecf4f7;
    height: 380px;
}

.ui.page.detail #map-sidebar {
    top: 1em;
    right: 1em;
}

.webpages .ui.vertical.sidebar.menu,
.webpages.page .ui.segment.header-background .ui.menu,
.webpages .ui.segment.header-background .navigation {
    background-color: #fff;
    color: #193441;
}

.webpages .posts article .ui.header a {
    color: #3787ab;
}

.webpages .footer .ui.container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.webpages .footer .ui.stackable.grid>.row>.column {
    padding: 0em;
}

.webpages .masthead.segment {
    padding-top: 0em;
    min-height: auto;
}

.webpages .masthead h1.ui.header {
    margin-top: .5em;
}

.webpages .ui.vertical.stripe {
    padding: 4em 0em;
}

/** ----------------------------------------------### Leaflet Overrides --- **/

.leaflet-popup-content-wrapper .item {
    border-bottom: 2px solid #e9e9e9; padding: 5px;
    cursor: pointer; margin-top: 2px;
}

.leaflet-control-zoom a {
    background-color: #fff;
    padding: 3px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.leaflet-control-zoom {
    /* background-color: #388fd0; **/
    background: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.leaflet-editing-icon.leaflet-move {
    cursor: move;
}

.leaflet-editing-icon.leaflet-radius {
    cursor: ew-resize;
}

.leaflet-control-zoom-loc {
    background-image: url(/de.kiezatlas.website/images/locate.png);
    margin-top: 0px; margin-bottom: 5px;
}

.leaflet-search-control {
    cursor: auto;
}

.leaflet-tile {
    filter: blur(3px);
}
.leaflet-tile.leaflet-tile-loaded {
    filter: blur(0);
    transition: .3s all ease-in;
}

.leaflet-control-zoom.leaflet-control {
    margin-top: 1em;
    z-index: 98;
}

.leaflet-container g path {
    transition: fill .75s;
}

.leaflet-div-icon.leaflet-move {
    /* background-color: transparent;
    background-image: url('/de.kiezatlas.website/images/four-arrows.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: 0px solid transparent;**/
}

.leaflet-div-icon.leaflet-radius {
    background-color: transparent;
    background-image: url('/de.kiezatlas.website/images/sideways-resize-grey.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: 0px solid transparent;
    width: 28px !important;
    height: 23px !important;
    margin-left: -14px !important;
    margin-top: -10px !important;
}

.leaflet-div-icon.leaflet-move.extend-icon-medium {
    width: 12px !important;
    height: 12px !important;
    margin-left: -6px !important;
    margin-top: -6px !important;
}

#mapDiv,
.monitoring .leaflet-container .leaflet-control-attribution {
    color: #3787ab;
    font-size: 16px;
}

.leaflet-container #map-sidebar a {
    color: #3787ab;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.leaflet-container  #map-sidebar a:hover {
     color: #ecf4f7;
}

#map-sidebar {
    display: none;
    position: absolute;
    right: 1em;
    top: 4.7em;
    width: 33%;
    z-index: 3000;
    overflow-y: auto;
    max-height: 330px;
}

#map-sidebar .entry {
    background-color: #fff;
    padding: 1em;
    padding-bottom: .5em;
}

#map-sidebar .entry h3 {
    padding-top: 0em;
    padding-left: 0em;
    margin-bottom: 0em;
}

@media(max-width: 1600px) {
    .filter.list .status,
    .filter.list .dataTables_wrapper {
        padding-left: 2em;
        padding-right: 2em;
    }
    .filter.list td.lat-col,
    .filter.list td.lon-col {
        display: none;
    }
}

@media(max-width: 1400px) {
    .citymap-title {
        display: none;
    }
    .citymap .welcome .title {
        display: block;
    }
    .citymap .mobile-logo {
        display: inline-block;
        padding: 0.5em 1em 0.5em 1em;
        border-left: 0px solid transparent;
    }
    .filter.list td.kategorien-col {
        display: none;
    }
}

@media(max-width: 1200px) {
    .citymap #karte {
        flex: 0 0 60%;
    }
    .citymap #sidebar {
        flex: 0 0 40%;
    }
    .citymap .ui.tabular.menu {
        width: 98%;
        padding-left: 0.5em;
    }
    .filter.list td.comment-col,
    .filter.list td.author-col {
        display: none;
    }
    .filter.list .status,
    .filter.list .dataTables_wrapper {
        padding-left: 1em;
        padding-right: 1em;
    }
    .ui.teaser .header.white.thin,
    .ui.teaser .header.subline {
        width: 35%;
    }
}

@media(max-width:925px) {
    #lower-page-nav,
    .top-menu .top.menu {
        display: none;
    }
    .detail .top-menu .toc.item {
        bottom: 0em;
    }
    .top-menu .toc.item {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        bottom: 1em;
        right: 0em;
    }
    .top-menu .toc.item:hover {
        background: rgba(0,0,0,.03);
    }
    .ui.teaser .header.white.thin,
    .ui.teaser .header.subline {
        width: 50%;
    }
    .ui .search-results {
        padding-left: 0em;
        padding-right: 0em;
    }
}

@media(max-width:900px) {
    #site-area {
        flex-direction: column;
    }
    #site-area .news-area {
        border-left: 1px solid transparent;
        /** border-top: 1px solid RGBA(0, 40, 86, 0.26); **/
        width: 95%;
    }
    #site-area .content-area {
        padding-left: 1em;
        width: 95%;
    }
    .filter.list td.mail-col {
        display: none;
    }
    #map-sidebar {
        width: 50%;
    }
    .page.detail .container.entry {
        margin-top: 2em;
    }
    .ui.page.detail #map {
        height: 300px;
    }
}

@media(max-width:767px) {
    .ui .search-results {
        padding-left: 1em;
        padding-right: 1em;
    }
    .page.detail .grid.infos {
        padding-bottom: 0em;
    }
    .webpages .footer .ui.container .ui.stackable.grid > .row > .column {
        padding: 1rem !important;
    }
    .ui.vertical.container.segment.entry,
    .ui.vertical.segment.info,
    .ui.vertical.container.segment.imprint,
    .ui.search-criterias .grid .column.first .grid,
    .ui.angebotsinfos .ui.segment.einrichtungs-area,
    .ui .footer .ui.container > .ui.stackable.grid > .row > .column,
    .ui.container > .ui.stackable.grid > .column.angebote-tags,
    .ui.search-criterias h3.header,
    .ui.container.search-criterias > .ui.stackable.grid > .column.first {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .ui.container.segment.content > .ui.stackable.grid .column {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .ui .result-list .container {
        padding-left: 1rem;
    }
    .ui.container.segment.content > .ui.stackable.grid .column.aktuelles,
    .ui.container.segment.content > .ui.stackable.grid .column.citymaps {
        padding-bottom: 1rem !important;
    }
    .ui .footer .ui.container > .ui.stackable.grid > .row > .column.your-data {
        padding-left: 0rem !important;
    }
    .ui.search .ui.ka.button {
        width: 100px;
    }
}

@media(max-width:560px) {
    .ui.teaser .header.subline,
    .ui.teaser .header.white.thin {
        width: 70%;
    }
    .ui.search .input {
        width: 40%;
    }
}
