<!DOCTYPE html>
<html>
    <head>
        <title>Kiezatlas 2 Stadtplan</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.angebote/dist/vendor/jquery-ui-1.12.1-kiezatlas.min.css"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.3/dist/components/search.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.3/dist/components/tab.min.css"/>

        <!-- link rel="icon" href="" type="image/vnd.microsoft.icon"/-->

        <script src="/de.kiezatlas.website/vendor/pouchdb/pouchdb-6.2.0.min.js"></script>
        <script src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script src="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/leaflet-1.3.1/L.CircleEditor.js"></script>
        <script src="/de.kiezatlas.website/dist/vendor/dm4-webclient-utils.min.js"></script>
        <script src="/de.kiezatlas.website/dist/ka-website-frontpage.js"></script>
        <!--script src="/de.kiezatlas.website/dist/ka-website-frontpage.min.js"></script-->
        <script src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/components/tab.min.js"></script>

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var $sidebarUi = undefined
            // App initialization
            $(document).ready(function(e) {
                $sidebarUi = $('.ui.sidebar').sidebar('setting', 'dimPage', false)
                // $sidebarUi.sidebar('setting', 'scrollLock', true).sidebar('setting', 'returnScroll', true).sidebar('setting', 'dimPage', false).sidebar('hide')
                // 1) setup citymap page
                citymap.init(window.location.pathname.substr(1), ($('#karte').css("display") !== "none"))
                citymap.register_page_handlers()
                // 2) update layout
                leafletMap.fit_to_height(65)
                citymap.set_sidebar_height()
                // 3) used for imprint
                kiezatlas.load_district_topics()

            })
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas citymap"><!-- ### change classname to citymap -->

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div class="flex-container">

                <div id="karte">

                    <div id="spinning-wheel">
                        <img src="/de.kiezatlas.website/images/ajax-loader.gif" />
                    </div>
                    <!-- Leaflet Area -->
                    <div id="map" class="fullsize"></div>
                    <!-- Mobile Listing Area -->
                    <div id="listing" class="fullsize"></div>

                </div>

                <div id="sidebar">

                    <!-- Citymap Header Area -->
                    <div class="welcome">

                        <h3>
                            <span class="title"></span>
                            <span class="small slogan">Hier findest du Infos &uuml;ber sozial-kulturelle Einrichtungen in Berlin und ihre Angebote</span>
                            <img class="logo" src="/de.kiezatlas.website/images/kiezatlas2-logo.png"/>
                        </h3>

                        <div class="criterias"></div>

                        <!-- Hidden Search Dialog (visible on small screen devices only) -->
                        <div class="ui search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Suchanfrage" />
                            </div>
                            <button class="circular ui icon button primary small">
                                <i class="icon search"></i>
                            </button>
                        </div>

                    </div>

                    <!-- Notification area -->
                    <div id="notification" onclick="kiezatlas.close_message_window()">
                        <span class="message">Hi!</span>
                    </div>

                    <div class="ui top attached tabular menu">
                        <div class="item" data-tab="first">Orte</div>
                        <div class="active item" data-tab="second">Neuigkeiten</div>
                    </div>

                    <div class="ui bottom attached tab segment" data-tab="first">
                        <!-- Details Area -->
                        <div id="detail-area">
                            <div class="search-option d">
                                Bitte w&auml;hlen sie einen Markierer auf der <a href="#karte">Karte</a> um Details zu einem Ort einzublenden.
                            </div>
                            <div class="mobile-load">
                                <div class="ui input">
                                    <button class="ui button show-all primary small"
                                            onclick="citymap.render_mobile()">Zeige alle Orte dieses Stadtplans</button>
                                </div>
                            </div>
                        </div>
                        <div class="imprint"></div>
                    </div>

                    <div class="ui bottom attached active tab segment" data-tab="second">
                        <!-- District Info Area -->
                        <div id="site-area">
                            <div class="mobile-load">
                                <div class="ui input">
                                    <button class="ui button show-all primary small"
                                            onclick="citymap.render_mobile()">Zeige alle Orte dieses Stadtplans</button>
                                </div>
                            </div>
                            <div class="news-area"></div>
                            <div class="content-area"></div>
                        </div>
                        <div class="imprint"></div>
                    </div>

                    <div class="ui bottom attached tab segment" data-tab="third">
                        <!-- Suchergebnisse Area -->
                        <div id="search-area">
                            <ul class="results"></ul>
                        </div>
                        <div class="imprint"></div>
                    </div>

                    <div class="ui bottom attached tab segment" data-tab="fourth">
                        <!-- Kategorien Listing -->
                        <div id="category-area">
                            <span class="title criteria"></span>
                            <ul class="results"></ul>
                        </div>
                        <div class="imprint"></div>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>

