<!DOCTYPE html>
<html>
    <head>
        <title th:text="'Freischaltung neuer Einrichtungen - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/search.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/tab.min.css"/>

        <script src="/de.kiezatlas.website/dist/vendor/jquery-1.9.1.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/sidebar.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/tab.min.js"></script>

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            var $sidebarUi = undefined
            // App initialization
            $(document).ready(function(e) {
                $sidebarUi = $('.ui.sidebar').sidebar('setting', 'dimPage', false)
                console.log("hello publisher")
                $('.tabular.menu .item').tab("change tab", "first")
            })

            function refresh_confirmation_list() {
                var selection = document.getElementById("districts")
                if (selection) {
                    console.log("Should reload confirmation list with district filter...", selection, selection)
                    var districtId = document.getElementById("districts").value
                    window.document.location.href = "/website/geo/freischalten/" + districtId
                }
            }
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas confirm">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="header">
                <p th:if="${is_publisher}">Hier findest Du eine Auflistung neu eingetragener Einrichtungsdatens&auml;tze zum freischalten.</p>
                <p th:if="${not is_publisher}"><b>Sorry!</b><br/>Sie haben aktuell nicht die n&ouml;tigen Berechtigungen um neue Einrichtungen im Kiezatlas freizuschalten.</p>
            </div>

            <!-- Details Area -->
            <div th:if="${is_publisher}" class="ui container">
                <div class="ui top attached tabular menu">
                    <div class="active item" data-tab="first">Freischaltung</div>
                    <div class="item" data-tab="second">Hinweise</div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="first">
                    <div class="commands">
                        <!-- a href="#confirm">Eintrag best&auml;tigen</a-->
                        <!--a href="#zuordnen">Website zuordnen</a-->
                        <form>
                            <select id="districts" onchange="refresh_confirmation_list()">
                                <option th:each="district: ${userDistricts}" th:selected="${districtId == district.id} ? true : false"
                                        th:value="${district.id}" th:text="${district.simpleValue}">
                                </option>
                            </select>
                        </form>
                    </div>
                    <div id="listing">
                        <ul class="soziale-einrichtungen">
                            <li th:each="geoobject : ${geoobjects}">
                                <div class="list-item">
                                    <h3 th:text="${geoobject.name}"></h3>
                                    <p>
                                        Eingepflegt von <span th:text="${geoobject.assignedUsername}"></span> am <span th:text="${geoobject.lastModified}"></span>
                                    </p>
                                    <!--select>
                                        <option th:each="site : ${websites}" th:text="${site.simpleValue}" th:value="${site.id}"></option>
                                    </select-->
                                    <a class="read-more" th:href="'/website/geo/' + ${geoobject.id}">Link zum Eintrag</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="ui bottom attached active tab segment" data-tab="second">
                    <div id="comment-listing">
                        <ul class="soziale-einrichtungen">
                            <li th:each="geoobject : ${geoobjects}">
                                <div class="list-item">
                                    <h3 th:text="${geoobject.name}"></h3>
                                    <p>
                                        Eingepflegt von <span th:text="${geoobject.assignedUsername}"></span> am <span th:text="${geoobject.lastModified}"></span>
                                    </p>
                                    <!--select>
                                        <option th:each="site : ${websites}" th:text="${site.simpleValue}" th:value="${site.id}"></option>
                                    </select-->
                                    <a class="read-more" th:href="'/website/geo/' + ${geoobject.id}">Link zum Eintrag</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <p>&nbsp;</p>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=false)"></div>

    </body>
</html>

