<!DOCTYPE html>
<html>
    <head>
        <title th:text="${geoobject.name} + ' - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/vendor/leaflet/leaflet.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.angebote/dist/vendor/jquery-ui-1.12.1-kiezatlas.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/button.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/search.min.css"/>
        <!--link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/dropdown.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/transition.min.css"/-->

        <script src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script src="/de.kiezatlas.website/dist/vendor/dm4-webclient-utils.min.js"></script>
        <script src="/de.kiezatlas.website/vendor/leaflet/leaflet.js"></script>
        <script src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/sidebar.min.js"></script>
        <!--script src="/de.kiezatlas.website/css/semantic-ui/2.2/transition.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/dropdown.min.js"></script-->
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/api.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/search.min.js"></script>

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            var NEIGHBOUR_QUERY_RADIUS = 800
            var GEO_OBJECT_DELETE_URI = "/website/geo/delete/"
            var $sidebarUi = undefined
            // App initialization
            $(document).ready(function(e) {
                $sidebarUi = $('.ui.sidebar').sidebar('setting', 'dimPage', false)
                init_quick_search()
                // init_comments_menu()
                // init
                var latitude = /*[[${geoobject.latitude}]]*/ undefined;
                var longitude = /*[[${geoobject.longitude}]]*/ undefined;
                var lCoordinate = L.latLng(latitude, longitude)
                var name = /*[[${geoobject.name}]]*/ undefined;
                var map = L.map('map', { scrollWheelZoom: false } ).setView(lCoordinate, 16)
                L.tileLayer('https://api.tiles.mapbox.com/v4/kiezatlas.pd8lkp64/{z}/{x}/{y}.png?' // old style id="kiezatlas.map-feifsq6f"
                    + 'access_token=pk.eyJ1Ijoia2llemF0bGFzIiwiYSI6ImNpa3BndjU2ODAwYm53MGxzM3JtOXFmb2IifQ._PcBhOcfLYDD8RP3BS0U_g', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'
                    + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &#169; <a href="http://mapbox.com">Mapbox</a>',
                    id: 'kiezatlas.m7222ia5'}).addTo(map)
                // 1) show geo object in question
                var standort = L.circleMarker(lCoordinate, {
                    weight: 3, opacity: 0.6, fillColor: "#8f1414", fillOpacity: 0.6, color: "#EACA8F", radius: 10
                })
                standort.addTo(map)
                // 2) fetch geo objects naerby
                restc.get_places_nearby(lCoordinate, NEIGHBOUR_QUERY_RADIUS, function(places) {
                    // console.log("Found neighbouring places in radius of " + NEIGHBOUR_QUERY_RADIUS + "m", places.length)
                    for (var p in places) {
                        var place = places[p]
                        if (place.name !== name && (place.longitude != longitude && place.latitude != latitude)) {
                            var neighbour = create_nearby_marker(place)
                            neighbour.addTo(map)
                        }
                    }
                })
                standort.bringToFront()
            })

            function create_nearby_marker(place) {
                if (place.latitude && place.longitude) {
                    var coords = L.latLng(place.latitude, place.longitude)
                    var marker = L.circleMarker(coords, {
                        weight: 3, opacity: 0.6, fillColor: "#a9a9a9", fillOpacity: 0.4, color: "#999",
                        geo_object_id: place.id, title: place.name + ', ' + place.anschrift
                    })
                    marker.on('click', function(e) {
                        window.document.location.href = "/website/geo/" + e.target.options.geo_object_id
                    }).bindPopup(place.name + ', ' + place.anschrift, {autoPan: false})
                    marker.on('mouseover', function(e) {
                        // check if popup is openn ..if (this.popup)
                        e.target.setStyle({ fillColor: "#8f1414", fillOpacity: 0.6 })
                        this.openPopup()
                    })
                    marker.on('mouseout', function(e) {
                        e.target.setStyle({ fillColor: "#a9a9a9", fillOpacity: 0.2 })
                        this.closePopup()
                    })
                    return marker
                }
            }

            function delete_geo_object(id) {
                $("#dialog-confirm").dialog({
                    resizable: false, height: "auto", width: 340, modal: true,
                    title: "Kiezatlas Standort löschen", buttons: {
                        "Ja, löschen": function() {
                            $( this ).dialog( "close" );
                            window.document.location.href = GEO_OBJECT_DELETE_URI + id
                        },
                        "Nein": function() {
                            $( this ).dialog( "close" );
                        }
                    }
                })
            }

            function init_quick_search() {
                $searchUi = $('.right.menu .ui.search').search({
                    apiSettings: {
                        url: '/website/search/autocomplete?query={query}',
                        onRequest: function() {
                            $('.right.menu .ui.category.search').addClass("loading")
                            $('.right.menu .ui.category.search .icon.my').show()
                        },
                        onResponse: function() {
                            $('.right.menu .ui.category.search .icon.my').hide()
                            $('.right.menu .ui.category.search').removeClass("loading")
                        }
                    },
                    fields: {
                        results : 'results',
                        title   : 'name',
                        description: 'zusatz',
                        url     : 'link'
                    },
                    minCharacters : 3,
                    type: 'category'
                })
            }

            function init_comments_menu() {
                $('#add-comment').dropdown({
                    action: 'hide',
                    placeholder: 'Daten aktuell?',
                    onChange: function(value, text, $selectedItem) {
                        console.log("onChange selectedItem", $selectedItem)
                        $('#add-comment').dropdown('set selected', value)
                        $('.comment-input-fields').removeClass("hidden")
                        // custom action
                        add_editorial_note(text, value)
                        // $selectedItem.addClass("selected")
                        // $selectedItem.addAttr("selected")
                    }
                })
            }

            function logout() {
                restc.logout()
                window.document.location.reload()
            }

            function do_fulltext_search() { // to be implemented
                console.log("Do fulltext search on detail window...")
            }

            function add_editorial_note(text, value) {
                var $selection = $('#add-comment')
                console.log("Allow user to input a note for data editors...", $selection, text, value)
            }

        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas topic detail">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar"
             th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="header">
                <div class="welcome"></div>
            </div>

            <!-- ### Stellen Sie bitte vor Neueintraung '
                + '&uuml;ber eine Umkreis- oder Volltextsuche im <a href="/" target="_blank">Gesamtstadtplan</a> sicher das wir diesen Ort wirklich '
            + 'noch nicht im Kiezatlas eingetragen haben.<br/><br/>Vielen Dank f&uuml;r Ihre Mithilfe! -->

            <!-- Details Area -->
            <div id="detail-area" th:class="${angebotsinfos} ? 'angebotsinfos'">
                <div class="commands">
                    <p th:if="${!#strings.isEmpty(message)}" th:text="${message}"></p>
                    <a class="ui button olive edit" th:if="${authenticated} and ${editable}" th:href="'/website/geo/edit/' + ${geoobject.id}">Ortseintrag bearbeiten</a>
                    <a class="ui button red delete" th:if="${authenticated} and ${deletable}" th:href="'javascript:delete_geo_object(' + ${geoobject.id} + ')'">Eintrag l&ouml;schen</a>
                    <a class="ui button olive button publish" th:if="${is_publisher} and ${!is_published}" th:href="'/website/geo/confirm/' + ${geoobject.id}">Ver&ouml;ffentlichen</a>
                </div>
                <p class="comment" th:each="comment : ${geoobject.comments}">
                    <span class="message" th:text="${comment.message}"></span>
                    <span class="contact" th:if="${comment.contact}" th:text="'(' + ${comment.contact} + ')'"></span>
                </p>
                <div id="map"></div>
                <div class="info-area">
                    <div id="angebote" th:if="${angebotsinfos}">
                        <!--h3 class="label">Aktuelle Angebote dieser Einrichtung</h3-->
                        <div class="assigned-offers" th:each="angebotsinfo : ${angebotsinfos}">
                            <h3 th:text="${angebotsinfo.angebotsName}">Name des Angebots</h3>
                            <!--div th:utext="${angebotsinfo.description}"></div-->
                            <div th:if="${!#strings.isEmpty(angebotsinfo.additionalInfo)}"><span th:utext="${angebotsinfo.additionalInfo}"></span></div>
                            <div th:if="${!#strings.isEmpty(angebotsinfo.additionalContact)}"><span th:text="${angebotsinfo.additionalContact}"></span></div>
                            <p>
                                <span class="italic" th:text="${angebotsinfo.startDate} + ' &ndash; ' + ${angebotsinfo.endDate}">,</span>
                                <a class="read-more" th:href="'/angebote/' + ${angebotsinfo.angebotsId}">weitere Infos</a>
                            </p>
                        </div>
                    </div>
                    <div class="infos">
                        <h3 th:text='${geoobject.name}'>Name</h3>
                        <div class="data-features">
                            <!--select class="ui dropdown small" name="bearbeitungshinweis" id="add-comment">
                                <option value="">Bearbeitungshinweis geben...</option>
                                <option value="ka2.util.outdated_contact">Neuer Ansprechpartner*in...</option>
                                <option value="ka2.util.outdated_address">Anschrift veraltet...</option>
                                <option value="ka2.util.outdated_contact">Email-Adresse veraltet...</option>
                                <option value="ka2.util.outdated_contact">Telefonnummer veraltet...</option>
                                <option value="ka2.util.missing_webpage">Webseite hinzufügen...</option>
                                <option value="ka2.util.missing_fb_link">Facebook Page hinzufügen...</option>
                            </select><br/>
                            <div class="comment-input-fields ui input hidden">
                                <div class="ui input">
                                    <input name="hinweis" class="ui input message" type="text" placeholder="Anmerkung"/>
                                </div>
                                <div class="ui input">
                                    <input name="kontakt" class="ui input contact" type="text" placeholder="Kontakt (Email, Name)"/>
                                </div>
                                <div class="ui input">
                                    <button class="ok ui button default" type="button">Absenden</button>
                                </div>
                            </div-->
                            <a class="fahrinfo-link"
                               th:href="@{https://fahrinfo.bvg.de/Fahrinfo/bin/query.bin/dn(Z=${geoobject.address},REQ0JourneyStopsZA1=2,start=1,pk_campaign='kiezatlas.de')}">
                               <img src="/de.kiezatlas.website/images/fahrinfo.gif"/>
                            </a>
                        </div>
                        <p class="anschrift" th:if="${!#strings.isEmpty(geoobject.address)}">
                            <span th:utext='${geoobject.address}'>Anschrift</span>
                        </p>
                        <p class="bild" th:if="${!#strings.isEmpty(geoobject.imageUrl)}">
                            <img th:src='${geoobject.imageUrl}' alt="Abbildung, Foto der Einrichtung" />
                        </p>
                        <p class="ansprechpartner" th:if="${!#strings.isEmpty(geoobject.ansprechpartner)}">
                            <label>AnsprechpartnerIn</label>
                            <span th:utext='${geoobject.ansprechpartner}'>Ansprechpartner</span>
                        </p>
                        <p class="email" th:if="${!#strings.isEmpty(geoobject.email)}">
                            <label>Email</label>
                            <span th:utext='${geoobject.email}'>Email</span>
                        </p>
                        <p class="telefon" th:if="${!#strings.isEmpty(geoobject.telefon)}">
                            <label>Telefon</label>
                            <span th:utext='${geoobject.telefon}'>Telefon</span>
                        </p>
                        <p class="fax" th:if="${!#strings.isEmpty(geoobject.fax)}">
                            <label>Fax</label>
                            <span th:utext='${geoobject.fax}'>Fax</span>
                        </p>
                        <div class="opening" th:if="${!#strings.isEmpty(geoobject.oeffnungszeiten)}">
                            <label>&Ouml;ffnungszeiten</label>
                            <span th:utext='${geoobject.oeffnungszeiten}'>&Ouml;ffnungszeiten</span>
                        </div>
                        <p class="stichworte" th:if="${!#strings.isEmpty(geoobject.stichworte)}">
                            <label>Stichworte</label>
                            <span th:utext='${geoobject.stichworte}'>Stichworte</span>
                        </p>
                        <div class="beschreibung" th:if="${!#strings.isEmpty(geoobject.beschreibung)}">
                            <label>Beschreibung</label>
                            <span th:utext='${geoobject.beschreibung}'>Beschreibung</span>
                        </div>
                        <p class="website" th:if="${!#strings.isEmpty(geoobject.webpage)}">
                            <label>Website</label>
                            <a target="_blank" th:if="!${geoobject.webpage.contains('http')}" th:href="'http://' + ${geoobject.webpage}" th:text="${geoobject.webpage}">Website</a>
                            <a target="_blank" th:if="${geoobject.webpage.contains('http')}" th:href="${geoobject.webpage}" th:text="${geoobject.webpage}">Website</a>
                        </p>
                        <p class="sozialraumdaten" th:if="${!#strings.isEmpty(geoobject.LORId)}">
                            <label>Statistische Informationen zur Bev&ouml;lkerungsstruktur in der Umgebung dieses Ortes</label>
                            <a th:href="@{http://sozialraumdaten.kiezatlas.de/seiten/2014/12/(lor=${geoobject.LORId})}">Sozialraumdaten anzeigen</a>
                        </p>
                        <p class="regionen" th:if="${!#strings.isEmpty(geoobject.bezirk)}">
                            <label>Bezirk</label>
                            <span th:utext='${geoobject.bezirk}'>Bezirk</span>
                        </p>
                        <p class="regionen" th:if="${!#strings.isEmpty(geoobject.bezirksregionName)}">
                            <label>Bezirksregion</label>
                            <span th:utext='${geoobject.bezirksregionName}'>Bezirk</span>
                        </p>
                        <a class="imprint" th:href="${geoobject.imprint}">Impressum</a>
                    </div>
                </div>
                <div class="categories">
                    <div class="related-topics" th:each="audience : ${zielgruppen}">
                        <span class="thema" th:text='${audience.simpleValue}'>Name der Zielgruppe</span>
                    </div>
                    <div class="related-topics" th:each="service : ${angebote}">
                        <span class="angebot" th:text='${service.simpleValue}'>Name der Angebote</span>
                    </div>
                    <div class="related-topics" th:each="topic : ${themen}">
                        <span class="zielgruppe" th:text='${topic.simpleValue}'>Name des Themas</span>
                    </div>
                </div>
                <div th:if="${authenticated}" class="debug metadata">
                    <div class="creator">
                        Ein Eintrag von <a href="#creator" th:text="${geoobject.creator}" title="Benutzername"></a> 
                        in Workspace <span class="workspace" th:text="${#strings.contains(workspace.simpleValue, 'DeepaMehta')} ? 'Standard' : ${workspace.simpleValue}"></span>.
                    </div>
                </div>
            </div>
        </div>

        <div id="dialog-confirm" title="Eintrag löschen?">Willst du diesen Standort wirklich aus dem Kiezatlas entfernen?</div>

        <p>&nbsp;</p>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=false)"></div>

    </body>
</html>

