<!DOCTYPE html>
<html>
    <head>
        <title th:text="${geoobject.name} + ' - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/vendor/leaflet/leaflet.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/button.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/search.min.css"/>

        <script src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script src="/de.kiezatlas.website/vendor/leaflet/leaflet.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/sidebar.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/api.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/search.min.js"></script>

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            $sidebarUi = undefined
            // App initialization
            $(document).ready(function(e) {
                $sidebarUi = $('.ui.sidebar').sidebar('setting', 'dimPage', false)
                $searchUi = $('.right.menu .ui.search').search({
                    apiSettings: {
                        url: '/website/search/autocomplete?query={query}',
                        onRequest: function() {
                            $('.right.menu .ui.category.search').addClass("loading")
                            $('.right.menu .ui.category.search .icon.my').show()
                        },
                        onResponse: function() {
                            $('.right.menu .ui.category.search .icon.my').hide()
                            $('.right.menu .ui.category.search').removeClass("loading")
                        }
                    },
                    fields: {
                        results : 'results',
                        title   : 'name',
                        description: 'zusatz',
                        url     : 'link'
                    },
                    minCharacters : 3,
                    type: 'category'
                })
                var latitude = /*[[${geoobject.latitude}]]*/ undefined;
                var longitude = /*[[${geoobject.longitude}]]*/ undefined;
                var lCoordinate = L.latLng(latitude, longitude)
                var name = /*[[${geoobject.name}]]*/ undefined;
                var map = L.map('map', { scrollWheelZoom: false } ).setView(lCoordinate, 17)
                L.tileLayer('https://api.tiles.mapbox.com/v4/kiezatlas.pd8lkp64/{z}/{x}/{y}.png?' // old style id="kiezatlas.map-feifsq6f"
                    + 'access_token=pk.eyJ1Ijoia2llemF0bGFzIiwiYSI6ImNpa3BndjU2ODAwYm53MGxzM3JtOXFmb2IifQ._PcBhOcfLYDD8RP3BS0U_g', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'
                    + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &#169; <a href="http://mapbox.com">Mapbox</a>',
                    id: 'kiezatlas.m7222ia5'}).addTo(map)
                L.circleMarker(lCoordinate, {
                    weight: 3, opacity: 0.6, fillColor: "#a9a9a9", fillOpacity: 0.2, color: "#8f1414",
                }).addTo(map)
            })

            function logout() {
                restc.logout()
                window.document.location.reload()
            }

            function do_fulltext_search() { // to be implemented
                console.log("Do fulltext search on detail window...")
            }

        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas topic detail">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="header">
                <div class="welcome"></div>
            </div>

            <!-- ### Stellen Sie bitte vor Neueintraung '
                + '&uuml;ber eine Umkreis- oder Volltextsuche im <a href="/" target="_blank">Gesamtstadtplan</a> sicher das wir diesen Ort wirklich '
            + 'noch nicht im Kiezatlas eingetragen haben.<br/><br/>Vielen Dank f&uuml;r Ihre Mithilfe! -->

            <!-- Details Area -->
            <div id="detail-area" th:class="${angebotsinfos} ? 'angebotsinfos'">
                <div class="commands">
                    <p th:if="${!#strings.isEmpty(message)}" th:text="${message}"></p>
                    <a class="ui button olive edit" th:if="${authenticated} and ${editable}" th:href="'/website/geo/edit/' + ${geoobject.id}">Bearbeiten</a>
                    <a class="ui button red delete" th:if="${authenticated} and ${editable}" th:href="'/website/geo/delete/' + ${geoobject.id}">L&ouml;schen</a>
                    <a class="ui button olive button publish" th:if="${is_publisher} and ${!is_published}" th:href="'/website/geo/confirm/' + ${geoobject.id}">Freischalten</a>
                </div>
                <p class="comment" th:each="comment : ${geoobject.comments}">
                    <span class="message" th:text="${comment.message}"></span>
                    <span class="contact" th:if="${comment.contact}" th:text="'(' + ${comment.contact} + ')'"></span>
                </p>
                <div id="map"></div>
                <div class="info-area">
                    <div id="angebote" th:if="${angebotsinfos}">
                        <!--h3 class="label">Aktuelle Angebote dieser Einrichtung</h3-->
                        <div class="assigned-offers" th:each="angebotsinfo : ${angebotsinfos}">
                            <h3 th:text="${angebotsinfo.angebotsName}">Name des Angebots</h3>
                            <!--div th:utext="${angebotsinfo.description}"></div-->
                            <div th:if="${!#strings.isEmpty(angebotsinfo.additionalInfo)}"><span th:utext="${angebotsinfo.additionalInfo}"></span></div>
                            <div th:if="${!#strings.isEmpty(angebotsinfo.additionalContact)}"><span th:text="${angebotsinfo.additionalContact}"></span></div>
                            <p>
                                <span class="italic" th:text="${angebotsinfo.startDate} + ' &ndash; ' + ${angebotsinfo.endDate}">,</span>
                                <a class="read-more" th:href="'/angebote/' + ${angebotsinfo.angebotsId}">weitere Infos</a>
                            </p>
                        </div>
                    </div>
                    <div class="infos">
                        <h3 th:text='${geoobject.name}'>Name</h3>
                        <a class="fahrinfo-link"
                           th:href="@{https://fahrinfo.bvg.de/Fahrinfo/bin/query.bin/dn(Z=${geoobject.address},REQ0JourneyStopsZA1=2,start=1,pk_campaign='kiezatlas.de')}">
                            <img src="/de.kiezatlas.website/images/fahrinfo.gif"/>
                        </a>
                        <p class="anschrift" th:if="${!#strings.isEmpty(geoobject.address)}">
                            <span th:utext='${geoobject.address}'>Anschrift</span>
                        </p>
                        <p class="bild" th:if="${!#strings.isEmpty(geoobject.imageUrl)}">
                            <img th:src='${geoobject.imageUrl}' alt="Abbildung, Foto der Einrichtung" />
                        </p>
                        <p class="ansprechpartner" th:if="${!#strings.isEmpty(geoobject.ansprechpartner)}">
                            <label>AnsprechpartnerIn</label>
                            <span th:utext='${geoobject.ansprechpartner}'>Ansprechpartner</span>
                        </p>
                        <p class="email" th:if="${!#strings.isEmpty(geoobject.email)}">
                            <label>Email</label>
                            <span th:utext='${geoobject.email}'>Email</span>
                        </p>
                        <p class="telefon" th:if="${!#strings.isEmpty(geoobject.telefon)}">
                            <label>Telefon</label>
                            <span th:utext='${geoobject.telefon}'>Telefon</span>
                        </p>
                        <p class="fax" th:if="${!#strings.isEmpty(geoobject.fax)}">
                            <label>Fax</label>
                            <span th:utext='${geoobject.fax}'>Fax</span>
                        </p>
                        <div class="opening" th:if="${!#strings.isEmpty(geoobject.oeffnungszeiten)}">
                            <label>&Ouml;ffnungszeiten</label>
                            <span th:utext='${geoobject.oeffnungszeiten}'>&Ouml;ffnungszeiten</span>
                        </div>
                        <p class="stichworte" th:if="${!#strings.isEmpty(geoobject.stichworte)}">
                            <label>Stichworte</label>
                            <span th:utext='${geoobject.stichworte}'>Stichworte</span>
                        </p>
                        <div class="beschreibung" th:if="${!#strings.isEmpty(geoobject.beschreibung)}">
                            <label>Beschreibung</label>
                            <span th:utext='${geoobject.beschreibung}'>Beschreibung</span>
                        </div>
                        <p class="website" th:if="${!#strings.isEmpty(geoobject.webpage)}">
                            <label>Website</label>
                            <a th:href="${geoobject.webpage}" th:text="${geoobject.webpage}">Website</a>
                        </p>
                        <p class="sozialraumdaten" th:if="${!#strings.isEmpty(geoobject.lor)}"><a th:href="@{http://sozialraumdaten.kiezatlas.de/seiten/2014/12/(lor=${geoobject.lor})}">Sozialraumdaten</a></p>
                        <a class="imprint" th:href="${geoobject.imprint}">Impressum</a>
                    </div>
                </div>
                <div class="categories">
                    <div class="related-topics" th:each="audience : ${zielgruppen}">
                        <span class="thema" th:text='${audience.simpleValue}'>Name der Zielgruppe</span>
                    </div>
                    <div class="related-topics" th:each="service : ${angebote}">
                        <span class="angebot" th:text='${service.simpleValue}'>Name der Angebote</span>
                    </div>
                    <div class="related-topics" th:each="topic : ${themen}">
                        <span class="zielgruppe" th:text='${topic.simpleValue}'>Name des Themas</span>
                    </div>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=false)"></div>

    </body>
</html>

