<!DOCTYPE html>
<html>
    <head>
        <title th:text="${geoobject.name} + ' - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/vendor/leaflet/leaflet.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>

        <!-- script src="/de.kiezatlas.website/vendor/jquery/jquery-1.9.1.min.js"></script-->
        <script src="/de.kiezatlas.website/vendor/leaflet/leaflet.js"></script>
        <script src="/de.kiezatlas.angebote/vendor/ckeditor/ckeditor.js"></script>
        <script src="/de.kiezatlas.angebote/vendor/ckeditor/config.js"></script>
        <!-- script src="/de.kiezatlas.website/ka-restclient.js"></script-->
        <!-- script src="/de.kiezatlas.website/ka-map.js"></script-->

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            // App initialization
            window.onload = function() {
                var coordinate = /*[[${geoobject.coordinate}]]*/ undefined;
                var lCoordinate = L.latLng(coordinate.split(", "))
                var name = /*[[${geoobject.name}]]*/ undefined;
                var map = L.map('map', { scrollWheelZoom: false } ).setView(lCoordinate, 17)
                L.tileLayer('https://api.tiles.mapbox.com/v4/kiezatlas.pd8lkp64/{z}/{x}/{y}.png?' // old style id="kiezatlas.map-feifsq6f"
                    + 'access_token=pk.eyJ1Ijoia2llemF0bGFzIiwiYSI6ImNpa3BndjU2ODAwYm53MGxzM3JtOXFmb2IifQ._PcBhOcfLYDD8RP3BS0U_g', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'
                    + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &#169; <a href="http://mapbox.com">Mapbox</a>',
                    id: 'kiezatlas.m7222ia5'}).addTo(map)
                L.circleMarker(lCoordinate, {
                    weight: 3, opacity: 0.6, fillColor: "#a9a9a9", fillOpacity: 0.2, color: "#8f1414",
                }).addTo(map)
                CKEDITOR.inline('beschreibung')
                CKEDITOR.inline('oeffnungszeiten')
            }
        /*]]>*/
        </script>
    </head>
    <body class="kiezatlas topic edit">

        <div id="navigation">
            <ul>
                <!--li class="register"><a href="/sign-up/">Registrieren</a></li-->
                <li class="angebote"><a href="/">Startseite</a></li>
                <li class="angebote"><a href="/angebote/">Angebote</a></li>
                <li class="login"><a href="/sign-up/login">Login</a></li>
                <!-- li class="angebote"><a href="/kiezatlas/angebot/">Orte</a></li-->
                <!-- li class="angebote"><a href="/sign-up/edit/">Mein Account</a></li-->
                <li class="logout"><a href="/#logout/" onclick="javascript:restc.logout()">Abmelden</a></li>
            </ul>
        </div>

        <div id="header">
            <div class="welcome"></div>
        </div>

        <!-- Details Area -->
        <div id="detail-area">
            <div id="map"></div>
                <form class="infos" th:action="'/website/edit/' + ${geoobject.id}" method="POST">
                    <div class="info-area">
                        <div class="left-side">
                            <label for="name">Name</label>
                            <input type="text" name="name" th:value='${geoobject.name}'/>
                            <label for="strasse">Stra&szlig;enname</label>
                            <input type="text" name="anschrift" th:value='${geoobject.address}'/>
                            <label for="hausnr">Hausnummer</label>
                            <input type="text" name="hrn" th:value='${geoobject.address}'/>
                            <label for="beschreibung">Beschreibung</label>
                            <textarea id="beschreibung" name="beschreibung"
                                      contenteditable="true" th:utext="${geoobject.beschreibung}"/>
                            <label for="open">&Ouml;ffnungszeiten</label>
                            <textarea id="oeffnungszeiten" name="open" contenteditable="true" th:utext='${geoobject.oeffnungszeiten}'/>
                            <label for="stichworte">Stichworte</label>
                            <input type="text" name="stichworte" th:utext='${geoobject.stichworte}'/>
                        </div>
                        <div class="right-side">
                            <label for="ansprechpartner">AnsprechpartnerIn</label>
                            <input type="text" name="ansprechpartner" th:value='${geoobject.ansprechpartner}'/>
                            <label for="telefon">Telefon</label>
                            <input type="text" name="telefon" th:value='${geoobject.telefon}'/>
                            <label for="email">Email</label>
                            <input type="text" name="email" th:value='${geoobject.email}'/>
                            <label for="fax">Fax</label>
                            <input type="text" name="fax" th:value='${geoobject.fax}'/>
                            <label for="website">Website</label>
                            <input type="text" name="website" th:value='${geoobject.webpage}'/>
                        </div>
                        <!--
                        <p class="sozialraumdaten" th:if="${!#strings.isEmpty(geoobject.lor)}"><a th:href="@{http://sozialraumdaten.kiezatlas.de/seiten/2014/12/(lor=${geoobject.lor})}">Sozialraumdaten</a></p>
                        <a class="imprint" th:href="${geoobject.imprint}">Impressum</a-->
                    </div>
                    <div class="info-area">
                        <input type="submit" value="Ok"/>
                    </div>
                </form>
            <div class="categories">
                <div class="related-topics" th:each="audience : ${zielgruppen}">
                    <span class="thema" th:text='${audience.simpleValue}'>Name der Zielgruppe</span>
                </div>
                <div class="related-topics" th:each="service : ${angebote}">
                    <span class="angebot" th:text='${service.simpleValue}'>Name der Angebote</span>
                </div>
                <div class="related-topics" th:each="topic : ${themen}">
                    <span class="zielgruppe" th:text='${topic.simpleValue}'>Name des Themas</span>
                </div>
            </div>
        </div>

        <!-- Kiezatlas Standard Website section -->
        <div id="pages">
            <ul>
                <li><a href="/aktuelles">Aktuelles</a></li>
                <li><a href="/projektbeschreibung">Projektbeschreibung</a></li>
                <li><a href="/dies-das">Dies und Das</a></li>
                <li><a href="/weitere-atlanten">Weitere Atlanten</a></li>
                <li><a href="http://pax.spinnenwerk.de/~kiezatlas/index.php?id=6">Impressum</a></li>
                <li><a href="/datenschutzhinweise">Datenschutzhinweise</a></li>
                <li><a href="/api-documentation">API</a></li>
                <li><a href="/open-source">Open Source</a></li>
                <li><a href="/links">Links</a></li>
            </ul>
            <p></p>
        </div>

        <div id="bottom">
            <img src="/de.kiezatlas.website/images/kiezatlas2-logo.png" width="150" />
        </div>

        <!-- Piwik -->
        <script type="text/javascript">
        var pkBaseURL = "//stats.infokitchen.net/";
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
        </script>
        <noscript>
            <img th:src="@{https://stats.infokitchen.net/piwik.php(idsite=2,rec=1,action_name='Kiezatlas+2+Topic')}" style="border:0" alt="" />
        </noscript>
        <!-- End Piwik Tracking Code -->

    </body>
</html>

