<!DOCTYPE html>
<html>
    <head>
        <title th:text="'Edit - ' + ${geoobject.name} + ' - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/vendor/leaflet/leaflet.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>

        <script src="/de.kiezatlas.website/vendor/jquery/jquery-1.9.1.min.js"></script>
        <script src="/de.kiezatlas.website/vendor/leaflet/leaflet.js"></script>
        <script src="/de.kiezatlas.angebote/vendor/ckeditor/ckeditor.js"></script>
        <script src="/de.kiezatlas.angebote/vendor/ckeditor/config.js"></script>
        <script src="/de.kiezatlas.website/ka-restclient.js"></script>
        <!-- script src="/de.kiezatlas.website/ka-map.js"></script-->

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            // App initialization
            var draggableMarker, map, circleMarker, latitude, longitude, lCoordinate;
            // ### TODOs: set proper "workspace" and "dm4_no_geocoding=true" cookies
            var kiezatlasWsId = /*[[${workspace.id}]]*/ undefined;
            if (kiezatlasWsId) {
                restc.erase_cookie("dm4_workspace_id")
                restc.create_cookie("dm4_workspace_id", kiezatlasWsId)
            }
            document.cookie = " dm4_no_geocoding=true;"
            console.log("Show Cookies", document.cookie)

            window.onload = function() {
                latitude = /*[[${geoobject.latitude}]]*/ undefined;
                longitude = /*[[${geoobject.longitude}]]*/ undefined;
                lCoordinate = L.latLng(latitude, longitude)
                map = L.map('map', { scrollWheelZoom: false } ).setView(lCoordinate, 17)
                L.tileLayer('https://api.tiles.mapbox.com/v4/kiezatlas.pd8lkp64/{z}/{x}/{y}.png?' // old style id="kiezatlas.map-feifsq6f"
                    + 'access_token=pk.eyJ1Ijoia2llemF0bGFzIiwiYSI6ImNpa3BndjU2ODAwYm53MGxzM3JtOXFmb2IifQ._PcBhOcfLYDD8RP3BS0U_g', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'
                    + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &#169; <a href="http://mapbox.com">Mapbox</a>',
                    id: 'kiezatlas.m7222ia5'}).addTo(map)
                draggableMarker = L.marker(lCoordinate, { draggable: true} )
                draggableMarker.on('dragend', function(e) {
                    var pos = draggableMarker.getLatLng()
                    // console.log("Position Update, Latitude", pos.lat, "Longitude", pos.lng, pos)
                    document.getElementById('latitude-val').value = Number((pos.lat).toFixed(5))
                    document.getElementById('longitude-val').value = Number((pos.lng).toFixed(5))
                })
                circleMarker = L.circleMarker(lCoordinate, {
                    weight: 3, opacity: 0.6, fillColor: "#a9a9a9", fillOpacity: 0.2, color: "#8f1414", clickable: true
                })
                circleMarker.addTo(map)
                circleMarker.on('click', function(e) {
                    do_manual_placement()
                })
                CKEDITOR.inline('beschreibung')
                CKEDITOR.inline('oeffnungszeiten')
            }

            function do_geocode() {
                var streetNr = document.getElementById('streetnr').value
                var zipCode = document.getElementById('postal-code').value
                var city = document.getElementById('city').value
                restc.do_geocode(streetNr + " " + zipCode + " " + city, function(response) {
                    try {
                        console.log("Geo Coded Resonse", response.results[0].geometry.location)
                        document.getElementById("latitude-val").value = response.results[0].geometry.location.lat
                        document.getElementById("longitude-val").value = response.results[0].geometry.location.lng
                        do_manual_placement()
                    } catch (e) {
                        alert("Die Koordinaten konnten leider nicht automatisch ermittelt werden. Bitte versuchen Sie es mittels '\n\
                            + 'manueller Positionierung des Markierers und unter Anpassung des Kartenausschnitts.")
                    }
                })
            }

            function clear_coordinates() {
                document.getElementById('latitude-val').value = "-1000"
                document.getElementById('longitude-val').value = "-1000"
            }

            function reset_coordinates() {
                if (map.hasLayer(draggableMarker)) { // initiate standard marker
                    map.removeLayer(draggableMarker)
                    circleMarker.addTo(map)
                }
                document.getElementById('latitude-val').value = latitude
                document.getElementById('longitude-val').value = longitude
                update_marker_position()
            }

            function update_marker_position() {
                var newLat = document.getElementById('latitude-val').value
                var newLong = document.getElementById('longitude-val').value
                draggableMarker.setLatLng(L.latLng(newLat, newLong))
                map.panTo(draggableMarker.getLatLng())
            }

            function do_manual_placement() {
                if (map.hasLayer(circleMarker)) { // initiate draggable marker
                    map.removeLayer(circleMarker)
                    draggableMarker.addTo(map)
                }
                update_marker_position()
            }
        /*]]>*/
        </script>
    </head>
    <body class="kiezatlas topic edit">

        <div id="navigation">
            <ul>
                <!--li class="register"><a href="/sign-up/">Registrieren</a></li-->
                <li class="angebote"><a href="/">Startseite</a></li>
                <li class="angebote"><a href="/angebote/">Angebote</a></li>
                <li class="login" th:if="!${authenticated}" ><a href="/sign-up/login">Login</a></li>
                <!-- li class="angebote"><a href="/sign-up/edit/">Mein Account</a></li-->
                <li class="logout" th:if="${authenticated}" ><a href="/#logout/" onclick="javascript:restc.logout()">Abmelden</a></li>
            </ul>
        </div>

        <div id="header">
            <div class="welcome"></div>
        </div>

        <!-- Details Area -->
        <div id="detail-area">
            <div class="commands">
                <span th:if="${!#strings.isEmpty(message)}" th:utext="${message}" class="message"></span>
                <!--a th:if="${editable} and ${authenticated}" th:href="'/website/topic/' + ${geoobject.id}">Cancel</a-->
            </div>
            <div id="map"></div>
                <form class="infos" action="/website/topic/save" method="POST">
                    <div class="info-area">
                        <div class="left-side">
                            <input th:if="${!#strings.isEmpty(geoobject.id)}" type="hidden" name="id" th:value='${geoobject.id}'/>
                            <label for="name">Name</label>
                            <input type="text" name="name" th:value='${geoobject.name}'/>
                            <label for="strasse">Stra&szlig;enname</label>
                            <input type="text" id="streetnr" name="strasse" th:value='${geoobject.strasse}'/>
                            <label for="plz">Postleitzahl, Bezirk</label>
                            <input type="number" id="postal-code" class="plz" name="plz" th:value='${geoobject.plz}'/>
                            <!-- Reusable Topic Selectors -->
                            <select id="district" name="district">
                                <option th:each="district : ${availableDistricts}" th:selected="${#strings.toString(district.simpleValue) eq geoobject.bezirk}" th:value="${district.id}" th:text="${district.simpleValue}"></option>
                            </select>
                            <!--label for="plz">Stadt, Land</label-->
                            <select id="city" name="city">
                                <option th:each="city : ${availableCities}" th:selected="${#strings.toString(city.simpleValue) eq geoobject.city}"  th:value="${city.id}" th:text="${city.simpleValue}"></option>
                            </select>
                            <select id="country" name="country">
                                <option th:each="city : ${availableCountries}" th:selected="${#strings.toString(city.simpleValue) eq geoobject.country}"  th:value="${city.id}" th:text="${city.simpleValue}"></option>
                            </select>
                            <!-- Plain Text Data -->
                            <label for="ansprechpartner">AnsprechpartnerIn</label>
                            <input type="text" name="ansprechpartner" th:value='${geoobject.ansprechpartner}'/>
                            <label for="telefon">Telefon</label>
                            <input type="text" name="telefon" th:value='${geoobject.telefon}'/>
                            <label for="email">Email</label>
                            <input type="text" name="email" th:value='${geoobject.email}'/>
                            <label for="fax">Fax</label>
                            <input type="text" name="fax" th:value='${geoobject.fax}'/>
                            <label for="zielgruppen">Zielgruppe</label>
                            <select id="zielgruppen" name="zielgruppen" multiple="true">
                                <option th:each="thema : ${availableZielgruppen}" th:value="${thema.id}" th:text="${thema.simpleValue}"></option>
                            </select>
                        </div>
                        <div class="right-side">
                            <label for="lat">Breitengrad (Latitude) &ndash; L&auml;ngengrad (Longitude)</label>
                            <input class="coordinates" onchange="do_manual_placement()" id="latitude-val" type="number" step="any" name="lat" th:value='${geoobject.latitude}'/>
                            <input class="coordinates" onchange="do_manual_placement()" id="longitude-val" type="number" step="any" name="lon" th:value='${geoobject.longitude}'/>
                            <br/>
                            <span class="label">Geo Koordinate dieses Ortes</span><br/>
                            <a class="button reset" onclick="do_geocode()">Neu Ermitteln</a>
                            <a class="button" onclick="do_manual_placement()">Manuell platzieren</a>
                            <a class="button" onclick="reset_coordinates()">Zur&uuml;cksetzen</a>
                            <a class="button" onclick="clear_coordinates()">L&ouml;schen</a>
                            <br/><br/>
                            <!-- HTML Data -->
                            <label for="beschreibung">Beschreibung</label>
                            <textarea id="beschreibung" name="beschreibung"
                                      contenteditable="true" th:utext="${geoobject.beschreibung}"/>
                            <label for="open">&Ouml;ffnungszeiten</label>
                            <textarea id="oeffnungszeiten" name="open" contenteditable="true" th:utext='${geoobject.oeffnungszeiten}'/>
                            <!-- label for="stichworte">Stichworte</label>
                            <input type="text" name="stichworte" th:value='${geoobject.stichworte}'/-->
                            <label for="website">Website</label>
                            <input type="text" name="website" th:value='${geoobject.webpage}'/>
                            <label for="thema">Thema</label>
                            <select id="thema" name="themen" multiple="true">
                                <option th:each="thema : ${availableThemen}" th:value="${thema.id}" th:text="${thema.simpleValue}"></option>
                            </select>
                            <label for="angebote-crit">Angebot</label>
                            <select id="angebote-crit" name="angebote" multiple="true">
                                <option th:each="thema : ${availableAngebote}" th:value="${thema.id}" th:text="${thema.simpleValue}"></option>
                            </select>
                        </div>
                        <!--
                        <p class="sozialraumdaten" th:if="${!#strings.isEmpty(geoobject.lor)}"><a th:href="@{http://sozialraumdaten.kiezatlas.de/seiten/2014/12/(lor=${geoobject.lor})}">Sozialraumdaten</a></p>
                        <a class="imprint" th:href="${geoobject.imprint}">Impressum</a-->
                    </div>
                    <div class="info-area">
                        <input type="submit" value="Ok"/>
                        <a class="button" th:href="'/website/topic/' + ${geoobject.id}">Cancel</a>
                    </div>
                </form>
            <div class="categories">
                <div class="related-topics" th:each="audience : ${zielgruppen}">
                    <span class="thema" th:text='${audience.simpleValue}'>Name der Zielgruppe</span>
                </div>
                <div class="related-topics" th:each="service : ${angebote}">
                    <span class="angebot" th:text='${service.simpleValue}'>Name der Angebote</span>
                </div>
                <div class="related-topics" th:each="topic : ${themen}">
                    <span class="zielgruppe" th:text='${topic.simpleValue}'>Name des Themas</span>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>

        <!-- Kiezatlas Standard Website section -->
        <!--div id="pages">
            <ul>
                <li><a href="/aktuelles">Aktuelles</a></li>
                <li><a href="/projektbeschreibung">Projektbeschreibung</a></li>
                <li><a href="/dies-das">Dies und Das</a></li>
                <li><a href="/weitere-atlanten">Weitere Atlanten</a></li>
                <li><a href="http://pax.spinnenwerk.de/~kiezatlas/index.php?id=6">Impressum</a></li>
                <li><a href="/datenschutzhinweise">Datenschutzhinweise</a></li>
                <li><a href="/api-documentation">API</a></li>
                <li><a href="/open-source">Open Source</a></li>
                <li><a href="/links">Links</a></li>
            </ul>
            <p></p>
        </div-->

        <div id="bottom">
            <img src="/de.kiezatlas.website/images/kiezatlas2-logo.png" width="150" />
        </div>

        <!-- Piwik
        <script type="text/javascript">
        var pkBaseURL = "//stats.infokitchen.net/";
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
        </script>
        <noscript>
            <img th:src="@{https://stats.infokitchen.net/piwik.php(idsite=2,rec=1,action_name='Kiezatlas+2+GeoObjectForm')}" style="border:0" alt="" />
        </noscript>
        End Piwik Tracking Code -->

    </body>
</html>

