<!DOCTYPE html>
<html>
    <head>
        <title th:text="'Edit - ' + ${geoobject.name} + ' - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/vendor/leaflet/leaflet.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>

        <!-- New Semantic UI Styles -->
        <link media="all" href="/de.kiezatlas.website/css/semantic-ui/components/header.min.css" rel="stylesheet" />
        <link media="all" href="/de.kiezatlas.website/css/semantic-ui/components/menu.min.css" rel="stylesheet" />
        <link media="all" href="/de.kiezatlas.website/css/semantic-ui/components/item.min.css" rel="stylesheet" />

        <script src="/de.kiezatlas.website/vendor/jquery/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="/de.deepamehta.webclient/script/vendor/jquery/css/custom-theme/jquery-ui-1.10.3.custom.min.css" type="text/css"/>
        <script src="/de.deepamehta.webclient/script/vendor/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="/de.deepamehta.webclient/script/vendor/jquery/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/gui_toolkit.js"></script>
        <script src="/de.kiezatlas.website/vendor/leaflet/leaflet.js"></script>
        <script src="/de.kiezatlas.angebote/vendor/ckeditor/ckeditor.js"></script>
        <script src="/de.kiezatlas.angebote/vendor/ckeditor/config.js"></script>
        <script src="/de.kiezatlas.website/ka-restclient.js"></script>
        <!-- script src="/de.kiezatlas.website/ka-map.js"></script-->

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            // App initialization
            var draggableMarker, map, circleMarker, latitude, longitude, lCoordinate;
            var kiezatlasWsId = /*[[${workspace.id}]]*/ undefined;
            if (kiezatlasWsId) {
                restc.erase_cookie("dm4_workspace_id")
                restc.create_cookie("dm4_workspace_id", kiezatlasWsId)
            }
            document.cookie = " dm4_no_geocoding=true;"
            console.log("Show Cookies", document.cookie)

            window.onload = function() {
                latitude = /*[[${geoobject.latitude}]]*/ undefined;
                longitude = /*[[${geoobject.longitude}]]*/ undefined;
                lCoordinate = L.latLng(latitude, longitude)
                map = L.map('map', { scrollWheelZoom: false } ).setView(lCoordinate, 17)
                L.tileLayer('https://api.tiles.mapbox.com/v4/kiezatlas.pd8lkp64/{z}/{x}/{y}.png?' // old style id="kiezatlas.map-feifsq6f"
                    + 'access_token=pk.eyJ1Ijoia2llemF0bGFzIiwiYSI6ImNpa3BndjU2ODAwYm53MGxzM3JtOXFmb2IifQ._PcBhOcfLYDD8RP3BS0U_g', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'
                    + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &#169; <a href="http://mapbox.com">Mapbox</a>',
                    id: 'kiezatlas.m7222ia5'}).addTo(map)
                draggableMarker = L.marker(lCoordinate, { draggable: true} )
                draggableMarker.on('dragend', function(e) {
                    var pos = draggableMarker.getLatLng()
                    // console.log("Position Update, Latitude", pos.lat, "Longitude", pos.lng, pos)
                    document.getElementById('latitude-val').value = Number((pos.lat).toFixed(5))
                    document.getElementById('longitude-val').value = Number((pos.lng).toFixed(5))
                })
                circleMarker = L.circleMarker(lCoordinate, {
                    weight: 3, opacity: 0.6, fillColor: "#a9a9a9", fillOpacity: 0.2, color: "#8f1414", clickable: true
                })
                circleMarker.addTo(map)
                circleMarker.on('click', function(e) {
                    do_manual_placement()
                })
                CKEDITOR.inline('beschreibung')
                CKEDITOR.inline('oeffnungszeiten')
            }

            function do_geocode() {
                var streetNr = document.getElementById('streetnr').value
                var zipCode = document.getElementById('postal-code').value
                var districtSelect = document.getElementById('district')
                var selectedDistrict = districtSelect.options[districtSelect.selectedIndex]
                var citySelect = document.getElementById('city')
                var selectedCity = citySelect.options[citySelect.selectedIndex]
                var countrySelect = document.getElementById('country')
                var selectedCountry = countrySelect.options[countrySelect.selectedIndex]
                var queryString = streetNr + ", "
                if (zipCode.length > 0) queryString += zipCode + " "
                if (selectedCity.value !== "undefined") queryString += selectedCity.text + " "
                console.log("Selected District", districtSelect, selectedDistrict.value)
                if (selectedDistrict.value !== -1 && !selectedDistrict.text.startsWith("Bitte Bezirk")) queryString += selectedDistrict.text + " "
                queryString += selectedCountry.text
                restc.do_geocode(queryString, function(response) {
                    try {
                        var postalCode = parse_google_response("postal_code", response.results[0])
                        var districtName = parse_google_response("sublocality_level_1", response.results[0])
                        document.getElementById("latitude-val").value = response.results[0].geometry.location.lat
                        document.getElementById("longitude-val").value = response.results[0].geometry.location.lng
                        do_manual_placement()
                        $('#google-district').val(districtName)
                        console.log("Geo Coded Resonse included", postalCode, "Set Google District: ", districtName)
                    } catch (e) {
                        alert("Die Koordinaten konnten leider nicht automatisch ermittelt werden. Bitte versuchen Sie es mittels "
                            + "manueller Positionierung des Markierers und unter Anpassung des Kartenausschnitts.")
                    }
                })
            }

            function parse_google_response(fieldKey, results) {
                for (var idx in results["address_components"]) {
                    var comp = results["address_components"][idx]
                    for (var tdx in comp.types) {
                        if (comp.types[tdx] === fieldKey) return comp.short_name
                    }
                }
                return undefined
            }

            function clear_coordinates() {
                document.getElementById('latitude-val').value = "-1000"
                document.getElementById('longitude-val').value = "-1000"
            }

            function reset_coordinates() {
                if (map.hasLayer(draggableMarker)) { // initiate standard marker
                    map.removeLayer(draggableMarker)
                    circleMarker.addTo(map)
                }
                document.getElementById('latitude-val').value = latitude
                document.getElementById('longitude-val').value = longitude
                update_marker_position()
            }

            function update_marker_position() {
                var newLat = document.getElementById('latitude-val').value
                var newLong = document.getElementById('longitude-val').value
                draggableMarker.setLatLng(L.latLng(newLat, newLong))
                map.panTo(draggableMarker.getLatLng())
            }

            function do_manual_placement() {
                if (map.hasLayer(circleMarker)) { // initiate draggable marker
                    map.removeLayer(circleMarker)
                    draggableMarker.addTo(map)
                }
                update_marker_position()
            }

            function start_upload() {
                open_upload_dialog("/images/upload", function(response) {
                    console.log("Bild Upload Handler", response)
                    $('#bild-topic').val(response.id)
                }, $("body"))
            }

            /**
             * GUIToolkit Helper Methods copied from dm4-webclient module
             * @param   uploadResource    the file repository path (a string) to upload the selected file to. Must begin with "/".
             * @param   callback    the function that is invoked once the file has been uploaded and processed at server-side.
             *                      One argument is passed to that function: the object (deserialzed JSON)
             *                      returned by the (server-side) executeCommandHook. ### FIXDOC
             * @param   $parent     jQuery Parent (DOM) Element
             */
            function open_upload_dialog(uploadResource, callback, $parent) {
                // install upload target
                var upload_target = $("<iframe>", {name: "upload-target"}).hide()
                $("body").append(upload_target)
                // create upload dialog
                var upload_form = $("<form>", {
                    method:  "post", enctype: "multipart/form-data",
                    target:  "upload-target", action: uploadResource
                })
                .append($('<input type="file">').attr({name: "file", size: 60}))
                .append($('<input class=\"button\" type="submit">').attr({value: "Upload"}))
                .append($('<br/><br/><label>Hinweis: Das Bild sollte die Gr&ouml;&szlig;e von 360px nicht '
                    + '&uuml;berschreiten.</label>'))
                //
                var toolkit = new GUIToolkit()
                var upload_dialog = toolkit.dialog({id:"picture-upload", title: "Füge Bild hinzu", content: upload_form})
                $('.ui-dialog.ui-widget').show()

                // bind handler
                upload_target.unbind("load")    // Note: the previous handler must be removed
                upload_target.load(upload_complete)

                    function upload_complete() {
                        upload_dialog.close()
                        // Note: iframes must be accessed via window.frames
                        var response = $("pre", window.frames["upload-target"].document).text()
                        try {
                            var response_object = JSON.parse(response)
                            callback(response_object, $parent)
                        } catch (e) {
                            console.warn("Upload failed: \"" + response_object + "\"\nException=" + JSON.stringify(e))
                        } finally {
                            $('.ui-dialog.ui-widget').hide()
                        }
                    }
                return undefined
            }

        /*]]>*/
        </script>
    </head>
    <body class="kiezatlas topic edit">

        <div th:include="partials :: top_navigation (publisher=${is_publisher},loggedin=${authenticated})"></div>

        <div id="header">
            <div class="welcome"></div>
        </div>

        <!-- Details Area -->
        <div id="detail-area">
            <div class="commands">
                <span th:if="${!#strings.isEmpty(message)}" th:utext="${message}" class="message"></span>
                <!--a th:if="${editable} and ${authenticated}" th:href="'/geoobject/' + ${geoobject.id}">Cancel</a-->
            </div>
            <div id="map"></div>
                <form class="infos" action="/geoobject/save" method="POST">
                    <input th:if="${!#strings.isEmpty(geoobject.id)}" type="hidden" name="id" th:value='${geoobject.id}'/>

                    <div class="info-area">

                        <div class="left-side">
                            <!-- Essential Einrichtungs Informationen -->
                            <label for="name">Name</label>
                            <input type="text" name="name" th:value='${geoobject.name}'/>
                            <label for="strasse">Stra&szlig;enname</label>
                            <input type="text" id="streetnr" name="strasse" th:value='${geoobject.strasse}'/>
                            <label for="plz">Postleitzahl, Bezirk</label>
                            <input type="number" id="postal-code" class="plz" name="plz" th:value='${geoobject.plz}'/>
                            <select id="district" required="true" name="district">
                                <option value="-1">Bitte Bezirk ausw&auml;hlen</option>
                                <option th:each="district : ${availableDistricts}" th:selected="${#strings.toString(district.simpleValue) eq geoobject.bezirk}" th:value="${district.id}" th:text="${district.simpleValue}"></option>
                            </select>
                            <input type="hidden" id="google-district" name="googleDistrictName" value=""/>
                            <br/>
                            <select id="city" name="city">
                                <option th:each="city : ${availableCities}" th:selected="${#strings.toString(city.simpleValue) eq geoobject.city}"  th:value="${city.id}" th:text="${city.simpleValue}"></option>
                            </select>
                            <select id="country" name="country">
                                <option th:each="city : ${availableCountries}" th:selected="${#strings.toString(city.simpleValue) eq geoobject.country}"  th:value="${city.id}" th:text="${city.simpleValue}"></option>
                            </select>

                            <!-- Geo Object Desription & Details -->
                            <label for="ansprechpartner">AnsprechpartnerIn</label>
                            <input type="text" name="ansprechpartner" th:value='${geoobject.ansprechpartner}'/>
                            <label for="telefon">Telefon</label>
                            <input type="text" name="telefon" th:value='${geoobject.telefon}'/>
                            <label for="email">Email</label>
                            <input type="text" name="email" th:value='${geoobject.email}'/>
                            <label for="fax">Fax</label>
                            <input type="text" name="fax" th:value='${geoobject.fax}'/>
                            <!-- ### Image File Upload, Träger, LOR Nummer -->
                            <input type="button" class="button" value="Bild hinzufügen" onclick="start_upload()"/>
                            <input type="hidden" id="bild-topic" name="fileTopicId" value=""/>
                        </div>

                        <div class="right-side">
                            <!-- Geo Coordinate Settings -->
                            <label for="lat">Breitengrad (Latitude) &ndash; L&auml;ngengrad (Longitude)</label>
                            <input class="coordinates" onchange="do_manual_placement()" id="latitude-val" type="number" step="any" name="lat" th:value='${geoobject.latitude}'/>
                            <input class="coordinates" onchange="do_manual_placement()" id="longitude-val" type="number" step="any" name="lon" th:value='${geoobject.longitude}'/>
                            <br/>
                            <span class="label">Geo Koordinate dieses Ortes</span><br/>
                            <a class="button reset" onclick="do_geocode()">Neu Ermitteln</a>
                            <a class="button" onclick="do_manual_placement()">Manuell platzieren</a>
                            <a class="button" onclick="reset_coordinates()">Zur&uuml;cksetzen</a>
                            <a class="button" onclick="clear_coordinates()">L&ouml;schen</a>
                            <br/><br/>

                            <!-- HTML Data -->
                            <label for="beschreibung">Beschreibung</label>
                            <textarea id="beschreibung" name="beschreibung"
                                      contenteditable="true" th:utext="${geoobject.beschreibung}"/>
                            <label for="open">&Ouml;ffnungszeiten</label>
                            <textarea id="oeffnungszeiten" name="open" contenteditable="true" th:utext='${geoobject.oeffnungszeiten}'/>
                            <!-- label for="stichworte">Stichworte</label>
                            <input type="text" name="stichworte" th:value='${geoobject.stichworte}'/-->
                            <label for="website">Website</label>
                            <input type="text" name="website" th:value='${geoobject.webpage}'/>

                            <!-- Geo Object Category Relations: Zielgruppe und Thema -->
                            <label for="zielgruppen">Zielgruppe</label>
                            <select id="zielgruppen" name="zielgruppen" multiple="true">
                                <option th:each="category : ${availableZielgruppen}"
                                        th:selected="${zielgruppen.contains(category)}"
                                        th:value="${category.id}" th:text="${category.simpleValue}"></option>
                            </select>
                            <label for="thema">Thema</label>
                            <select id="thema" name="themen" multiple="true">
                                <option th:each="category : ${availableThemen}"
                                        th:selected="${themen.contains(category)}"
                                        th:value="${category.id}" th:text="${category.simpleValue}"></option>
                            </select>
                            <!--label for="angebote-crit">Angebot</label>
                            <select id="angebote-crit" name="angebote" multiple="true">
                                <option th:each="thema : ${availableAngebote}" th:value="${thema.id}" th:text="${thema.simpleValue}"></option>
                            </select-->
                        </div>
                        <!--
                        <p class="sozialraumdaten" th:if="${!#strings.isEmpty(geoobject.lor)}"><a th:href="@{http://sozialraumdaten.kiezatlas.de/seiten/2014/12/(lor=${geoobject.lor})}">Sozialraumdaten</a></p>
                        <a class="imprint" th:href="${geoobject.imprint}">Impressum</a-->
                    </div>
                    <div class="info-area">
                        <input type="submit" value="Ok"/>
                        <a class="button" th:href="'/geoobject/' + ${geoobject.id}">Cancel</a>
                    </div>
                </form>
            <div class="categories">
                <div class="related-topics" th:each="audience : ${zielgruppen}">
                    <span class="thema" th:text='${audience.simpleValue}'>Name der Zielgruppe</span>
                </div>
                <div class="related-topics" th:each="service : ${angebote}">
                    <span class="angebot" th:text='${service.simpleValue}'>Name der Angebote</span>
                </div>
                <div class="related-topics" th:each="topic : ${themen}">
                    <span class="zielgruppe" th:text='${topic.simpleValue}'>Name des Themas</span>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>

        <!-- Kiezatlas Standard Website section -->
        <!--div id="pages">
            <ul>
                <li><a href="/aktuelles">Aktuelles</a></li>
                <li><a href="/projektbeschreibung">Projektbeschreibung</a></li>
                <li><a href="/dies-das">Dies und Das</a></li>
                <li><a href="/weitere-atlanten">Weitere Atlanten</a></li>
                <li><a href="http://pax.spinnenwerk.de/~kiezatlas/index.php?id=6">Impressum</a></li>
                <li><a href="/datenschutzhinweise">Datenschutzhinweise</a></li>
                <li><a href="/api-documentation">API</a></li>
                <li><a href="/open-source">Open Source</a></li>
                <li><a href="/links">Links</a></li>
            </ul>
            <p></p>
        </div-->

        <div id="bottom">
            <img src="/de.kiezatlas.website/images/kiezatlas2-logo.png" width="150" />
        </div>

        <!-- Piwik
        <script type="text/javascript">
        var pkBaseURL = "//stats.infokitchen.net/";
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
        </script>
        <noscript>
            <img th:src="@{https://stats.infokitchen.net/piwik.php(idsite=2,rec=1,action_name='Kiezatlas+2+GeoObjectForm')}" style="border:0" alt="" />
        </noscript>
        End Piwik Tracking Code -->

    </body>
</html>

