<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List - Kiezatlas Websites</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.angebote/dist/vendor/jquery-ui-1.12.1-kiezatlas.min.css"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/button.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/search.min.css"/>

        <script src="/de.kiezatlas.website/vendor/pouchdb/pouchdb-3.6.0.min.js"></script>
        <script src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script src="/de.kiezatlas.website/dist/vendor/dm4-webclient-utils.min.js"></script>

        <script src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script src="/de.kiezatlas.website/ka-site-editor.js"></script>
        <script th:inline="javascript">
        /*<![CDATA[*/
            $(document).ready(function(e) {
                sites.init_facet_editor()
            })
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas facet-editor">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="facet-editor" th:if="${geoobject}">
            <div class="editor" th:if="${site}">
                <div class="site" th:id="${site.id}"></div>
                <h2 class="title">Facettier-Werkzeug f&uuml;r Datens&auml;tze im Stadtplan <i th:text="${site.simpleValue}"></i></h2>
            </div>
            <div class="object" th:id="${geoobject.id}">
                <span class="label">Name des Datensatzes</span>
                <h3 th:text="${geoobject.simpleValue}"></h3>
                <form id="facets">
                </form>
            </div>
        </div>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=${is_publisher})"></div>

    </body>
</html>
