<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List - Kiezatlas Websites</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <!--script src="/de.kiezatlas.website/dist/vendor/dm4-webclient-utils.min.js"></script-->
        <script defer="true" src="/de.kiezatlas.website/ka-site-editor.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('facet-editor')"></script>

        <meta th:replace="fragments/tracker" />
    </head>
    <body class="ui page detail kiezatlas facet-editor">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="commands" class="ui container vertical segment commands">
                ...
            </div>

            <div th:if="${geoobject}" class="facet-editor ui container vertical segment">
                <div class="editor" th:if="${site}">
                    <div class="site" th:id="${site.id}"></div>
                    <h2 class="title">Facettier-Werkzeug f&uuml;r Datens&auml;tze im Stadtplan <i th:text="${site.simpleValue}"></i></h2>
                    <h3>Hinweis: Aktuell m&uuml;ssen alle Facetten bearbeitet werden damit &Auml;nderungen erfolgreich gespeichert werden k&ouml;nnen.</h3>
                </div>
                <div class="object" th:id="${geoobject.id}">
                    <span class="label">Name des Datensatzes</span>
                    <h3 th:text="${geoobject.simpleValue}"></h3>
                    <form id="facets">
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer Segment -->
        <div th:replace="fragments/footer :: footer-new "></div>

    </body>
</html>
