<!DOCTYPE html>
<html>
    <head>
        <title th:text="${geoobject.name} + ' - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/vendor/leaflet/leaflet.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>

        <!-- script src="/de.kiezatlas.website/vendor/jquery/jquery-1.9.1.min.js"></script-->
        <script src="/de.kiezatlas.website/vendor/leaflet/leaflet.js"></script>
        <!-- script src="/de.kiezatlas.website/ka-restclient.js"></script-->
        <!-- script src="/de.kiezatlas.website/ka-map.js"></script-->

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            // App initialization
            window.onload = function() {
                var coordinate = /*[[${geoobject.coordinate}]]*/ undefined;
                var lCoordinate = L.latLng(coordinate.split(", "))
                var name = /*[[${geoobject.name}]]*/ undefined;
                var map = L.map('map', { scrollWheelZoom: false } ).setView(lCoordinate, 17)
                L.tileLayer('https://api.tiles.mapbox.com/v4/kiezatlas.pd8lkp64/{z}/{x}/{y}.png?' // old style id="kiezatlas.map-feifsq6f"
                    + 'access_token=pk.eyJ1Ijoia2llemF0bGFzIiwiYSI6ImNpa3BndjU2ODAwYm53MGxzM3JtOXFmb2IifQ._PcBhOcfLYDD8RP3BS0U_g', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'
                    + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &#169; <a href="http://mapbox.com">Mapbox</a>',
                    id: 'kiezatlas.m7222ia5'}).addTo(map)
                L.circleMarker(lCoordinate).addTo(map)
                    // .bindPopup('<h3>'+name+'</h3>').openPopup();
            }
        /*]]>*/
        </script>
    </head>
    <body class="kiezatlas topic">

        <div id="navigation">
            <ul>
                <!--li class="register"><a href="/sign-up/">Registrieren</a></li-->
                <li class="angebote"><a href="/">Startseite</a></li>
                <li class="angebote"><a href="/angebote/">Angebote</a></li>
                <li class="login"><a href="/sign-up/login">Login</a></li>
                <!--li class="angebote"><a href="/kiezatlas/angebot/">Orte</a></li-->
                <!-- li class="angebote"><a href="/sign-up/edit/">Mein Account</a></li-->
                <li class="logout"><a href="/#logout/" onclick="javascript:restc.logout()">Abmelden</a></li>
            </ul>
        </div>

        <div id="header">
            <div class="welcome"></div>
        </div>

        <!-- Details Area -->
        <div id="detail-area" th:class="${angebotsinfos} ? 'angebotsinfos'">
            <div id="map"></div>
            <div class="info-area">
                <div id="angebote" th:if="${angebotsinfos}">
                    <!--h3 class="label">Aktuelle Angebote dieser Einrichtung</h3-->
                    <div class="assigned-offers" th:each="angebotsinfo : ${angebotsinfos}">
                        <h3 th:text="${angebotsinfo.angebotsName}">Name des Angebots</h3>
                        <p th:text="${angebotsinfo.description}"></p>
                        <p th:if="${!#strings.isEmpty(angebotsinfo.additionalInfo)}"><span th:text="${angebotsinfo.additionalInfo}"></span></p>
                        <p th:if="${!#strings.isEmpty(angebotsinfo.additionalContact)}"><span th:text="${angebotsinfo.additionalContact}"></span></p>
                        <p th:text="${angebotsinfo.startDate} + ' &ndash; ' + ${angebotsinfo.endDate}"></p>
                        <a class="read-more" th:href="'/angebote/' + ${angebotsinfo.angebotsId}">Mehr</a>
                    </div>
                </div>
                <div class="infos">
                    <h3 th:text='${geoobject.name}'>Name</h3>
                    <a class="fahrinfo-link"
                       th:href="@{https://fahrinfo.bvg.de/Fahrinfo/bin/query.bin/dn(Z=${geoobject.address},REQ0JourneyStopsZA1=2,start=1,pk_campaign='kiezatlas.de')}">
                        <img src="/de.kiezatlas.website/images/fahrinfo.gif"/>
                    </a>
                    <p class="anschrift" th:if="${!#strings.isEmpty(geoobject.address)}" th:utext='${geoobject.address}'>Anschrift</p>
                    <p class="ansprechpartner" th:if="${!#strings.isEmpty(geoobject.ansprechpartner)}" th:utext='${geoobject.ansprechpartner}'>Ansprechpartner</p>
                    <p class="email" th:if="${!#strings.isEmpty(geoobject.email)}" th:utext='${geoobject.email}'>Email</p>
                    <p class="fax" th:if="${!#strings.isEmpty(geoobject.fax)}" th:utext='${geoobject.fax}'>Fax</p>
                    <p class="telefon" th:if="${!#strings.isEmpty(geoobject.telefon)}" th:utext='${geoobject.telefon}'>Telefon</p>
                    <div class="opening" th:if="${!#strings.isEmpty(geoobject.oeffnungszeiten)}" th:utext='${geoobject.oeffnungszeiten}'>&Ouml;ffnungszeiten</div>
                    <p class="stichworte" th:if="${!#strings.isEmpty(geoobject.stichworte)}" th:utext='${geoobject.stichworte}'>Stichworte</p>
                    <div class="beschreibung" th:if="${!#strings.isEmpty(geoobject.beschreibung)}" th:utext='${geoobject.beschreibung}'>Beschreibung</div>
                    <p class="website" th:if="${!#strings.isEmpty(geoobject.webpage)}"><a th:href="${geoobject.webpage}" th:text="${geoobject.webpage}">Website</a></p>
                    <p class="lor" th:if="${!#strings.isEmpty(geoobject.lor)}"><a th:href="@{http://sozialraumdaten.kiezatlas.de/seiten/2014/12/(lor=${geoobject.lor})}">Sozialraumdaten</a></p>
                    <a class="imprint" th:href="${geoobject.imprint}">Impressum</a>
                </div>
            </div>
            <div class="categories">
                <div class="related-topics" th:each="audience : ${zielgruppen}">
                    <span class="thema" th:text='${audience.simpleValue}'>Name der Zielgruppe</span>
                </div>
                <div class="related-topics" th:each="service : ${angebote}">
                    <span class="angebot" th:text='${service.simpleValue}'>Name der Angebote</span>
                </div>
                <div class="related-topics" th:each="topic : ${themen}">
                    <span class="zielgruppe" th:text='${topic.simpleValue}'>Name des Themas</span>
                </div>
            </div>
        </div>

        <!-- Kiezatlas Standard Website section -->
        <div id="pages">
            <ul>
                <li><a href="/aktuelles">Aktuelles</a></li>
                <li><a href="/projektbeschreibung">Projektbeschreibung</a></li>
                <li><a href="/dies-das">Dies und Das</a></li>
                <li><a href="/weitere-atlanten">Weitere Atlanten</a></li>
                <li><a href="http://pax.spinnenwerk.de/~kiezatlas/index.php?id=6">Impressum</a></li>
                <li><a href="/datenschutzhinweise">Datenschutzhinweise</a></li>
                <li><a href="/api-documentation">API</a></li>
                <li><a href="/open-source">Open Source</a></li>
                <li><a href="/links">Links</a></li>
            </ul>
            <p></p>
        </div>

        <div id="bottom">
            <img src="/de.kiezatlas.website/images/kiezatlas2-logo.png" width="150" />
        </div>

        <!-- Piwik -->
        <script type="text/javascript">
        var pkBaseURL = "//stats.infokitchen.net/";
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
        </script>
        <noscript>
            <img th:src="@{https://stats.infokitchen.net/piwik.php(idsite=2,rec=1,action_name='Kiezatlas+2+Topic')}" style="border:0" alt="" />
        </noscript>
        <!-- End Piwik Tracking Code -->

    </body>
</html>

