<!DOCTYPE html>
<html>
    <head>
        <title th:text="'AnsprechpartnerInnen in den Bezirksregionen - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-admin.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('editors')"></script>

        <meta th:replace="fragments/tracker" />
    </head>
    <body class="ui page detail kiezatlas list comments">

        <!-- Following Menu -->
        <nav id="lower-page-nav" th:include="fragments/navigation :: lower-page-nav"></nav>

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="commands" class="ui container vertical segment commands">
                <div class="commands buttons ui">
                    <a class="button ui" href="/website/list/freischalten">Neue Orte freischalten</a>
                    <a th:if="${is_district_admin}" class="button ui green active" href="/website/list/bezirksregionen">StadtteilkoordinatorInnen</a>
                    <a class="button ui" href="/website/list/ansprechpartner">AnsprechpartnerInnen</a>
                    <a class="button ui" href="/website/list/filter">Gro&szlig;e Listenansicht</a>
                </div>
                <p th:if="${not is_publisher}"><b>Sorry!</b><br/>Sie haben aktuell nicht die n&ouml;tigen Berechtigungen um neue AnsprechpartnerInnen im Kiezatlas zu verwalten.</p>
            </div>

            <div id="header" class="ui container vertical segment">
                <form class="filter-form" th:if="${is_publisher}">
                    <label class="filter" for="districts">Bezirk
                        <select id="districts" class="ui dropdown basic" onchange="refresh_regionen_list()">
                            <option th:each="district: ${userDistricts}" th:selected="${districtId == district.id} ? true : false"
                                    th:value="${district.id}" th:text="${district.simpleValue}">
                            </option>
                        </select>
                    </label>
                </form>
            </div>

            <!-- Details Area -->
            <div th:if="${is_publisher}" class="ui container vertical segment list">
                <p class="info">
                    Auf dieser Seite kannst du die AnsprechpartnerInnen f&uuml;r die folgenden Bezirksregionen festlegen.
                    Die hier gelisteten NutzerInnen d&uuml;rfen dann neue Orte freischalten, Ortsdaten aktualisieren und Angebotsinfos revidieren.
                </p>
                <div id="listing">
                    <ul class="soziale-einrichtungen bezirksregion add-assignment">
                        <li th:each="region : ${regions}" th:with="members=${confirmationMembers}">
                            <div class="list-item" th:id="${region.id}">
                                <h3 th:text="${region.name}"></h3>
                                <div class="managers" th:each="ansprechpartner, iterStat : ${region.ansprechpartner}">
                                    <div class="ansprechpartner">
                                        <span th:text="${ansprechpartner.simpleValue}" title="Ansprechpartner/in"></span>
                                        <button class="ui button basic circle remove compact" th:onclick="'list.do_remove_assignment(' + ${region.id} + ', ' + ${ansprechpartner.id} + ')'"
                                                title="Diesen Ansprechpartner/in f&uuml;r diese Bezirksregion zur&uuml;ckziehen">
                                            <i class="icon close"></i>Entfernen
                                        </button>
                                    </div>
                                </div>
                                <select class="assign-username ui dropdown selection search">
                                    <option value="-1" class="placeholder">Benutzer ausw&auml;hlen</option>
                                    <option th:each="username : ${members}" th:text="${username.simpleValue}" th:value="${username.id}"></option>
                                </select>
                                <button th:onclick="'list.do_assign_editor(' + ${region.id} + ')'" class="ui button">
                                    Hinzuf&uuml;gen
                                </button>
                                <!-- List of Geo Objects.. -->
                                <div class="einrichtungen">
                                    <span class="label clickable" onclick="list.toggle_item_list(this)" th:attr="data-custom-id=${region.id}"
                                          th:text="${region.geoObjectsSize} + ' Einrichtungen/Orte in dieser Region'"></span>
                                    <ul class="items hidden">
                                        <li class="item" th:each="geo : ${region.geoObjects}">
                                            <a th:href="'/website/geo/' + ${geo.id}" th:text="${geo.simpleValue}" target="_blank"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Footer Segment -->
        <div th:replace="fragments/footer :: footer-new "></div>

    </body>
</html>

