<!DOCTYPE html>
<html>
    <head>
        <title th:text="'Kommentare zu Einrichtungsdaten - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('comments')"></script>

        <meta th:replace="fragments/tracker" />
    </head>
    <body class="ui page detail kiezatlas list comments">

        <!-- Following Menu -->
        <nav id="lower-page-nav" th:include="fragments/navigation :: lower-page-nav"></nav>

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="commands" class="ui container vertical segment commands">
                <div class="commands buttons ui">
                    <a class="button ui" href="/website/list/freischalten">Neue Orte freischalten</a>
                    <a th:if="${is_district_admin}" class="button ui" href="/website/list/bezirksregionen">StadtteilkoordinatorInnen</a>
                    <a class="button ui" href="/website/list/ansprechpartner">AnsprechpartnerInnen</a>
                    <a class="button ui" href="/website/list/filter">Gro&szlig;e Listenansicht</a>
                </div>
                <p th:if="${not is_publisher}"><b>Sorry!</b><br/>Sie haben aktuell nicht die n&ouml;tigen Berechtigungen um neue Einrichtungen im Kiezatlas freizuschalten.</p>
            </div>

            <div class="ui container vertical segment">
                <form th:if="${is_publisher}" class="filter-form">
                    <label>Region
                        <select id="districts" class="ui dropdown basic" onchange="refresh_comment_list()">
                            <option th:each="district: ${userDistricts}" th:selected="${districtId == district.id} ? true : false"
                                    th:value="${district.id}" th:text="${district.simpleValue}">
                            </option>
                        </select>
                    </label>
                </form>
             </div>

            <!-- Details Area -->
            <div th:if="${is_publisher}" class="ui container vertical segment list">
                <p class="info">
                    Auf dieser Seite findest du Bearbeitungshinweise zu Ortsdatens&auml;tzen die uns Website-BesucherInnen geschickt haben.<br/><br/>
                    <span class="no-entries" th:if="${#lists.isEmpty(geoobjects)}">
                        F&uuml;r Datens&auml;tze in dieser Region <em>liegen aktuell keine Bearbeitungshinweise vor</em>.
                    </span>
                </p>
                <div id="listing">
                    <ul class="soziale-einrichtungen">
                        <li th:each="geoobject : ${geoobjects}">
                            <div class="list-item">
                                <h3 th:text="${geoobject.name}"></h3>
                                <p>
                                    Eingepflegt von <span th:text="${geoobject.assignedUsername}"></span> am <span th:text="${geoobject.lastModified}"></span>
                                </p>
                                <!--select>
                                    <option th:each="site : ${websites}" th:text="${site.simpleValue}" th:value="${site.id}"></option>
                                </select-->
                                <a class="read-more" th:href="'/website/geo/' + ${geoobject.id}">Link zum Eintrag</a>
                            </div>
                            <p class="comment" th:each="comment : ${geoobject.comments}">
                                <span class="contact" th:if="${comment.contact}" th:text="${comment.contact} + ':'"></span>
                                <span class="message" th:text="${comment.message}"></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Footer Segment -->
        <div th:replace="fragments/footer :: footer-new "></div>

    </body>
</html>

