<!DOCTYPE html>
<html>
    <head>
        <title th:text="'AnsprechpartnerInnen in den Bezirksregionen - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas/style/kiezatlas.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/search.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/tab.min.css"/>

        <script src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/sidebar.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/dropdown.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/transition.min.js"></script>
        <script src="/de.kiezatlas.website/dist/vendor/dm4-webclient-utils.min.js"></script>
        <script src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script src="/de.kiezatlas.website/ka-admin.js"></script>

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            var $sidebarUi = undefined
            // App initialization
            $(document).ready(function(e) {
                $sidebarUi = $('.ui.sidebar').sidebar('setting', 'dimPage', false)
                $('#listing select.ui.dropdown').dropdown({
                    fullTextSearch: true, placeholder: "Benutzer auswählen"
                })
                 // $('#districts').dropdown()
                list.init_page()
            })

            function refresh_regionen_list() {
                var selection = document.getElementById("districts")
                if (selection) {
                    console.log("Navigating to district bezirksregionen list...")
                    var districtId = document.getElementById("districts").value
                    window.document.location.href = "/website/list/bezirksregionen/" + districtId
                }
            }
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas list comments">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar"
             th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="header">
                <p>&nbsp;</p>
                <h3 th:if="${is_publisher}">
                    <form>
                        <label>Bezirksregionen des Bezirks</label>
                        <select id="districts" class="ui dropdown basic" onchange="refresh_regionen_list()">
                            <option th:each="district: ${userDistricts}" th:selected="${districtId == district.id} ? true : false"
                                    th:value="${district.id}" th:text="${district.simpleValue}">
                            </option>
                        </select>
                    </form>
                </h3>
                <p th:if="${not is_publisher}"><b>Sorry!</b><br/>Sie haben aktuell nicht die n&ouml;tigen Berechtigungen um neue Einrichtungen im Kiezatlas freizuschalten.</p>
            </div>

            <!-- Details Area -->
            <div th:if="${is_publisher}" class="ui container">
                <div class="commands buttons ui">
                    <a class="button ui" href="/website/list">Alle Orte</a>
                    <a class="button ui" href="/website/list/freischalten">Unver&ouml;ffentlichte Orte</a>
                    <a class="button ui" href="/website/list/hinweise">Bearbeitungshinweise</a>
                    <a class="button ui" href="/website/list/ansprechpartner">EinrichtungsinhaberInnen</a>
                    <!--div class="item" data-tab="third">Newsbereich</div-->
                    <a th:if="${is_district_admin}" class="button ui green active" href="/website/list/bezirksregionen">StadtteilkoordinatorInnen</a>
                </div>
                <p>
                    Auf dieser Seite kannst du die Ansprechpartner_innen f&uuml;r die folgenden Bezirksregionen festlegen.
                    Die hier gelisteten Nutzer_innen d&uuml;rfen dann neue Orte freischalten, Ortsdaten aktualisieren und Angebotsinfos reviedieren.
                </p>
                <div id="listing">
                    <ul class="soziale-einrichtungen bezirksregion add-assignment">
                        <li th:each="region : ${regions}" th:with="members=${confirmationMembers}">
                            <div class="list-item" th:id="${region.id}">
                                <h3 th:text="${region.name}"></h3>
                                <div class="managers" th:each="ansprechpartner, iterStat : ${region.ansprechpartner}">
                                    <div class="ansprechpartner">
                                        <span th:text="${ansprechpartner.simpleValue}" title="Ansprechpartner/in"></span>
                                        <button class="ui button basic circle remove compact" th:onclick="'list.do_remove_assignment(' + ${region.id} + ', ' + ${ansprechpartner.id} + ')'"
                                                title="Diesen Ansprechpartner/in f&uuml;r diese Bezirksregion zur&uuml;ckziehen">
                                            <i class="icon close"></i>Entfernen
                                        </button>
                                    </div>
                                </div>
                                <select class="assign-username ui dropdown selection search">
                                    <option value="-1" class="placeholder">Benutzer ausw&auml;hlen</option>
                                    <option th:each="username : ${members}" th:text="${username.simpleValue}" th:value="${username.id}"></option>
                                </select>
                                <button th:onclick="'list.do_assign_editor(' + ${region.id} + ')'" class="ui button">
                                    Hinzuf&uuml;gen
                                </button>
                                <!-- List of Geo Objects.. -->
                                <div class="einrichtungen">
                                    <span class="label clickable" onclick="list.toggle_item_list(this)" th:attr="data-custom-id=${region.id}"
                                          th:text="${region.geoObjectsSize} + ' Einrichtungen/Orte in dieser Region'"></span>
                                    <ul class="items hidden">
                                        <li class="item" th:each="geo : ${region.geoObjects}">
                                            <a th:href="'/website/geo/' + ${geo.id}" th:text="${geo.simpleValue}" target="_blank"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <p>&nbsp;</p>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=false)"></div>

    </body>
</html>

