<!DOCTYPE html>
<html>
    <head>
        <title>Kiezatlas 2 Listenansicht</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/vendor/datatables/datatables1.10.15.min.css"/>
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/datatables/moment-with-locales.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/datatables/datatables1.10.15.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/datatables/datetime-moment.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('filter-list')"></script>

        <meta th:replace="fragments/tracker" />
    </head>
    <body class="ui page detail kiezatlas filter list places">

        <!-- Following Menu -->
        <nav id="lower-page-nav" th:include="fragments/navigation :: lower-page-nav"></nav>

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="commands" class="ui container vertical segment commands">
                <div class="commands buttons ui">
                    <a class="button ui" href="/website/list/freischalten">Neue Orte freischalten</a>
                    <a th:if="${is_district_admin}" class="button ui" href="/website/list/bezirksregionen">StadtteilkoordinatorInnen</a>
                    <a class="button ui" href="/website/list/ansprechpartner">AnsprechpartnerInnen</a>
                    <a class="button ui green active" href="/website/list/filter">Gro&szlig;e Listenansicht</a>
                </div>
            </div>

            <div id="header" class="ui container vertical segment">
                <h2>Alle Ortseintr&auml;ge der Region <label for="districts" th:text="${viewName}" class="italic"></label></h2>
                <form class="filter-form">
                    <label for="districts">Region
                        <select th:if="!${#arrays.isEmpty(userDistricts)}" id="districts" class="ui basic dropdown" onchange="refresh_list_filter()">
                            <option th:each="district: ${userDistricts}"
                                    th:selected="${districtId == district.id} ? true : false"
                                    th:value="${district.id}" th:text="${district.simpleValue}">
                            </option>
                        </select>
                    </label>
                </form>
                <p th:if="${not is_publisher}"><b>Sorry!</b><br/>Sie haben aktuell nicht die n&ouml;tigen Berechtigungen um alle Einrichtungen im Kiezatlas einzusehen.</p>
            </div>

            <p class="status">Insgesamt <span th:text="${geoobjectsCount}" class="count"></span> Eintr&auml;ge</p>
            <table id="listing" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td class="name-col">Name des Ortes</td>
                        <td class="mail-col">Email</td>
                        <!--td>Kontakt</td-->
                        <td class="br-col">Bezirksregion</td>
                        <td class="lat-col">Breite</td>
                        <td class="lon-col">L&auml;nge</td>
                        <td class="user-col">Ansprechpartner*in</td>
                        <td class="comment-col">Kommentare</td>
                        <td class="angebote-col">Angebote</td>
                        <td class="kategorien-col">Kategorien</td>
                        <td class="author-col">Autor*in</td>
                        <td class="modified-col">Bearbeitet</td>
                        <td class="created-col">Erstellt</td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td class="name-col">Name des Ortes</td>
                        <td class="mail-col">Email</td>
                        <!--td>Kontakt</td-->
                        <td class="br-col">Bezirksregion</td>
                        <td class="lat-col">Breite</td>
                        <td class="lon-col">L&auml;nge</td>
                        <td class="user-col">Ansprechpartner*in</td>
                        <td class="comment-col">Kommentare</td>
                        <td class="angebote-col">Angebote</td>
                        <td class="kategorien-col">Kategorien</td>
                        <td class="author-col">Autor*in</td>
                        <td class="modified-col">Bearbeitet</td>
                        <td class="created-col">Erstellt</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="geoobject : ${geoobjects}" th:class="'list-item ' + ${geoobject.className}"
                        th:title="${#strings.contains(geoobject.className, 'unconfirmed')} ? 'Noch unveröffentlichter Beitrag: ' + ${geoobject.name} : ${geoobject.name}">
                        <td class="name-col"><a th:href="'/website/geo/' + ${geoobject.id}" th:text="${geoobject.name}"></a></td>
                        <td th:text="${geoobject.email}" class="mail-col"></td>
                        <!--td th:text="${geoobject.contact}"></td-->
                        <td th:text="${geoobject.bezirksregionName}" class="br-col"></td>
                        <td th:text="${geoobject.latitude}" class="lat-col"></td>
                        <td th:text="${geoobject.longitude}" class="lon-col"></td>
                        <td th:text="(${geoobject.assignedUsernamesCount> 0}) ? ${geoobject.assignedUsernames} : 'kiezatlas1'" class="user-col"></td>
                        <td th:text="(${geoobject.commentsCount > 0}) ? ${geoobject.comments} : 'Keine'" class="comment-col"></td>
                        <td th:text="${geoobject.angeboteCount}" class="angebote-col">Angebote</td>
                        <td class="kategorien-col">
                            <span th:each="cat, iterStat : ${geoobject.categories}">
                                <i th:text="${cat.simpleValue}"></i>
                                <i th:if="!${iterStat.last}">,</i>
                            </span>
                        </td>
                        <td th:text="${geoobject.creator}" class="author-col"></td>
                        <td th:text="${geoobject.lastModified}" class="date modified-col"></td>
                        <td th:text="${geoobject.created}" class="date created-col"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Notification area -->
            <div id="notification" onclick="javascript:kiezatlas.close_message_window()">
                <span class="message">Hi!</span>
                <!-- a href="javascript:kiezatlas.close_message_window()">(x)</a-->
            </div>

        </div>

        <!-- Footer Segment -->
        <div th:replace="fragments/footer :: footer-new "></div>

    </body>
</html>

