<!DOCTYPE html>
<html>
    <head>
        <title th:text="'Freischaltung neuer Einrichtungen - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('confirm')"></script>
        <meta th:replace="fragments/tracker" />
    </head>

    <body class="ui page detail kiezatlas list confirm">

        <!-- Following Menu -->
        <nav id="lower-page-nav" th:include="fragments/navigation :: lower-page-nav"></nav>

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <div id="commands" class="ui container vertical segment commands">
                <div class="commands ui buttons">
                    <a class="button ui green active" href="/website/list/freischalten">Neue Orte freischalten</a>
                    <a th:if="${is_district_admin}" class="button ui" href="/website/list/bezirksregionen">StadtteilkoordinatorInnen</a>
                    <a class="button ui" href="/website/list/ansprechpartner">AnsprechpartnerInnen</a>
                    <a class="button ui" href="/website/list/filter">Gro&szlig;e Listenansicht</a>
                </div>
                <p th:if="${not is_publisher}"><b>Sorry!</b><br/>Sie haben aktuell nicht die n&ouml;tigen Berechtigungen um neue Einrichtungen im Kiezatlas freizuschalten.</p>
            </div>

            <div id="header" class="ui container vertical segment">
                <form th:if="${#strings.equals(viewtype, 'bezirk') and is_publisher}" class="filter-form">
                    <label>Region</label>
                    <select id="districts" class="ui dropdown basic" onchange="refresh_confirmation_list()">
                        <option th:each="district: ${userDistricts}" th:selected="${districtId == district.id} ? true : false"
                                th:value="${district.id}" th:text="${district.simpleValue}">
                        </option>
                    </select>
                </form>
             </div>

            <!-- Details Area -->
            <div th:if="${is_publisher}" class="ui container vertical segment list">

                <!-- Bezirks-wide confirmation list -->
                <div id="listing" th:if="${#strings.equals(viewtype, 'bezirk')}">
                    <p class="info">
                        Auf dieser Seite findest du neu eingetragene Ortsdaten zur Freischaltung.<br/><br/>
                        <span class="no-entries" th:if="${#lists.isEmpty(geoobjects)}">
                            In dieser Region sind aktuell <em>alle</em> Ortsdatens&auml;tze <em>freigeschaltet</em>.
                        </span>
                    </p>

                    <ul class="soziale-einrichtungen">
                        <li th:each="geoobject : ${geoobjects}">
                            <div class="list-item">
                                <span class="region label" th:text="'Bezirksregion ' + ${geoobject.bezirksregionName}"></span><br/>
                                <h3 th:text="${geoobject.name}"></h3>
                                <p>
                                    Eingepflegt von <span th:text="${geoobject.assignedUsername}"></span> am <span th:text="${geoobject.lastModified}"></span>
                                </p>
                                <!--select>
                                    <option th:each="site : ${websites}" th:text="${site.simpleValue}" th:value="${site.id}"></option>
                                </select-->
                                <a class="read-more" th:href="'/website/geo/' + ${geoobject.id}">Link zum Eintrag</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Bezirksregion-wide confirmation list -->
                <div id="listing" th:if="${#strings.equals(viewtype, 'bezirksregion')}">
                    <ul class="soziale-einrichtungen">
                        <li th:each="bezirksregion : ${bezirksregionen}">
                            <div class="list-item" th:id="${bezirksregion.id}">
                                <h3 th:text="${bezirksregion.name} + ', ' + ${bezirksregion.bezirk.simpleValue}"></h3>
                                <!-- List of Geo Objects.. -->
                                <div class="einrichtungen">
                                    <span class="label clickable" onclick="list.toggle_item_list(this)" th:attr="data-custom-id=${bezirksregion.id}"
                                          th:text="${bezirksregion.geoObjectsSize} + ' Neueintragungen in dieser Region'"></span>
                                    <ul class="items">
                                        <li class="item" th:each="einrichtung : ${bezirksregion.geoObjects}">
                                            <a th:href="'/website/geo/' + ${einrichtung.id}" th:text="${einrichtung.simpleValue}" target="_blank"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

        <!-- Footer Segment -->
        <div th:replace="fragments/footer :: footer-new "></div>

    </body>
</html>

