<!DOCTYPE html>
<html>
    <head>
        <title th:text="'Freischaltung neuer Einrichtungen - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas/style/kiezatlas.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/search.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/tab.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/dropdown.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/transition.min.css"/>

        <script src="/de.kiezatlas.website/dist/vendor/jquery-1.9.1.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/sidebar.min.js"></script>
        <!--script src="/de.kiezatlas.website/css/semantic-ui/2.2/dropdown.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/transition.min.js"></script-->

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            var $sidebarUi = undefined
            // App initialization
            $(document).ready(function(e) {
                $sidebarUi = $('.ui.sidebar').sidebar('setting', 'dimPage', false)
                console.log("hello publisher")
                // $('.ui.dropdown').dropdown();
            })

            function refresh_comment_list() {
                var selection = document.getElementById("districts")
                if (selection) {
                    console.log("Navigating to district comment list...")
                    var districtId = document.getElementById("districts").value
                    window.document.location.href = "/website/list/hinweise/" + districtId
                }
            }
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas list comments">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar"
             th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="header">
                <p>&nbsp;</p>
                <h3 th:if="${is_publisher}">
                    <form>
                        <label>Bezirksregionen des Bezirks</label>
                        <select id="districts" class="ui dropdown button" onchange="refresh_comment_list()">
                            <option th:each="district: ${userDistricts}" th:selected="${districtId == district.id} ? true : false"
                                    th:value="${district.id}" th:text="${district.simpleValue}">
                            </option>
                        </select>
                    </form>
                </h3>
                <p th:if="${not is_publisher}"><b>Sorry!</b><br/>Sie haben aktuell nicht die n&ouml;tigen Berechtigungen um neue Einrichtungen im Kiezatlas freizuschalten.</p>
            </div>

            <!-- Details Area -->
            <div th:if="${is_publisher}" class="ui container">
                <div class="commands buttons ui">
                    <a class="button ui" href="/website/list">Alle Orte</a>
                    <a class="button ui" href="/website/list/freischalten">Unver&ouml;ffentlichte Orte</a>
                    <a class="button ui" href="/website/list/hinweise">Bearbeitungshinweise</a>
                    <!--div class="item" data-tab="third">Newsbereich</div-->
                    <a th:if="${is_district_admin}" class="button ui green active" href="/website/list/bezirksregionen">Bezirksregionen</a>
                </div>
                <div id="listing">
                    <ul class="soziale-einrichtungen">
                        <li th:each="geoobject : ${geoobjects}">
                            <div class="list-item">
                                <h3 th:text="${geoobject.name}"></h3>
                                <p>
                                    Eingepflegt von <span th:text="${geoobject.assignedUsername}"></span> am <span th:text="${geoobject.lastModified}"></span>
                                </p>
                                <!--select>
                                    <option th:each="site : ${websites}" th:text="${site.simpleValue}" th:value="${site.id}"></option>
                                </select-->
                                <a class="read-more" th:href="'/website/geo/' + ${geoobject.id}">Link zum Eintrag</a>
                            </div>
                            <p class="comment" th:each="comment : ${geoobject.comments}">
                                <span class="contact" th:if="${comment.contact}" th:text="${comment.contact} + ':'"></span>
                                <span class="message" th:text="${comment.message}"></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <p>&nbsp;</p>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=false)"></div>

    </body>
</html>

