<!DOCTYPE html>
<html>
    <head>
        <title>Kiezatlas 2 Listenansicht</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.angebote/dist/vendor/jquery-ui-1.12.1-kiezatlas.min.css"/>
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas/style/kiezatlas.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>

        <script type="text/javascript" src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>

        <script type="text/javascript">

            // SAP List initialization
            $(document).ready(function(e) {
                console.log("Document ready")
                $('#listing').dataTable({ "lengthMenu": [ 10, 25, 50, 75, 100, 250, 500, 750, 1000, 2000 ] })
                // { "lengthMenu": [ 10, 25, 50, 75, 100, 500, 1000, 2000 ] }
            })

            function refresh_list_filter() {
                var selection = document.getElementById("districts")
                if (selection) {
                    var districtId = document.getElementById("districts").value
                    window.document.location.href = "/website/list/filter/" + districtId
                }
            }

        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas filter list places">
        
        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="header">
                <p>&nbsp;</p>
                <h3>
                    <form>
                        <label>Listenansicht des Bezirks</label>
                        <select id="districts" class="ui button dropdown" onchange="refresh_list_filter()">
                            <option th:each="district: ${userDistricts}"
                                    th:selected="${districtId == district.id} ? true : false"
                                    th:value="${district.id}" th:text="${district.simpleValue}">
                            </option>
                        </select>
                    </form>
                </h3>
                <p th:if="${not is_publisher}"><b>Sorry!</b><br/>Sie haben aktuell nicht die n&ouml;tigen Berechtigungen um alle Einrichtungen im Kiezatlas einzusehen.</p>
            </div>

            <p class="status">Insgesamt <span th:text="${geoobjectsCount}" class="count"></span> Eintr&auml;ge</p>
            <table id="listing" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td class="name-col">Name des Ortes</td>
                        <td class="mail-col">Email</td>
                        <!--td>Kontakt</td-->
                        <td class="br-col">Bezirksregion</td>
                        <td class="lat-col">Breite</td>
                        <td class="lon-col">L&auml;nge</td>
                        <td class="user-col">Ansprechpartner*in</td>
                        <td class="comment-col">Kommentare</td>
                        <td class="author-col">Autor*in</td>
                        <td class="modified-col">Bearbeitet</td>
                        <td class="created-col">Erstellt</td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td class="name-col">Name des Ortes</td>
                        <td class="mail-col">Email</td>
                        <!--td>Kontakt</td-->
                        <td class="br-col">Bezirksregion</td>
                        <td class="lat-col">Breite</td>
                        <td class="lon-col">L&auml;nge</td>
                        <td class="user-col">Ansprechpartner*in</td>
                        <td class="comment-col">Kommentare</td>
                        <td class="author-col">Autor*in</td>
                        <td class="modified-col">Bearbeitet</td>
                        <td class="created-col">Erstellt</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="geoobject : ${geoobjects}" th:class="'list-item ' + ${geoobject.className}"
                        th:title="${#strings.contains(geoobject.className, 'unconfirmed')} ? 'Noch unveröffentlichter Beitrag: ' + ${geoobject.name} : ${geoobject.name}">
                        <td th:text="${geoobject.name}" class="name-col"></td>
                        <td th:text="${geoobject.email}" class="mail-col"></td>
                        <!--td th:text="${geoobject.contact}"></td-->
                        <td th:text="${geoobject.bezirksregionName}" class="br-col"></td>
                        <td th:text="${geoobject.latitude}" class="lat-col"></td>
                        <td th:text="${geoobject.longitude}" class="lon-col"></td>
                        <td th:text="(${geoobject.assignedUsernamesCount> 0}) ? ${geoobject.assignedUsernames} : 'kiezatlas1'" class="user-col"></td>
                        <td th:text="(${geoobject.commentsCount > 0}) ? ${geoobject.comments} : 'Keine'" class="comment-col"></td>
                        <td th:text="${geoobject.creator}" class="author-col"></td>
                        <td th:text="${geoobject.lastModified}" class="date modified-col"></td>
                        <td th:text="${geoobject.created}" class="date created-col"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Notification area -->
            <div id="notification" onclick="javascript:kiezatlas.close_message_window()">
                <span class="message">Hi!</span>
                <!-- a href="javascript:kiezatlas.close_message_window()">(x)</a-->
            </div>

        </div>

        <p>&nbsp;</p>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=false)"></div>

    </body>
</html>

