<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Willkommen - Hauptmenu</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
        
        <link media="all" href="/de.mikromedia.webpages/css/sitestyle.css" rel="stylesheet" />

    </head>
    <body class="page menu">
        
        <div id="header">
            <div class="welcome">
                <h1>Willkommen - Hauptmen&uuml;</h1>
                <span class="bezirk-name"></span>
            </div>
        </div>
        
        <div class="story">
            <ul>
                <li><a href="/website/topic/create" class="button">Neue Einrichtung eintragen</a></li>
                <li><a href="/website/confirmation/" class="button">Einrichtungen freischalten</a></li>
                <li><a href="/site/administration/" class="button">Einrichtungen auflisten</a></li>
                <li><a href="/angebote/my" class="button">Angebotsinfos eintragen</a></li>
                <li><a href="/#mitte" class="button bezirk-link">Gesamtstadtplan Bezirk</a></li>
                <li><a href="/angebote" class="button bezirk-link">Alle aktuellen Angebote</a></li>
                <!--li><a href="/#mitte" class="button">Impressums Link</a></li-->
            </ul>
            <!--a href="/angebote/administration/" class="button selected">Auflistung zuletzt eingetragener Angebotsinfos<span class="bezirk-name">X</span></a-->
        </div>

        <div id="bottom" class="padding">
            <a href="/" title="zur Startseite"><img src="/de.kiezatlas.website/images/kiezatlas2-logo.png" width="150" /></a>
        </div>

        <div class="footer" th:utext="${footerText}"></div>

    </body>
</html>
