<!DOCTYPE html>
<html>
    <head>
        <title>Kiezatlas 2 Menu</title>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/vendor/jquery/ui/css/kiezatlas/jquery-ui-1.9.2.custom.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>

        <script src="/de.kiezatlas.website/vendor/pouchdb/pouchdb-3.6.0.min.js"></script>
        <script src="/de.kiezatlas.website/vendor/jquery/jquery-1.9.1.min.js"></script>
        <script src="/de.kiezatlas.website/vendor/jquery/ui/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="/de.kiezatlas.website/ka-website.js"></script>
        <script src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script>

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            // App initialization
            $(document).ready(function(e) {
                //
                if (!isMSIE()) {
                    kiezatlas.start_local_db()
                    kiezatlas.list_entries_in_local_db()
                    // ### Todo: Show menu items
                } else {
                    // ### Update GUI accordingly
                    console.warn("Favourite places feature is unavailable for users of Microsoft Internet Explorer")
                }
                // render top menu
                kiezatlas.is_logged_in(function(response) {
                    kiezatlas.render_user_menu(response)
                })
            })

            // Current MSIE Check courtesy of http://www.javascriptkit.com
            function isMSIE() {
                var ie11andabove = navigator.userAgent.indexOf('Trident') != -1 && navigator.userAgent.indexOf('MSIE') == -1 // IE11 or above Boolean
                var ie10andbelow = navigator.userAgent.indexOf('MSIE') != -1 // IE10 or below Boolean
                return (ie11andabove || ie10andbelow)
            }
        /*]]>*/
        </script>
    </head>
    <body class="kiezatlas">

        <div id="navigation">
            <ul>
                <li class="register"><a href="/sign-up/">Registrieren</a></li>
                <li class="login"><a href="/sign-up/login">Anmelden</a></li>
                <li class="angebote"><a href="/angebote/my">Meine Angebotsinfos</a></li>
                <li class="logout"><a href="/#logout/" onclick="javascript:kiezatlas.logout()">Abmelden</a></li>
            </ul>
        </div>
        
        <div id="header">
            <div class="welcome">
                <img src="/de.kiezatlas.website/images/kiezatlas2-logo.png" width="150" />
                <h3>Willkommen im Kiezatlas!</h3>
                <p>
                    Im Kiezatlas findest du Berliner <b>Einrichtungen</b> und <b>Angebote</b>.
                </p>
            </div>
        </div>

        <div id="filter-container"></div>

        <!-- Notification area -->
        <div id="notification" onclick="javascript:kiezatlas.close_message_window()">
            <span class="message">Hi!</span>
            <!-- a href="javascript:kiezatlas.close_message_window()">(x)</a-->
        </div>

        <!-- Details Area -->
        <div id="detail-area">
            <h3 class="help"></h3>
            <div class="message"></div>
        </div>

        <!-- Kiezatlas Standard Website section -->
        <div id="pages">
            <h3>Seiten&uuml;bersicht</h3>
            <ul>
                <li><a href="/aktuelles">Aktuelles</a></li>
                <li><a href="/projektbeschreibung">Projektbeschreibung</a></li>
                <li><a href="/dies-das">Dies und Das</a></li>
                <li><a href="/weitere-atlanten">Weitere Atlanten</a></li>
                <li><a href="http://pax.spinnenwerk.de/~kiezatlas/index.php?id=6">Impressum</a></li>
                <li><a href="/datenschutzhinweise">Datenschutzhinweise</a></li>
                <li><a href="/api-documentation">API</a></li>
                <li><a href="/open-source">Open Source</a></li>
                <li><a href="/links">Links</a></li>
            </ul>
            <p></p>
        </div>

    </body>
</html>

