<!DOCTYPE html>
<html>
    <head>
        <title>Information - Kiezatlas</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-model.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('message')"></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
                searchText = /*[[${search}]]*/ '';
                searchType = /*[[${searchType}]]*/ 'place';
                searchContext = /*[[${searchContext}]]*/ 'berlin';
                searchMethod = /*[[${searchMethod}]]*/ 'quick';
                searchNearby = /*[[${searchNearby}]]*/ undefined;
                console.log("initializing search=", searchText, "type=", searchType, "site=", searchContext,
                    "method=", searchMethod, "nearby=", searchNearby)
            /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="ui page detail kiezatlas message topic">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small"></div>

            <div th:replace="fragments/search :: dialog (false, ${districts}, ${tags}, ${search}, ${searchType})"></div>

            <div id="header" class="ui vertical segment container">
                <div class="welcome">
                </div>
            </div>

            <!-- Details Area -->
            <div id="detail-area" class="ui vertical segment blue4bg body" th:addclass="${angebotsinfos} ? 'angebotsinfos'">
                <div class="commands ui container">
                </div>
                <!-- ### map -->
                <div class="info-area ui container">
                    <div class="infos">
                        <h3 th:text='${name}'>Message Name</h3>
                        <p th:if="${!#strings.isEmpty(message)}" th:utext="${message}"></p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer Segment -->
        <div th:replace="fragments/footer :: footer-new "></div>

    </body>
</html>

