<!DOCTYPE html>
<html>
    <head>
        <title>Information - Kiezatlas</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>

        <script src="/de.kiezatlas.website/dist/vendor/jquery-1.9.1.min.js"></script>
        <script src="/de.kiezatlas.website/css/semantic-ui/2.2/sidebar.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            $sidebarUi = undefined
            // App initialization
            $(document).ready(function(e) {
                $sidebarUi = $('.ui.sidebar').sidebar('setting', 'dimPage', false)
            })
        /*]]>*/
        </script>

        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas topic">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div id="header">
                <div class="welcome">
                </div>
            </div>

            <!-- Details Area -->
            <div id="detail-area" th:class="${angebotsinfos} ? 'angebotsinfos'">
                <div class="commands">
                </div>
                <!-- ### map -->
                <div class="info-area">
                    <div class="infos">
                        <h3 th:text='${name}'>Name des Eintrags</h3>
                        <p th:if="${!#strings.isEmpty(message)}" th:utext="${message}"></p>
                    </div>
                </div>
            </div>

        </div>

        <p>&nbsp;</p>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=false)"></div>

    </body>
</html>

