<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Herzlich Willkommen</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>

        <link media="all" href="/de.mikromedia.webpages/css/sitestyle.css" rel="stylesheet" />

    </head>
    <body class="page menu">

        <div id="header">
            <div class="welcome">
                <h1>Willkommen - Hauptmen&uuml;</h1>
                <span class="bezirk-name"></span>
            </div>
        </div>

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div id="bottom" class="padding">
            <a href="/" title="zur Startseite"><img src="/de.kiezatlas.website/images/kiezatlas2-logo.png" width="150" /></a>
        </div>

        <div class="footer" th:utext="${footerText}"></div>

    </body>
</html>
