    <!DOCTYPE html>
    <html>
    <head>
        <title>Kiezatlas 2 Website - User Assignment</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas/style/kiezatlas.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.angebote/dist/vendor/jquery-ui-1.12.1-kiezatlas.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.angebote/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/sitestyle.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/search.min.css"/>
        <link rel="stylesheet" href="/de.kiezatlas.website/css/semantic-ui/2.2/components/tab.min.css"/>

        <script defer="true" src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.2/sidebar.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.2/dropdown.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.2/search.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.2/transition.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/dist/vendor/dm4-webclient-utils.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <!--script defer="true" src="/de.kiezatlas.angebote/angebote-util.js"></script-->
        <script defer="true" src="/de.kiezatlas.angebote/edit-angebote.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-admin.js" onload="list.render_user_assignments_page()"></script>

        <meta th:replace="fragments/tracker" />
    </head>
    <body class="kiezatlas angebotsinfos assignment">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="pusher">

            <div class="left-side">
                <div class="task-info">
                    <h3>
                        Verantwortliche f&uuml;r <span class="angebot-name">einen Ortsdatensatz</span> festlegen.<br/>
                    </h3>
                    <p>
                        <span class="label">Bitte w&auml;hle einen Ort &uuml;ber das Suchfeld</span>
                        <!--span class="help">?<span-->
                    </p>
                </div>

                <div class="form-area assignment">
                    <form id="name-search-form" action="javascript:list.void();" accept-charset="UTF-8">
                        <div class="ui input">
                            <input id="name-search" type="text" placeholder="Name des Ortes oder der Einrichtung" />
                            <input id="do-search" type="submit" class="btn" value="Ort suchen"/>
                        </div>
                    </form>
                    <div class="search-hint">
                        <span class="label search-info"></span>
                        <label class="">&nbsp;Filtern nach Bezirk</label>
                        <select id="district-filter" onchange="set_search_district_filter()">
                            <option value="none">Keine Einschr&auml;nkung</option>
                            <option value="7293">Charlottenburg-Wilmersdorf</option>
                            <option value="7278">Friedrichshain-Kreuzberg</option>
                            <option value="7302">Lichtenberg</option>
                            <option value="1707925">Marzahn-Hellersdorf</option>
                            <option value="7275">Mitte</option>
                            <option value="7287">Neuk&ouml;lln</option>
                            <option value="7290">Pankow</option>
                            <option value="1707928">Reinickendorf</option>
                            <option value="7296">Spandau</option>
                            <option value="7299">Steglitz-Zehlendorf</option>
                            <option value="7281">Tempelhof-Sch&ouml;neberg</option>
                            <option value="7284">Treptow-K&ouml;penick</option>
                        </select>
                        <br/>
                    </div>
                    <div class="geo-objects-area">
                        <div class="einrichtungen"></div>
                    </div>
                </div>

            </div>
            <div class="right-side">
                <h3>Nutzernamen der AnsprechpartnerInnen</h3>
                <div class="einrichtungen"></div>
                <div class="help"></div>
                <h3>AnsprechpartnerIn hinzuf&uuml;gen</h3>
                <div class="add-assignment">
                    <select class="assign-username ui search normal selection dropdown">
                        <option value="-1" class="placeholder">Benutzer ausw&auml;hlen</option>
                        <option th:each="username : ${confirmationMembers}" th:text="${username.simpleValue}" th:value="${username.id}"></option>
                    </select>
                    <button th:onclick="'list.do_assign_ansprechpartner()'" class="ui button">
                        Hinzuf&uuml;gen
                    </button>
                </div>
            </div>
        </div>
    
        <p>&nbsp;</p>

        <div class="footer" th:include="fragments/navigation :: footer-links (publisher=false)"></div>

    </body>
    </html>

