<html>
    <head>
        <title>Kiezatlas 2 - Startseite</title>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/dist/leaflet-1.2/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/dist/leaflet-1.2/leaflet.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init(false)"></script>

    </head>
    <body class="ui page">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top2 (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div class="ui vertical segment teaser">
                <div class="ui container">
                    <h2 class="header blue5bg white thin">
                        Unser Kiezatlas f&uuml;r<br/>
                        <b>Mitte</b>
                    </h2>
                    <div class="header subline blue1">
                        <div class="bold title">Einleitungstext Kiezatlas 2.0</div>
                        Massive copytext on massive image text
                    </div>
                </div>
            </div>

            <div th:replace="fragments/search :: dialog (true, ${districts}, ${tags})"></div>

            <!-- Content Segment Area -->
            <div class="ui vertical container segment content">
                <div class="ui equal width stackable grid">
                    <div class="first row">
                        <!-- Aktuelles Tile -->
                        <div class="eight wide column blue4bg aktuelles">
                            <div class="headline blue5bg white">
                                 <h3>Aktuelles</h3>
                            </div>
                            <div class="news-item">
                                <div class="date bold">18. M&auml;rz 2018, 15:30 Uhr</div>
                                <div class="headline">
                                    Headline<br/>
                                    <a href="/"><i class="icon caret right"></i>mehr Infos</a>
                                </div>
                            </div>
                        </div>
                        <!-- Umreissuche Tile -->
                        <div class="column yellowbg circle-search">
                            <h3>Verwenden der Umkreissuche</h3>
                            <div class="subline">
                                Lorem ipsum tra lala hicks.
                            </div>
                             <img src="/de.kiezatlas.website/images/Umkreissuche-75.jpg"
                                 title="Zur Registrierung und Eingabe neuer Orte" alt="Grafik als Eingabeaufforderung"/>
                        </div>
                        <!-- Call-to-Action Tile -->
                        <div class="column yellowbg action">
                            <img src="/de.kiezatlas.website/images/einrichtung_dummy-75.jpg"
                                 title="Zur Registrierung und Eingabe neuer Orte" alt="Grafik als Eingabeaufforderung"/>
                            <h3>Stellen Sie Angebote oder Einrichtungen in den Kiezatlas</h3>
                            <div class="subline">
                                Lorem ipsum tra lala hicks.
                            </div>
                        </div>
                    </div>
                    <div class="second row">
                        <!-- Citymaps Tile -->
                        <div class="four wide column yellowbg citymaps">
                            <h3>Entdecken Sie unsere weiteren Stadtpl&auml;ne</h3>
                            <div class="subline">
                                Lorem ipsum tra lala hicks.
                                Familienportal Stadtplan<br/>
                                VskA Stadtteilzentren<br/>
                                <a href="/weitere-stadplaene"><i class="icon caret right"></i>weitere Stadtpl&auml;ne</a>
                            </div>
                        </div>
                        <!-- LOR Datenbank Tile -->
                        <div class="column yellowbg lor-area action">
                            <img src="/de.kiezatlas.website/images/Bild_LOR-75.jpg"
                                 title="Link zu den Sozialraumdaten - Datenbank LOR" alt="Kartengrafik als Link zu den Sozialraumdaten"/>
                            <h3>Sozialraumdaten zu lebensweltlich orientierten R&auml;umen (LOR)</h3>
                            <div class="subline">
                                Lorem ipsum tra lala hicks.
                            </div>
                        </div>
                    </div>
                    <div class="row third">
                        <div class="column active inverted segment map dimmer">
                            <h3>Angebote und Einrichtungen auf einem Blick</h3>
                            <!-- Map Segment -->
                            <div class="ui vertical active inverted segment dimmer">
                                <div id="map">
                                    <div class="ui text loader">Lade Stadtplan...</div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>

            <!-- Footer Segment -->
            <div class="ui vertical segment footer blue4bg">
                <div th:replace="fragments/footer :: footer-new "></div>
            </div>

        </div>

    </body>
</html>
