<!DOCTYPE html>
<html>
    <head>
        <title th:text="'Bearbeiten ' + ${geoobject.name} + ' - Kiezatlas'"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link type="text/css" rel="stylesheet" href="/de.kiezatlas.angebote/dist/vendor/jquery-ui-1.12.1-kiezatlas.min.css"/>
        <link type="text/css" rel="stylesheet" href="/de.kiezatlas.website/vendor/leaflet/leaflet.css"/>

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />
        <!--link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.css" /-->

        <script defer="true" type="text/javascript" src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/vendor/dm4-webclient/jquery/jquery.ui.touch-punch.min.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/dist/vendor/dm4-webclient-utils.min.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/vendor/dm4-webclient/util/gui_toolkit.js"></script>
        <!--script defer="true" type="text/javascript" src="/de.kiezatlas.website/vendor/leaflet/leaflet.js"></script-->
        <script defer="true" type="text/javascript" src="/de.kiezatlas.angebote/vendor/ckeditor/ckeditor.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.angebote/vendor/ckeditor/config.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/ka-model.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/search-angebote.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('place-edit')"></script>
        <!--script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script-->
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" type="text/javascript" src="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.js"></script>
        <!-- script src="/de.kiezatlas.website/ka-map.js"></script-->

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            // Page initialization
            var districtId = /*[[${geoobject.bezirkId}]]*/ '-1';
            var districtName = /*[[${geoobject.bezirk}]]*/ 'Berlin';
            console.log("initialized district filter in frontend", districtId, districtName)
            var NEIGHBOUR_QUERY_RADIUS = 800
            var draggableMarker, map, circleMarker, name, latitude, longitude, lCoordinate;
            latitude = /*[[${geoobject.latitude}]]*/ undefined;
            longitude = /*[[${geoobject.longitude}]]*/ undefined;
            name = /*[[${geoobject.name}]]*/ undefined;
            searchText = /*[[${search}]]*/ ''
            searchType = /*[[${searchType}]]*/ 'place'
            searchContext = /*[[${searchContext}]]*/ '0'
            searchMethod = /*[[${searchMethod}]]*/ 'quick'
            searchNearby = /*[[${searchNearby}]]*/ undefined
            window.onload = function() {
                lCoordinate = L.latLng(latitude, longitude)
                var kiezatlasWsId = /*[[${workspace.id}]]*/ undefined;
                if (kiezatlasWsId) {
                    js.remove_cookie("dm4_workspace_id")
                    js.set_cookie("dm4_workspace_id", kiezatlasWsId)
                }
                document.cookie = " dm4_no_geocoding=true;"
                map = L.map('map', { scrollWheelZoom: false } ).setView(lCoordinate, 17)
                L.tileLayer('https://api.tiles.mapbox.com/v4/kiezatlas.pd8lkp64/{z}/{x}/{y}.png?' // old style id="kiezatlas.map-feifsq6f"
                    + 'access_token=pk.eyJ1Ijoia2llemF0bGFzIiwiYSI6ImNpa3BndjU2ODAwYm53MGxzM3JtOXFmb2IifQ._PcBhOcfLYDD8RP3BS0U_g', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'
                    + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &#169; <a href="http://mapbox.com">Mapbox</a>',
                    id: 'kiezatlas.m7222ia5'}).addTo(map)
                draggableMarker = L.marker(lCoordinate, { draggable: true} )
                draggableMarker.on('dragend', function(e) {
                    var pos = draggableMarker.getLatLng()
                    // console.log("Position Update, Latitude", pos.lat, "Longitude", pos.lng, pos)
                    document.getElementById('latitude-val').value = Number((pos.lat).toFixed(5))
                    document.getElementById('longitude-val').value = Number((pos.lng).toFixed(5))
                })
                circleMarker = L.circleMarker(lCoordinate, {
                    fillColor: model.colors.ka_yellow, color : model.colors.blue3, fillOpacity: 1,
                    weight: 3, opacity: 1, radius: 10
                })
                circleMarker.addTo(map)
                CKEDITOR.inline('beschreibung')
                CKEDITOR.inline('oeffnungszeiten')
                do_manual_placement()
                // 2) fetch geo objects naerby
                karestc.get_places_nearby(lCoordinate, NEIGHBOUR_QUERY_RADIUS, function(places) {
                    console.log("Found neighbouring places in radius of " + NEIGHBOUR_QUERY_RADIUS + "m", places.length)
                    for (var p in places) {
                        var place = places[p]
                        if (place.name !== name && (place.longitude != longitude && place.latitude != latitude)) {
                            var neighbour = create_nearby_marker(place)
                            neighbour.addTo(map)
                        }
                    }
                })
                // circleMarker.bringToFront()
            }

            function do_reverse_geocode() {
                karestc.do_reverse_geocode(leafletMap, undefined, function(result) {
                    console.log("Reverse Geocoded Address Component", result)
                })
            }

            function do_geocode() {
                var streetNr = document.getElementById('streetnr').value
                var zipCode = document.getElementById('postal-code').value
                var districtSelect = document.getElementById('district')
                var selectedDistrict = districtSelect.options[districtSelect.selectedIndex]
                var citySelect = document.getElementById('city')
                var selectedCity = citySelect.options[citySelect.selectedIndex]
                var countrySelect = document.getElementById('country')
                var selectedCountry = countrySelect.options[countrySelect.selectedIndex]
                var queryString = streetNr + ", "
                if (zipCode.length > 0) queryString += zipCode + " "
                if (selectedCity.value !== "undefined") queryString += selectedCity.text + " "
                console.log("Selected District", districtSelect, selectedDistrict.value)
                if (selectedDistrict.value !== -1 && !selectedDistrict.text.startsWith("Bitte Bezirk")) queryString += selectedDistrict.text + " "
                queryString += selectedCountry.text
                karestc.do_geocode(queryString, function(response) {
                    try {
                        var postalCode = parse_google_response("postal_code", response.results[0])
                        var districtName = parse_google_response("sublocality_level_1", response.results[0])
                        // var streetNr = parse_google_response("sublocality_level_1", response.results[0])
                        // var cityName = parse_google_response("sublocality_level_1", response.results[0])
                        document.getElementById("latitude-val").value = response.results[0].geometry.location.lat
                        document.getElementById("longitude-val").value = response.results[0].geometry.location.lng
                        do_manual_placement()
                        $('#google-district').val(districtName)
                        console.log("Geo Coded Response", response.results[0],"PLZ", postalCode, "Bezirk", districtName)
                    } catch (e) {
                        alert("Die Koordinaten konnten leider nicht automatisch ermittelt werden. Bitte versuchen Sie es mittels "
                            + "manueller Positionierung des Markierers und unter Anpassung des Kartenausschnitts.")
                    }
                })
            }

            function parse_google_response(fieldKey, results) {
                for (var idx in results["address_components"]) {
                    var comp = results["address_components"][idx]
                    for (var tdx in comp.types) {
                        if (comp.types[tdx] === fieldKey) return comp.short_name
                    }
                }
                return undefined
            }

            function clear_coordinates() {
                document.getElementById('latitude-val').value = "52.5"
                document.getElementById('longitude-val').value = "13.4"
            }

            function reset_coordinates() {
                if (map.hasLayer(draggableMarker)) { // initiate standard marker
                    map.removeLayer(draggableMarker)
                    circleMarker.addTo(map)
                }
                document.getElementById('latitude-val').value = latitude
                document.getElementById('longitude-val').value = longitude
                update_marker_position()
            }

            function update_marker_position() {
                var newLat = document.getElementById('latitude-val').value
                var newLong = document.getElementById('longitude-val').value
                draggableMarker.setLatLng(L.latLng(newLat, newLong))
                map.panTo(draggableMarker.getLatLng())
                is_default_coordinate_pair()
            }

            function do_manual_placement() {
                if (map.hasLayer(circleMarker)) { // initiate draggable marker
                    map.removeLayer(circleMarker)
                    draggableMarker.addTo(map)
                }
                update_marker_position()
            }

            function start_upload() {
                open_upload_dialog("/images/upload", function(response) {
                    console.log("Bild Upload Handler", response)
                    $('#bild-topic').val(response.id)
                }, $("body"))
            }

            function is_valid_email() {
                var $email = $('#email-address')
                if ($email.val().indexOf("@") === -1 || $email.val().indexOf(".") === -1) {
                    if (!$email.hasClass('invalid')) $email.addClass("invalid")
                    return false
                } else {
                    $email.removeClass("invalid")
                    return true
                }
            }

            function is_valid_zip_code() {
                var $plz = $('#postal-code')
                if ($plz.val().length !== 5) {
                    if (!$plz.hasClass('invalid')) $plz.addClass("invalid")
                    return false
                } else {
                    $plz.removeClass("invalid")
                    return true
                }
            }

            function is_valid_district() {
                var $district = $('#district')
                if ($district.val() === "-1") {
                    if (!$district.hasClass('invalid')) $district.addClass("invalid")
                    return false
                } else {
                    $district.removeClass("invalid")
                    return true
                }
            }

            function is_default_coordinate_pair() {
                var $lat = $('#latitude-val')
                var $lon = $('#longitude-val')
                if($lat.val() === "52.5" && $lon.val() === "13.4") {
                    if (!$lat.hasClass('invalid')) $lat.addClass("invalid")
                    if (!$lon.hasClass('invalid')) $lon.addClass("invalid")
                    return true
                }
                return false
            }

            function submit_form() {
                if (!is_valid_district() || !is_valid_email() || !is_valid_zip_code() || is_default_coordinate_pair()) {
                    console.warn("Form could not be submitted cause of missing input")
                    if (!is_valid_district()) {
                        show_input_warning('Bitte w&auml;hle einene Bezirk aus')
                    } else if (!is_valid_email()) {
                        show_input_warning('Bitte gib eine Email Adresse an')
                    } else if (!is_valid_zip_code()) {
                        show_input_warning('Bitte gib eine Postleitzahl an')
                    } else if (is_default_coordinate_pair()) {
                        show_input_warning('Bitte korrigiere den Standort auf der Karte‚')
                    }
                } else {
                    $("#geoobject-form").submit()
                }
            }

            function show_input_warning(warning) {
                $('#duplicates').html(warning)
            }

            function search_for_duplicates() {
                if ($('#geo-id').val() === "-1") { // Attempt to create a new geo object
                    var nameInput = $('#geoname').val()
                    if (nameInput.length < 3) return;
                    // var streetInput = $('#streetnr').val()
                    var $area = $('#duplicates')
                    $.getJSON('/website/search/duplicates?geoobject=' + nameInput, function(results) {
                        if (results && results.length > 0 && results.length < 20) {
                            $area.html("Im Kiezatlas gibt es bereits einige Orte unter diesem Namen:<br/>")
                            for (var e in results) {
                                var result = results[e]
                                if (result){
                                    var html = '<a href="/website/geo/'+result.id+'" title="Öffnet diesen Datensatz '
                                        + 'in einem neuen Fenster" target="_blank">'+ result.name + '</a>'
                                    if (e < results.length - 1) html+= ", "
                                    $area.append(html)
                                }
                            }
                            $area.append("<br/>Sind Sie sich sicher das Sie dies als neuen Ort anlegen m&ouml;chten?")
                        } else if (results.length === 0) {
                            $area.empty()
                        } else if (results.length > 30) {
                            console.warn("Es gibt zu viele Treffer für den Namen..")
                            $area.empty()
                        }
                        console.log("Duplicates search for geo objects", results)
                    })
                } else {
                    console.log("Editing an existing geo object..")
                }
                is_valid_district()
                is_valid_zip_code()
                is_valid_email()
                is_default_coordinate_pair()
            }

            /**
             * GUIToolkit Helper Methods copied from dm4-webclient module
             * @param   uploadResource    the file repository path (a string) to upload the selected file to. Must begin with "/".
             * @param   callback    the function that is invoked once the file has been uploaded and processed at server-side.
             *                      One argument is passed to that function: the object (deserialzed JSON)
             *                      returned by the (server-side) executeCommandHook. ### FIXDOC
             * @param   $parent     jQuery Parent (DOM) Element
             */
            function open_upload_dialog(uploadResource, callback, $parent) {
                // install upload target
                var upload_target = $("<iframe>", {name: "upload-target"}).hide()
                $("body").append(upload_target)
                // create upload dialog
                var upload_form = $("<form>", {
                    method:  "post", enctype: "multipart/form-data",
                    target:  "upload-target", action: uploadResource
                })
                .append($('<input type="file">').attr({name: "file", size: 60}))
                .append($('<input class=\"button\" type="submit">').attr({value: "Upload"}))
                .append($('<br/><br/><label>Hinweis: Das Bild sollte die Gr&ouml;&szlig;e von 360px nicht '
                    + '&uuml;berschreiten.</label>'))
                //
                var toolkit = new GUIToolkit()
                var upload_dialog = toolkit.dialog({id:"picture-upload", title: "Füge Bild hinzu", content: upload_form})
                $('.ui-dialog.ui-widget').show()

                // bind handler
                upload_target.unbind("load")    // Note: the previous handler must be removed
                upload_target.load(upload_complete)

                    function upload_complete() {
                        upload_dialog.close()
                        // Note: iframes must be accessed via window.frames
                        var response = $("pre", window.frames["upload-target"].document).text()
                        try {
                            var response_object = JSON.parse(response)
                            callback(response_object, $parent)
                        } catch (e) {
                            console.warn("Upload failed: \"" + response_object + "\"\nException=" + JSON.stringify(e))
                        } finally {
                            $('.ui-dialog.ui-widget').hide()
                        }
                    }
                return undefined
            }

        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="ui page detail kiezatlas topic edit">

        <!-- Following Menu -->
        <nav id="lower-page-nav" th:include="fragments/navigation :: lower-page-nav"></nav>

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <div id="header" class="ui container vertical segment">
                <div class="welcome"></div>
            </div>

            <!-- Details Area -->
            <div id="detail-area" class="ui vertical segment commands container">
                    <h2 th:if="${geoobject.id eq -1}">Neuen Ort anlegen</h2>
                    <h2 th:if="${geoobject.id gt -1}">Ortseintrag bearbeiten</h2>
                    <div class="commands">
                        <span th:if="${!#strings.isEmpty(message)}" th:utext="${message}" class="message"></span>
                        <!--a th:if="${editable} and ${authenticated}" th:href="'/website/geo/' + ${geoobject.id}">Cancel</a-->
                    </div>
                    <p class="comment" th:each="comment : ${geoobject.comments}">
                        <span class="message" th:text="${comment.message}"></span>
                        <span class="contact" th:if="${comment.contact}" th:text="'(' + ${comment.contact} + ')'"></span>
                    </p>
            </div>

            <div class="ui vertical segment blue4bg">
                <div id="map"></div>
                <div class="info-area ui container">
                    <button onclick="submit_form()" id="save" class="ui button green">Speichern</button>
                    <a class="button red ui" th:if="${geoobject.id} != -1" th:href="'/website/geo/' + ${geoobject.id}">Abbrechen</a>
                    <a class="button red ui" th:if="${geoobject.id} == -1" href="/angebote/my">Abbrechen</a>
                </div>
            </div>

            <div class="ui vertical container segment form">
                <div class="warning" id="duplicates"></div>
                <div th:if="${!#strings.isEmpty(warning)}" th:utext="${warning}" class="warning message"></div>
                <form class="infos ui form" id="geoobject-form" action="/website/geo/save" method="POST">
                    <input th:if="${!#strings.isEmpty(geoobject.id)}" type="hidden" id="geo-id" name="id" th:value='${geoobject.id}'/>

                    <div class="info-area ui grid equal width stackable">

                        <div class="left-side ui column">
                            <!-- Essential Einrichtungs Informationen -->
                            <label for="name">Name<span class="required">*</span></label>
                            <div class="ui fluid input">
                                <input id="geoname" type="text" required="true" minlength="3" onblur="search_for_duplicates()"
                                       name="name" th:value='${geoobject.name}'/>
                            </div>
                            <label for="strasse">Stra&szlig;enname</label>
                            <div class="ui fluid input">
                                <input type="text" id="streetnr" name="strasse" th:value='${geoobject.strasse}'/>
                            </div>
                            <label for="plz">Postleitzahl, Bezirk<span class="required">*</span></label>
                            <div class="ui input">
                                <input type="number" required="true" minlength="5" id="postal-code" onblur="is_valid_zip_code()"
                                       class="plz" name="plz" th:value='${geoobject.plz}'/>
                            </div>
                            <select id="district" class="ui selection dropdown" name="district" required="true" onblur="is_valid_district()">
                                <option value="-1" class="selected">Bitte Bezirk ausw&auml;hlen</option>
                                <option th:each="district : ${availableDistricts}" th:selected="${#strings.toString(district.simpleValue) eq geoobject.bezirk}"
                                        th:value="${district.id}" th:text="${district.simpleValue}"></option>
                            </select>
                            <!--input type="hidden" id="google-district" name="googleDistrictName" value=""/-->
                            <select id="city" name="city" class="ui selection dropdown" >
                                <option th:each="city : ${availableCities}" th:selected="${#strings.toString(city.simpleValue) eq geoobject.city}"
                                        th:value="${city.id}" th:text="${city.simpleValue}"></option>
                            </select>
                            <select id="country" name="country" class="ui selection dropdown" >
                                <option th:each="city : ${availableCountries}" th:selected="${#strings.toString(city.simpleValue) eq geoobject.country}"
                                        th:value="${city.id}" th:text="${city.simpleValue}"></option>
                            </select>
                            <br/>
                            <label for="ansprechpartner">AnsprechpartnerIn</label>
                            <div class="ui fluid input">
                                <!-- Geo Object Desription & Details -->
                                <input type="text" name="ansprechpartner" th:value='${geoobject.ansprechpartner}'/>
                            </div>
                            <label for="telefon">Telefon</label>
                            <div class="ui fluid input">
                                <input type="text" name="telefon" th:value='${geoobject.telefon}'/>
                            </div>
                            <label for="email">Email<span class="required">*</span></label>
                            <div class="ui fluid input">
                                <input type="text" name="email" onblur="is_valid_email()"
                                       id="email-address" required="true" th:value='${geoobject.email}'/>
                            </div>
                            <label for="fax">Fax</label>
                            <div class="ui fluid input">
                                <input type="text" name="fax" th:value='${geoobject.fax}'/>
                                <!-- Image File Upload, Träger, LOR Nummer -->
                                <!-- input type="button" class="button" value="Bild hinzufügen" onclick="start_upload()"/>
                                <input type="hidden" id="bild-topic" name="fileTopicId" value=""/-->
                            </div>
                        </div>

                        <div class="right-side ui column">
                            <!-- Geo Coordinate Settings -->
                            <label>Standortangabe (Geo Koordinate, Breiten- und L&auml;ngengrad)<span class="required">*</span></label>
                            <div class="ui input">
                                <input class="coordinates" onchange="do_manual_placement()" id="latitude-val" type="number" step="any" name="lat" th:value='${geoobject.latitude}'/>
                                <input class="coordinates" onchange="do_manual_placement()" id="longitude-val" type="number" step="any" name="lon" th:value='${geoobject.longitude}'/>
                            </div><br/><br/>
                            <label for="lat">Eomgane m&ouml;glich durch <b>klicken &amp; ziehen des Markers</b> (oben) oder
                                    &uuml;ber die Angabe der Adresse (links) und die Funktion <b>Koordinate ermitteln</b>.</label>
                            <div class="ui input coord-buttons">
                                <a class="ui button reset green" onclick="do_geocode()">Automatisch ermitteln</a>
                                <!--a class="button" onclick="do_manual_placement()">Manuell platzieren</a-->
                                <a class="ui button red" onclick="reset_coordinates()">Zur&uuml;cksetzen</a>
                                <a class="ui button red" onclick="clear_coordinates()">L&ouml;schen</a>
                            </div>

                            <!-- HTML Data -->
                            <label for="beschreibung">Beschreibung</label>
                            <div class="ui input">
                                <textarea id="beschreibung" name="beschreibung"
                                          contenteditable="true" th:utext="${geoobject.beschreibung}"/>
                            </div>
                            <br/>
                            <label for="open">&Ouml;ffnungszeiten</label>
                            <div class="ui input">
                                <textarea id="oeffnungszeiten" name="open" contenteditable="true" th:utext='${geoobject.oeffnungszeiten}'/>
                            </div><br/>
                            <!-- label for="stichworte">Stichworte</label>
                            <input type="text" name="stichworte" th:value='${geoobject.stichworte}'/-->
                            <label for="website">Website</label>
                            <div class="ui fluid input">
                                <input type="text" name="website" th:value='${geoobject.webpage}'/>
                            </div>

                            <!-- Geo Object Category Relations: Zielgruppe und Thema -->
                            <div th:if="${!simple}">
                                <label for="zielgruppen">Zielgruppe</label>
                                <select id="zielgruppen" class="ui mutiple fluid selection dropdown" name="zielgruppen" multiple="true">
                                    <option th:each="category : ${availableZielgruppen}"
                                            th:selected="${zielgruppen.contains(category)}"
                                            th:value="${category.id}" th:text="${category.simpleValue}"></option>
                                </select>
                                <label for="thema">Thema</label>
                                <select id="thema" class="ui mutiple selection fluid dropdown" name="themen" multiple="true">
                                    <option th:each="category : ${availableThemen}"
                                            th:selected="${themen.contains(category)}"
                                            th:value="${category.id}" th:text="${category.simpleValue}"></option>
                                </select>
                                <label for="angebote-crit">Angebot</label>
                                <select id="angebote-crit" class="ui mutiple fluid selection dropdown" name="angebote" multiple="true">
                                    <option th:each="thema : ${availableAngebote}" th:value="${thema.id}" th:text="${thema.simpleValue}"></option>
                                </select>
                            </div>
                        </div>
                        <!--
                        <p class="sozialraumdaten" th:if="${!#strings.isEmpty(geoobject.lor)}"><a th:href="@{http://sozialraumdaten.kiezatlas.de/seiten/2014/12/(lor=${geoobject.lor})}">Sozialraumdaten</a></p>
                        <a class="imprint" th:href="${geoobject.imprint}">Impressum</a-->
                    </div>
                </form>
                <!--div th:if="${!simple}">
                    <div class="categories">
                        <div class="related-topics" th:each="audience : ${zielgruppen}">
                            <span class="thema" th:text='${audience.simpleValue}'>Name der Zielgruppe</span>
                        </div>
                        <div class="related-topics" th:each="service : ${angebote}">
                            <span class="angebot" th:text='${service.simpleValue}'>Name der Angebote</span>
                        </div>
                        <div class="related-topics" th:each="topic : ${themen}">
                            <span class="zielgruppe" th:text='${topic.simpleValue}'>Name des Themas</span>
                        </div>
                    </div>
                </div-->
            </div>
        </div>

        <!-- Footer Segment -->
        <div th:replace="fragments/footer :: footer-new "></div>

    </body>
</html>

