<html>
    <head>
        <title th:text="${geoobject.name} + ' - Kiezatlas'"></title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <!--script defer="true" src="/de.kiezatlas.website/ka-map.js"></script-->
        <script th:inline="javascript">
            /*<![CDATA[*/
                var districtId = /*[[${geoobject.bezirkId}]]*/ '-1';
                var districtName = /*[[${geoobject.bezirk}]]*/ 'Berlin';
            /*]]>*/
        </script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('place')"></script>

    </head>
    <body class="ui page detail">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small" />

            <div th:replace="fragments/search :: dialog (false, ${districts}, ${tags}, ${search}, ${searchType})"></div>

            <!-- Name, Description Area -->
            <div class="ui vertical container segment entry">
                <h3>
                    <img src="/de.kiezatlas.website/images/g4208.png" class="marker" alt="Icon für Datensätze"/>
                    <span th:text='${geoobject.name}'></span>
                </h3>
                <div class="ui grid equal width fluid stackable">
                    <div class="column description" th:if="${!#strings.isEmpty(geoobject.beschreibung)}">
                        <div th:utext='${geoobject.beschreibung}'>Beschreibung</div>
                    </div>
                    <!--div class="column opening" th:if="${!#strings.isEmpty(geoobject.oeffnungszeiten)}">
                        <label>&Ouml;ffnungszeiten</label>
                        <span th:utext='${geoobject.oeffnungszeiten}'>&Ouml;ffnungszeiten</span>
                    </div-->
                </div>
            </div>
            <!-- Angebote Area -->
            <div th:if="${angebotsinfos}" class="ui vertical angebote blue4bg segment">
                <div class="ui container">
                    <div class="ui grid stackable">
                        <!--h3 class="label">Aktuelle Angebote dieser Einrichtung</h3-->
                        <div class="four wide column" th:each="angebotsinfo : ${angebotsinfos}">
                            <div class="whitebg">
                                <h3 th:text="${angebotsinfo.angebotsName}">Name des Angebots</h3>
                                <!--div th:utext="${angebotsinfo.description}"></div-->
                                <div th:if="${!#strings.isEmpty(angebotsinfo.additionalInfo)}"><span th:utext="${angebotsinfo.additionalInfo}"></span></div>
                                <div th:if="${!#strings.isEmpty(angebotsinfo.additionalContact)}"><span th:text="${angebotsinfo.additionalContact}"></span></div>
                                <p>
                                    <span class="italic" th:text="${angebotsinfo.startDate} + ' &ndash; ' + ${angebotsinfo.endDate}"></span><br/>
                                    <a class="read-more" th:href="'/angebote/' + ${angebotsinfo.angebotsId}">
                                        <i class="icon caret right"></i>mehr Infos
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--div class="commands">
                <p th:if="${!#strings.isEmpty(message)}" th:text="${message}"></p>
                <a class="ui button olive edit" th:if="${authenticated} and ${editable}" th:href="'/website/geo/edit/' + ${geoobject.id}">Ortseintrag bearbeiten</a>
                <a class="ui button red delete" th:if="${authenticated} and ${deletable} and ${!is_trashed}" th:href="'javascript:delete_geo_object(' + ${geoobject.id} + ')'">In den Papierkorb</a>
                <a class="ui button red delete" th:if="${authenticated} and ${is_trashed} and ${deletable}" th:href="'/website/geo/delete/final/' + ${geoobject.id}">Endg&uuml;ltig l&ouml;schen</a>
                <a class="ui button olive publish" th:if="${is_publisher} and ${!is_published}" th:href="'/website/geo/confirm/' + ${geoobject.id}">Ver&ouml;ffentlichen</a>
            </div>
            <p class="comment" th:each="comment : ${geoobject.comments}">
                <span class="message" th:text="${comment.message}"></span>
                <span class="contact" th:if="${comment.contact}" th:text="'(' + ${comment.contact} + ')'"></span>
            </p-->

            <!-- Details Map Area -->
            <div class="ui vertical segment map inverted active dimmer">
                <!-- Map Segment -->
                <script defer="true" type="text/javascript" th:inline="javascript">
                    function init_detail_map() {
                        var latitude = /*[[${geoobject.latitude}]]*/ undefined;
                        var longitude = /*[[${geoobject.longitude}]]*/ undefined;
                        var corner1 = L.latLng(52.716749, 12.965609),
                            corner2 = L.latLng(52.304296, 13.797459),
                            bounds = L.latLngBounds(corner1, corner2);
                        var map = undefined
                        if (L) {
                            map = L.map('map', { center: [ latitude, longitude ], zoom: 16, minZoom: 10, maxBounds: bounds, zoomSnap: 0.5 })
                            L.tileLayer('https://api.tiles.mapbox.com/v4/kiezatlas.pd8lkp64/{z}/{x}/{y}.png?' // old style id="kiezatlas.map-feifsq6f"
                               + 'access_token=pk.eyJ1Ijoia2llemF0bGFzIiwiYSI6ImNpa3BndjU2ODAwYm53MGxzM3JtOXFmb2IifQ._PcBhOcfLYDD8RP3BS0U_g', {
                               attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'
                               + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &#169; <a href="http://mapbox.com">Mapbox</a>',
                               id: 'kiezatlas.m7222ia5'}).addTo(map)
                           console.log("Lat", latitude, "Lng", longitude)
                           L.circleMarker([latitude, longitude],).addTo(map);
                        } else {
                            console.log("Leaflet not loaded yet")
                        }
                    }
                </script>
                <div id="map">
                    <div class="ui container">
                        <br/>Lade Stadtplan...
                    </div>
                </div>
            </div>

            <!-- Detailed Info Area -->
            <div class="ui vertical segment blue5bg info">
                <div class="info-area ui container">
                    <!--div class="data-features">
                        <label for="add-comment">Hinweis geben</label>
                        <select name="bearbeitungshinweis" id="add-comment" onchange="user_note_select">
                            <option value="ka2.util.outdated_address">Neue Anschrift</option>
                            <option value="ka2.util.outdated_contact">Neue Email-Adresse</option>
                            <option value="ka2.util.outdated_contact">Neue Telefonnummer</option>
                            <option value="ka2.util.outdated_contact">Neue/r AnsprechpartnerIn</option>
                            <option value="ka2.util.missing_webpage">Website hinzufügen</option>
                        </select>
                        <div class="comment-input-fields ui input hidden">
                            <div class="ui input">
                                <input name="hinweis" class="ui input message" type="text" placeholder="Anmerkung"/>
                            </div>
                            <div class="ui input">
                                <input name="kontakt" class="ui input contact" type="text" placeholder="Kontakt (Email, Name)"/>
                            </div>
                            <div class="ui input">
                                <button class="ok ui button default" type="button">Absenden</button>
                            </div>
                        </div>
                    </div-->
                    <div class="infos ui grid equal width stackable">
                        <div class="column">
                            <h3 class="white" th:text="${geoobject.name}">Name der Einrichtung</h3>
                            <div class="anschrift" th:if="${!#strings.isEmpty(geoobject.address)}">
                                <span th:utext='${geoobject.address}'>Anschrift:</span>
                            </div>
                            <div class="ansprechpartner" th:if="${!#strings.isEmpty(geoobject.ansprechpartner)}">
                                <label>AnsprechpartnerIn:</label>
                                <span th:utext='${geoobject.ansprechpartner}'>Ansprechpartner</span>
                            </div>
                            <div class="email" th:if="${!#strings.isEmpty(geoobject.email)}">
                                <label>Email:</label><!-- Todo: ### Obfuscate Email Value -->
                                <a th:href="'mailto:' + ${geoobject.email}" th:utext='${geoobject.email}'>Email</a>
                            </div>
                            <div class="telefon" th:if="${!#strings.isEmpty(geoobject.telefon)}">
                                <label>Telefon:</label>
                                <a th:href="'tel:' + ${geoobject.telefon}" th:text='${geoobject.telefon}'>Telefon</a>
                            </div>
                            <div class="fax" th:if="${!#strings.isEmpty(geoobject.fax)}">
                                <label>Fax:</label>
                                <span th:utext='${geoobject.fax}'>Fax</span>
                            </div>
                            <div class="opening" th:if="${!#strings.isEmpty(geoobject.oeffnungszeiten)}">
                                <label>&Ouml;ffnungszeiten:</label>
                                <span th:utext='${geoobject.oeffnungszeiten}'>&Ouml;ffnungszeiten</span>
                            </div>
                            <h3>
                                <a class="fahrinfo-link"
                                   th:href="@{https://fahrinfo.bvg.de/Fahrinfo/bin/query.bin/dn(Z=${geoobject.address},REQ0JourneyStopsZA1=2,start=1,pk_campaign='kiezatlas.de')}">
                                   <img src="/de.kiezatlas.website/images/rect4350.png"/>
                                </a>
                            </h3>
                        </div>
                        <div class="column">
                            <div class="website" th:if="${!#strings.isEmpty(geoobject.webpage)}">
                                <label>Website:</label>
                                <a target="_blank" th:if="!${geoobject.webpage.contains('http')}" th:href="'http://' + ${geoobject.webpage}" th:text="${geoobject.webpage}">Website</a>
                                <a target="_blank" th:if="${geoobject.webpage.contains('http')}" th:href="${geoobject.webpage}" th:text="${geoobject.webpage}">Website</a>
                            </div>
                            <div class="sozialraumdaten" th:if="${!#strings.isEmpty(geoobject.LORId)}">
                                <label>Sozialraumdaten:</label>
                                <a th:href="@{http://sozialraumdaten.kiezatlas.de/seiten/2017/06/(lor=${geoobject.LORId})}">
                                    Statistische Informationen zur Bev&ouml;lkerungsstruktur in der Umgebung dieses Ortes
                                </a>
                            </div>
                            <div class="regionen" th:if="${!#strings.isEmpty(geoobject.bezirk)}">
                                <label>Bezirk:</label>
                                <span th:utext='${geoobject.bezirk}'>Bezirk</span>
                            </div>
                            <div class="regionen" th:if="${!#strings.isEmpty(geoobject.bezirksregionName)}">
                                <label>Bezirksregion:</label>
                                <span th:utext='${geoobject.bezirksregionName}'>Bezirk</span>
                            </div>
                        </div>
                        <div class="column">
                            <p class="bild" th:if="${!#strings.isEmpty(geoobject.imageUrl)}">
                                <img th:src='${geoobject.imageUrl}' alt="Abbildung, Foto der Einrichtung" />
                            </p>
                        </div>
                    </div>
                </div>
                <div th:if="${authenticated}" class="ui container debug metadata">
                    <div class="creator">
                        Ein Eintrag von <a href="#creator" th:text="${geoobject.creator}" title="Benutzername"></a>
                        in Workspace <span class="workspace" th:text="${#strings.contains(workspace.simpleValue, 'DeepaMehta')} ? 'Standard' : ${workspace.simpleValue}"></span>.
                    </div>
                </div>
            </div>

            <div class="ui vertical segment container imprint">
                <div class="related-topics" th:if="${!#lists.isEmpty(zielgruppen)}">
                    <label>Zielgruppen: </label>
                    <span class="zielgruppe" th:each="audience : ${zielgruppen}"
                          th:text='${audience.simpleValue}'>Name der Zielgruppe</span>
                </div>
                <div class="related-topics" th:if="${!#lists.isEmpty(angebote)}">
                    <label>Angebote:</label>
                    <span class="angebot" th:each="service : ${angebote}"
                          th:text='${service.simpleValue}'>Name der Angebote</span>
                </div>
                <div class="related-topics" th:if="${!#lists.isEmpty(themen)}">
                    <label>Themen:</label>
                    <span class="thema" th:each="topic : ${themen}"
                          th:text='${topic.simpleValue}'>Name des Themas</span>
                </div>
                <div class="stichworte" th:if="${!#strings.isEmpty(geoobject.stichworte)}">
                    <label>Tags:</label>
                    <span th:utext='${geoobject.stichworte}'>Stichworte</span>
                </div>
                <div class="imprint">
                     <a th:href="${geoobject.imprint}">Impressum</a>
                </div>
            </div>

            <!-- Footer Segment -->
            <div th:replace="fragments/footer :: footer-new "></div>

        </div>

    </body>
</html>
