<html>
    <head>
        <title>Kiezatlas 2 - Startseite</title>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/leaflet-1.3.1/L.CircleEditor.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/pouchdb/pouchdb-6.2.0.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-model.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-map.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-favourites.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-website.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('gesamt')"></script>
        <script defer="true" src="/de.kiezatlas.website/search-angebote.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
                var frontpage = true
                searchText = /*[[${search}]]*/ '';
                searchType = /*[[${searchType}]]*/ 'place';
                searchContext = /*[[${searchContext}]]*/ '0';
                searchMethod = /*[[${searchMethod}]]*/ 'quick';
                searchNearby = /*[[${searchNearby}]]*/ 'berlin';
                zoomstufe = /*[[${zoomstufe}]]*/ '14';
                koordinate = /*[[${koordinate}]]*/ undefined;
                console.log("initializing search=", searchText, "type=", searchType, "site=", searchContext,
                "method=", searchMethod, "nearby=", searchNearby)
            /*]]>*/
        </script>


    </head>
    <body class="ui page">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div class="ui vertical segment teaser">
                <div class="ui container">
                    <h2 class="header blue5bg white thin">
                        Unser Kiezatlas f&uuml;r<br/>
                        <b>Berlin</b>
                    </h2>
                    <div class="header subline blue1">
                    </div>
                </div>
            </div>

            <div th:replace="fragments/search :: dialog (true, ${districts}, ${tags}, ${search}, ${searchType})"></div>

            <!-- Content Segment Area -->
            <div class="ui vertical container segment content">
                <div class="ui equal width stackable grid">
                    <div class="first row">
                        <!-- Aktuelles Tile -->
                        <div class="eight wide column blue4bg aktuelles">
                            <div class="headline blue5bg white">
                                <h3>Aktuelles <span class="context"></span></h3>
                            </div>
                            <div class="news-area ui active dimmer inverted">
                                <div class="ui loader">Lade Aktuelles</div>
                            </div>
                        </div>
                        <!-- Umreissuche Tile -->
                        <div class="column yellowbg circle-search">
                            <h3>Verwenden der Umkreissuche</h3>
                            <div class="subline">
                                Lorem ipsum tra lala hicks.
                            </div>
                             <img src="/de.kiezatlas.website/images/Umkreissuche-75.jpg"
                                 title="Zur Registrierung und Eingabe neuer Orte" alt="Grafik als Eingabeaufforderung"/>
                        </div>
                        <!-- Call-to-Action Tile -->
                        <div class="column yellowbg action">
                            <img src="/de.kiezatlas.website/images/einrichtung_dummy-75.jpg"
                                 title="Zur Registrierung und Eingabe neuer Orte" alt="Grafik als Eingabeaufforderung"/>
                            <h3>Stellen Sie Angebote oder Einrichtungen in den Kiezatlas</h3>
                            <div class="subline">
                                Lorem ipsum tra lala hicks.
                            </div>
                        </div>
                    </div>
                    <div class="second row">
                        <!-- Citymaps Tile -->
                        <div class="four wide column yellowbg citymaps">
                            <h3>Entdecken Sie unsere weiteren Stadtpl&auml;ne</h3>
                            <div class="subline">
                                Lorem ipsum tra lala hicks.
                                Familienportal Stadtplan<br/>
                                VskA Stadtteilzentren<br/>
                                <a href="/weitere-stadplaene"><i class="icon caret right"></i>weitere Stadtpl&auml;ne</a>
                            </div>
                        </div>
                        <!-- LOR Datenbank Tile -->
                        <div class="column yellowbg lor-area action">
                            <img src="/de.kiezatlas.website/images/Bild_LOR-75.jpg"
                                 title="Link zu den Sozialraumdaten - Datenbank LOR" alt="Kartengrafik als Link zu den Sozialraumdaten"/>
                            <h3>Sozialraumdaten zu lebensweltlich orientierten R&auml;umen (LOR)</h3>
                            <div class="subline">
                                Lorem ipsum tra lala hicks.
                            </div>
                        </div>
                    </div>
                    <div class="row third">
                        <div class="column active inverted segment map dimmer">
                            <h3>Angebote und Einrichtungen auf einem Blick</h3>
                            <!-- Map Location Header -->
                            <div class="map-location">
                                <div class="location-label blue5">
                                    <h3>
                                        <span class="text"></span>
                                        <!--button class="ui button"><i class="icon star outline"></i></button-->
                                    </h3>
                                </div>
                                <!-- Location detection by text delivers alternatives -->
                                <div id="street-alternatives" class="blue5"></div>
                                <ul id="places" class="blue2">
                                    <li class="ui-menu-item ui-corner-all ui-widget-content">
                                        <a href="#">Favoriten</a>
                                        <ul class="entries submenu"></ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Map Segment -->
                            <div class="ui vertical active inverted segment dimmer">
                                <div id="map">
                                    <div class="ui text loader">Lade Stadtplan...</div>
                                </div>
                                <div id="map-sidebar"></div>
                            </div>
                            <!-- Notification area -->
                            <div id="notification" class="blue2bg white thin" onclick="kiezatlas.close_message_window()">
                                <span class="message">Hi!</span>
                                <!-- a href="javascript:kiezatlas.close_message_window()">(x)</a-->
                            </div>
                        </div>
                    </div>
               </div>
            </div>

            <!-- Footer Segment -->
            <div th:replace="fragments/footer :: footer-new "></div>

        </div>

    </body>
</html>
