<!DOCTYPE html>
<html>
    <head>
        <title>Startseite - Kiezatlas 2</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.css" />

        <script defer="true" src="/de.kiezatlas.website/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/leaflet-1.3.1/L.CircleEditor.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/leaflet-1.3.1/leaflet.markercluster.js"></script>
        <script defer="true" src="/de.kiezatlas.website/vendor/pouchdb/pouchdb-6.2.0.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-model.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-map.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-favourites.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-website.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('search-map')"></script>
        <script defer="true" src="/de.kiezatlas.website/search-angebote.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
                var frontpage = false
                searchText = /*[[${search}]]*/ '';
                searchType = /*[[${searchType}]]*/ 'place';
                searchContext = /*[[${searchContext}]]*/ '0';
                searchMethod = /*[[${searchMethod}]]*/ 'fulltext';
                searchNearby = /*[[${searchNearby}]]*/ undefined;
                zoomstufe = /*[[${zoomstufe}]]*/ '14';
                koordinate = /*[[${koordinate}]]*/ undefined;
                console.log("initializing search=", searchText, "type=", searchType, "context=", searchContext,
                    "method=", searchMethod, "nearby=", searchNearby)
            /*]]>*/
        </script>

        <meta th:replace="fragments/tracker" />
    </head>
    <body class="map detail front">

        <div class="header">
            <!--div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div-->
            <div class="ui form">
                <div class="grouped fields">
                    <div class="ui icon action input spacing">
                        <input type="text" id="query" placeholder="Suchanfrage..."></input>
                        <button class="ui button">Suchen</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui container pusher">

            <div class="ui map-panel">
                <!--h3>Kartenansicht</h3-->
                <div id="map"></div>
            </div>

            <div class="ui side-panel">
                <div class="section">
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="options ui">
                                <label class="item">
                                    <input type="radio" name="mode" value="name"></input>
                                    Namenssuche
                                </label>
                                <label class="item">
                                    <input type="radio" name="mode" checked="true" value="fulltext"></input>
                                    Volltextsuche
                                </label>
                                <label class="item">
                                    <input type="radio" name="mode" value="radius"></input>
                                    Umkreissuche
                                </label>
                                <a class="item" href="#clear-district">Bezirksfilter aufheben</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <a class="item" href="#angebote"><div class="icon red"></div>Aktuelle Angebote</a>
                    <a class="item" href="#orte"><div class="icon blue"></div>Einrichtungen &amp; Orte</a>
                    <br/>
                </div>
                <div class="section">
                    <a class="item" href="#kategorien">Kategorien</a>
                </div>
                <div class="section">
                    <a class="item" href="#stichworte">Stichworte</a>
                </div>
                <div class="section">
                    <a class="item" href="#ansprechpartner">AnsprechpartnerInnen</a>
                </div>
                <div class="section">
                    <a class="item" href="#bezirksregionen">Bezirksregionen</a>
                </div>
                <div class="section">
                    <a class="item" href="#lor">Planungsr&auml;ume</a>
                </div>
            </div>
        </div>

        <div class="footer"></div>

    </body>
</html>
